---
---

$stitch-yellow: #ffcc00;
$protocol-black: #1e2023;

.summary {
    color: #808080;
    border-left: 5px solid #E50E51;
    font-size:16px;
}

/*
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: $protocol-black;
}

.nav > li > a:hover {
    background-color: $protocol-black;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: $protocol-black;
}*/

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: $protocol-black;
    font-weight: bold;
}

.navbar-inverse {
    background-color: $protocol-black;
    border-bottom: 0;
    
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #5b893c;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5b893c;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $protocol-black !important;
}

.btn-primary {
    color: #1e2023;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.4;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    min-width: 160px;
}

.btn-version-toggle {
    padding: 0px;
    }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border: 2px solid #ffcc00;
    color: #1e2023;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.printTitle {
    color: #1e2023 !important;
}

.anchorjs-link:hover {
    color: #4f7233;
}

div.sidebarTitle {
    color: #E50E51;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}