<!-- This file contains the instructions for
		generating storage credentials for an Azure SQL
		Data Warehouse. -->

<!-- When the include is called, it should include a
			`type` variable. Depending on the variable, 
			a different block of content will display.

			`type` can be one of:

			- `intro`
			- `generate-sas-url`
			- `retrieve-storage-access-key`
			 -->


{% case include.type %}


<!-- The intro content -->
{% when 'intro' %}

{% capture existing-storage-account %}
**This step requires an existing Azure Storage account.** For help getting started with an Azure Storage account, refer to [Microsoft's documentation](https://docs.microsoft.com/en-us/azure/storage/){:target="new"}.
{% endcapture %}
{% include note.html type="single-line" content=existing-storage-account %}

In this step, you'll generate the storage credentials required to access Azure Storage. Stitch uses [Azure Blob Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction){:target="new"} to stage data for [Polybase](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-guide?view=sql-server-2017){:target="new"} before it's finally loaded into your {{ destination.display_name }}.


<!-- The steps for generating the SAS URL -->
{% when 'generate-sas-url' %}

1. In the sidenav, click **Storage accounts**.
2. On the page that displays, click the name of the storage account you want to use.
3. The middle panel contains the Storage account menu. In the **Settings** section, click **Shared access signature**.
4. Leave the boxes for the **Allowed services**, **Allowed resource types**, and **Allowed permissions** checked. Because Microsoft doesn't currently allow users to individually grant permissions on services and resources, Stitch currently requires the default configuration, which includes all permissions. Refer to [Microsoft's documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/Constructing-an-Account-SAS){:target="new"} for more info.

   **Note**: Despite the permissions granted here, Stitch will never delete data.
5. Next, you'll define the access period using the **Start** and **End** fields in the **Start and expiry date/time** section:

   ![Start and end dates for Shared Access Signature generation in Microsoft Azure settings]({{ site.baseurl }}/images/destinations/microsoft-azure-sas-time-period.png)

   To reduce the likelihood of replication interruption, we recommend setting the expiration date well into the future.
6. In the **Allowed protocols** section, select **HTTPS only**.
7. For the **Signing key**, select the name of the key you want to use. **Note**: Stitch doesn't require the use of a specific key.
8. When finished, click the **Generate SAS and connection string** button.

9. A handful of fields will appear below the button. Locate the **Blob service SAS URL** field:

    ![The Blob Service SAS URL field, highlighted]({{ site.baseurl }}/images/destinations/microsoft-azure-blob-service-sas-url.png)

10. Copy the URL to somewhere handy - you'll need it to complete the setup.


<!-- The steps for retrieving the Storage Access Key -->
{% when 'retrieve-storage-access-key' %}

{% include note.html type="single-line" content="**Rotating keys**: If you rotate your storage access keys, you'll also need to update the Destination Settings in Stitch or you'll encounter connection issues." %}

1. In the middle panel menu, click **Access keys** in the **Settings** section.
2. On the page that displays, locate the section for the **Signing key** you selected in Step 7 of the previous section. For example: If you selected `key1` as the signing key, locate the section for **key 1**.
3. Copy the value in the corresponding **Key** field to somewhere handy - you'll need it to complete the setup.

   The **Key** fields are highlighted for both keys in the image below. Remember that you'll only need the **Key** field value for the signing key you selected:

   ![Highlighted Key fields for the Storage Access Keys in Microsoft Azure]({{ site.baseurl }}/images/destinations/microsoft-azure-storage-keys.png)

{% endcase %}