//----------------------------------
// Main Color Palette
//----------------------------------

// Primary - Brand
$stitch-yellow:                                   #FFCC00;
$protocol-black:                                  #1E2023;
$white:                                           #FFFFFF;

// Secondary - Brand
$blue-channel:                                    #3399CC;
$bit-blue:                                        #41C0FF;
$magenta-relay:                                   #CC3399;
$green-junction:                                  #66CC66;
$frequency-red:                                   #ED4040;

$gray-signal:                                     #F9F9F9;
$gray-stream:                                     #EAEAEA;
$gray-byte:                                       #999999;
$gray-batch:                                      #666666;
$black:                                           #000000;
$light-blue:                                      #DFF5FF;

$transparent:                                     rgba(255,255,255,0);

//----------------------------------
// Functional Colors
//----------------------------------

$gray-1:                                          $gray-signal;
$gray-2:                                          $gray-stream;
$gray-3:                                          $gray-byte;
$gray-4:                                          $gray-batch;

$fira:                                            "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//----------------------------------
// Widths
//----------------------------------

/* Mobile */
// mobile breakpoint MUST be the same as the mobile-nav.js breakpoint
$desktop-breakpoint: min-width 700px;
$larger-desktop-breakpoint: min-width 900px;
$even-larger-desktop-breakpoint: min-width 1100px;
/* Content width in Desktop */
$max-width: 1020px;
