
<!-- UI: page/button/section names, menu paths, etc -->
{% assign app = site.data.app %}

<!-- Simplifies internal links -->
{% assign link = site.data.urls %}

<!-- Stitch -->
{% assign stitch = site.data.stitch %}

<!-- UI Icons -->
{% assign ui-icon = site.data.ui.icons %}


<!-- Tooltips and terms -->
{% assign definitions = site.data.tooltips %}


<!-- Mapping of Stitch replication/system columns -->
{% assign system-column = site.data.stitch.sdc-columns.current-columns %}


<!-- Rejected Record table details & schema -->
{% assign rejected-records = site.data.stitch.system-tables.sdc-rejected %}


<!-- Stitch IP addresses  -->
{% assign ip-addresses = site.data.stitch.ip-addresses.stitch-app %}