{% case integration.name %}
{% when 'mongo' %}

{% capture object %}collection{% endcapture %}
{% capture Object %}collection{% endcapture %}
{% capture col %}field{% endcapture %}
{% capture rep-keys %}{{ link.replication.mongo-rep-keys }}{% endcapture %}

{% else %}

{% capture object %}table{% endcapture %}
{% capture Object %}Table{% endcapture %}
{% capture col %}column{% endcapture %}
{% capture rep-keys %}{{ link.replication.rep-keys }}{% endcapture %}

{% endcase %}

{% assign extraction = site.data.taps.extraction.database-queries %}

## Extracting data from {{ integration.display_name }} {#extract-data}

When you connect a database as an input, Stitch only needs read-only access to the databases, {{ object }}s, and {{ col }}s you want to replicate. There are two processes Stitch runs during the Extraction phase of the replication process: 

- **Structure sync** - This is the first part of the Extraction process. During this phase, Stitch will detect any changes to the structure of your database. For example: a new {{ col }} is added to one of the {{ object }}s you’re syncing in Stitch.
- **Data sync** - This is the second part of the Extraction process. During this phase, Stitch extracts data from the source and replicates it. {% unless integration.db-type == "mongo" %}The method Stitch uses is the same for all databases, but differs depending on the Replication Method that each {{ object }} uses.{% endunless %}

The tabs below contain info about the queries Stitch runs during the structure and data syncs for each type of Replication Method.

{% capture structure-sync-queries %}
#### Structure sync queries

{{ extraction[integration.db-type].structure-sync | flatify | markdownify }}
{% endcapture %}

<ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#key-based-incremental" data-toggle="tab">Key-based Incremental</a>
    </li>
    <li><a href="#log-based-incremental" data-toggle="tab">Log-based Incremental</a></li>
    {% unless integration.name == "mongo" %}
        <li><a href="#full-table" data-toggle="tab">Full Table</a></li>
    {% endunless %}
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="key-based-incremental">

        {{ structure-sync-queries | flatify | markdownify }}

        <h4 id="key-based-incremental--data-sync">Data sync</h4>

        <p>For tables using <strong>Key-based Incremental Replication</strong>, Stitch runs a single query and reads out of the associated cursor in batches:</p>

        {{ extraction.data-sync-queries.incremental | markdownify }}
    </div>

    <div role="tabpanel" class="tab-pane" id="log-based-incremental">
        <p>For tables using <strong>Log-based Incremental Replication</strong>, </p>
    </div>

    {% unless integration.db-type == "mongo" %}
        <div role="tabpanel" class="tab-pane" id="full-table">
            <p>For tables using <strong>Full Table Replication</strong>, Stitch runs a single query and reads out of the resulting cursor in batches:</p>

            {{ extraction.data-sync-queries.full-table | markdownify }}
        </div>
    {% endunless %}
</div>

### Recommendations

While we make every effort to ensure the queries that Stitch executes don’t impart significant load on your databases, we still have some recommendations for guaranteeing database performance:

- **Use a replica database instead of connecting directly**. We recommend using read replicas in lieu of directly connecting production databases with high availability and performance requirements.
- **Apply indexes to [Replication Key]({{ rep-keys | prepend: site.baseurl }}) columns**. We restrict and order our replication queries by this {{ col }}, so applying an index to the {{ col }}s you’re using as Replication Keys can improve performance. {% if integration.db-type == "mongo" %}**Indexes are required to use Mongo fields as Replication Keys**.{% endif %}