{% assign database = site.data.taps.extraction.database-setup.server-settings[integration.db-type] %}

{% assign database-setup = database.postgresql-rds %}

{% capture server-instructions %}

1. From the RDS Dashboard, click **Instances** on the left side of the page.
2. Click {{ integration.display_name }} instance you want to connect to Stitch. This will open the database's details page.
3. Scroll down to the **Details** section.
4. In the **Configurations** column, locate the **Parameter group** field.
5. Click the parameter group. This will open the settings page for the parameter group.
6. Click the **Edit parameters** button.
7. Locate the parameters in the list below, and enter the required values into the **Values** column:
   {% for setting in database-setup %}
   - **{{ setting.name }}**: `{{ setting.value }}`
   {% endfor %}

   A few things to note:

   - `max_standby_archive_delay` and `max_standby_streaming_delay` are only applicable if you're connecting a read replica to Stitch. If you aren't connecing a read replica, you don't have to define these parameters.
   - For `max_replication_slots` and `max_wal_senders`, Amazon's default value of `5` should be sufficient **unless you have a large number of read replicas**.

   See the **Server settings list** tab for more info on these settings.
8. When finished, click the **Save changes** button.
{% endcapture %}

{% include integrations/templates/configure-server-settings.html %}