<!-- This file contains the steps for creating and launching
	an Amazon Redshift cluster in AWS.

	It's used in the Amazon Redshift (direct) and SSH setup guides. -->

{% case include.type %}

<!-- CREATE CLUSTER LOGIN CREDENTIALS -->
{% when 'create-login-credentials' %}
To get started, sign into your AWS account and navigate to the **Redshift Dashboard page**. As of December 13, 2016, you can get there by clicking **Services** (top left corner), then clicking **Redshift** in the **Databases** section.

1. On the Redshift Dashboard page, click the **Lauch Cluster** button.
2. The **Cluster Details** page will display.
3. Fill in the cluster details:
   - **Cluster Identifier:** This is the unique key that defines a cluster.
   - **Database Name:** This is the initial database for the cluster.
   - **Port:** A port is an opening in a firewall that allows in and outbound traffic. By default, Redshift uses port `5439`.
4. Next, you'll create the [master login credentials](http://docs.aws.amazon.com/redshift/latest/dg/t_adding_redshift_user_cmd.html). You can use these credentials to connect Stitch to your Redshift cluster if you like, or if you want to be more selective with the permissions, you can create an additional user for Stitch later on in the tutorial.
   - **Master User Name:** This is the name of the master user for the cluster.
   - **Master User Password:** This is the password associated with the cluster's master user.
5. Re-enter the master user's password to confirm it.
6. Click **Continue.**



<!-- SELECT NODES AND CLUSTER TYPES -->
{% when 'select-node-and-cluster-types' %}
{% capture node-info-notice %}
**Note**: Stitch doesn't have requirements on the type or number of nodes used in a cluster. Stitch only recommends setting up a multi-node configuration to provide data redundancy.

Refer to [Amazon's Redshift Clusters guide](https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html){:target="new"} for guidance on selecting nodes for your cluster.
{% endcapture %}

{% include note.html type="single-line" content=node-info-notice %}

On the **Node Configuration page**, you'll select the node type, define the cluster type, and decide how many nodes to use.

1. Select the **Node Type** you want to use.
2. Select the **Cluster Type**.
3. Enter the number of **Compute Nodes** you want to use.
4. Click **Continue**.



<!-- CONFIGURE NETWORK OPTIONS -->
{% when 'networking-options' %}
In the **Configure Networking Options** section, define these fields:

- **Choose a VPC:** From the drop-down, select the VPC you want to launch the cluster in. This will also cause the other required fields to display.

<!-- IF THE PAGE IS FOR AN SSH CONNECTION -->
{% if page.ssh == true %}
- **Cluster Subnet Group:** Select a Subnet Group to associate with the cluster. This can be public or private.

   The default VPC included with all new AWS accounts also includes a default public subnet, which is what we're using here.
- **Publicly Accessible:** Set this to **No.**

<!-- IF IT'S NOT FOR SSH -->
{% else %}

- **Cluster Subnet Group:** Set this to a public subnet in your account. **Note a public subnet is required for the connection to be successful.**

   The default VPC included with all new AWS accounts also includes a default public subnet, which is what we're using here.
- **Publicly Accessible:** Set this to **Yes.** This must be set to Yes for Stitch to access your Redshift instance.
{% endif %}



<!-- DEFINING THE SECURITY GROUP -->
{% when 'define-security-group' %}
The last step to configuring your cluster is to define the Security Group associated with the cluster.

In the **VPC Security Groups** section, select the Security Group you want to associate with the cluster.

We're using the default Security Group that's included with all new AWS accounts, but you can choose any one you like. You'll edit the access rules for the Security Group in the next section, which will allow the group to access the cluster.

Here's what the configuration looks like for our sample cluster:

{% if page.ssh == true %}
![Redshift Additional Configuration page.]({{ site.baseurl}}/images/destinations/redshift-ssh-additional-configuration.png)

{% else %}
![Redshift Additional Configuration page.]({{ site.baseurl}}/images/destinations/redshift-additional-configuration.png)
{% endif %}

When finished, click the **Continue** button.



<!-- REVIEW AND LAUNCH THE CLUSTER -->
{% when 'review-and-launch' %}
A review page containing all the details about your cluster (except for the master password) will display after you click **Continue** on the Additional Configuration page.

Additionally, the pricing info for the cluster will display at the bottom of the page. 

After you've reviewed and confirmed the settings, click **Launch Cluster** to launch the cluster. **Note that this process can take a few minutes** - the status in the Cluster Dashboard page will change to ‘available’ when the process completes.

{% endcase %}