A review page containing all the details about your cluster (except for the master password) will display after you click **Continue** on the Additional Configuration page.

Additionally, the pricing info for the cluster will display at the bottom of the page. 

After you've reviewed and confirmed the settings, click **Launch Cluster** to launch the cluster. **Note that this process can take a few minutes** - the status in the Cluster Dashboard page will change to ‘available’ when the process completes.