In the **Configure Networking Options** section, define these fields:

- **Choose a VPC:** From the drop-down, select the VPC you want to launch the cluster in. This will also cause the other required fields to display.

{% if page.ssh == true %}
- **Cluster Subnet Group:** Select a Subnet Group to associate with the cluster. This can be public or private.

   The default VPC included with all new AWS accounts also includes a default public subnet, which is what we're using here.
- **Publicly Accessible:** Set this to **No.**

{% else %}

- **Cluster Subnet Group:** Set this to a public subnet in your account. **Note a public subnet is required for the connection to be successful.**

   The default VPC included with all new AWS accounts also includes a default public subnet, which is what we're using here.
- **Publicly Accessible:** Set this to **Yes.** This must be set to Yes for Stitch to access your Redshift instance.
{% endif %}