To get started, sign into your AWS account and navigate to the **Redshift Dashboard page**. As of December 13, 2016, you can get there by clicking **Services** (top left corner), then clicking **Redshift** in the **Databases** section.

1. On the Redshift Dashboard page, click the **Lauch Cluster** button.
2. The **Cluster Details** page will display.
3. Fill in the cluster details:
   - **Cluster Identifier:** This is the unique key that defines a cluster.
   - **Database Name:** This is the initial database for the cluster.
   - **Port:** A port is an opening in a firewall that allows in and outbound traffic. By default, Redshift uses port `5439`.
4. Next, you'll create the [master login credentials](http://docs.aws.amazon.com/redshift/latest/dg/t_adding_redshift_user_cmd.html). You can use these credentials to connect Stitch to your Redshift cluster if you like, or if you want to be more selective with the permissions, you can create an additional user for Stitch later on in the tutorial.
   - **Master User Name:** This is the name of the master user for the cluster.
   - **Master User Password:** This is the password associated with the cluster's master user.
5. Re-enter the master user's password to confirm it.
6. Click **Continue.**