Connect to your instance as a user with `createdb` permissions and run the following command, replacing `[stitch_database]` with whatever you want the database name to be:

{% highlight shell %}
CREATE DATABASE [stitch_database];
{% endhighlight %}

Responses are only returned if the command is **not** successful. If you don’t receive a response, then the command was successful and the database was created.

If you encounter errors - for example, `createdb: command not found` - then you’ll need to do some troubleshooting before you can move onto the next step. [This Postgres article](https://www.postgresql.org/docs/9.6/static/tutorial-createdb.html) contains troubleshooting steps for some of the most common issues when creating databases.

Stitch doesn’t require any particular configuration for the database nor do you need to create any tables or schemas. Stitch will take care of that for you after the destination setup is complete and you’ve connected integrations.