{% include misc/icons.html %}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#instanceSpecifications">
                    See all Instance Specification Options
                </a>
            </h4>
        </div>
        <div id="instanceSpecifications" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top" width="200px; fixed">
                                <strong>Setting</strong>
                            </td>
                            <td valign="top">
                                <strong>What it means</strong>
                            </td>
                            <td valign="top" width="300px; fixed">
                                <strong>What you should do</strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>License Model</strong>
                            </td>
                            <td valign="top">
                                This is the license used by the database engine.
                            </td>
                            <td valign="top">
                                Leave as-is - Postgres only has one license.
                            </td>
                        </tr>
                        <tr style="background-color: #FFCC00;">
                            <td valign="top">
                                <strong>DB Engine Version</strong> {{ notice-icon | replace: "TOOLTIP", "This field must be configured in the specified way to use Stitch." }}
                            </td>
                            <td valign="top">
                                This is the version of PostgreSQL the database will run on.
                            </td>
                            <td valign="top">
                                Select your version, but keep in mind that <strong>Stitch only supports versions {{ destination.supported-versions }}.</strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>DB Instance Class</strong>
                            </td>
                            <td valign="top">
                                This indicates the Instance Class your database will run on.
                            </td>
                            <td valign="top">
                                Select the Instance Class you want your database to run on. <br /><br />If you’re not sure what this means or how to select the best option, check out <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html" target="_blank">Amazon’s documentation</a>.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Multi-AZ Deployment</strong>
                            </td>
                            <td valign="top">
                                This indicates whether your instance will use Multi-AZ Deployment. <strong>This is only available if you selected Production in the last section.</strong>
                            </td>
                            <td valign="top">
                                This will default to <strong>Yes.</strong> Leave this setting as-is if you want Amazon to maintain a synchronous standby replica in a different Availability Zone. <strong>Amazon recommends this for Production Instances.</strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Storage Type</strong>
                            </td>
                            <td valign="top">
                                This indicates the type of storage your database will use.<strong> This is only available if you selected Production in the last section.</strong>
                            </td>
                            <td valign="top">
                                Select the type of storage you want your database to use. <br /><br />If you’re not sure what this means or how to select the best option, check out <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html" target="_blank">Amazon’s documentation</a>.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Allocated Storage</strong>
                            </td>
                            <td valign="top">
                                This is the amount of storage for your database.
                            </td>
                            <td valign="top">
                                Enter the amount of storage (in GB) you want for your database. If you need help deciding the amount, check out <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html" target="_blank">Amazon’s documentation</a>.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>