<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#databaseOptions">
                    See all Database Options
                </a>
            </h4>
        </div>
        <div id="databaseOptions" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top" width="200px; fixed">
                                <strong>Setting</strong>
                            </td>
                            <td valign="top">
                                <strong>What it means</strong>
                            </td>
                            <td valign="top" width="300px; fixed">
                                <strong>What you should do</strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Database Name</strong>
                            </td>
                            <td valign="top">
                                This is the name of the initial database in the instance. This is the name you’ll enter into Stitch at the end of this tutorial to complete the connection setup.
                            </td>
                            <td valign="top">
                                Enter a name for the database.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Database Port</strong>
                            </td>
                            <td valign="top">
                                This is the port that the database will listen on.
                            </td>
                            <td valign="top">
                                Use the default (5432) or enter a port.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>DB Parameter Group</strong>
                            </td>
                            <td valign="top">
                                This is the parameter group for the database.
                            </td>
                            <td valign="top">
                                If you’ve created your own parameter group, select it here. <br /><br />Otherwise use the <strong>Default</strong> group.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Option Group</strong>
                            </td>
                            <td valign="top">
                                This is the option group for the database.
                            </td>
                            <td valign="top">
                                If you’ve created your own option group, select it here. <br /><br />Otherwise use the <strong>Default</strong> group.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Snapshots</strong>
                            </td>
                            <td valign="top">T
                                his will copy any database instance tags to a database snapshot when you create a snapshot. You can learn more about <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html" target="_blank">tagging here</a>.
                            </td>
                            <td valign="top">
                                This is your preference; it isn’t required by Stitch.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Encryption</strong>
                            </td>
                            <td valign="top">
                                This determines if your data will be encrypted with AES-256 encryption in both the instances themselves and at rest. There are additional steps to setting this up, which you can find <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Encryption.html" target="_blank">help for here</a>.
                            </td>
                            <td valign="top">
                                This is your preference; it isn’t required by Stitch.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>