<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#maintenanceOptions">
                    See all Maintenance Options
                </a>
            </h4>
        </div>
        <div id="maintenanceOptions" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top" width="200px; fixed">
                                <strong>Setting</strong>
                            </td>
                            <td valign="top">
                                <strong>What it means</strong>
                            </td>
                            <td valign="top" width="300px; fixed">
                                <strong>What you should do</strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Auto Minor Version Upgrade</strong>
                            </td>
                            <td valign="top">
                                This defines whether your database instance will automatically receive minor database engine upgrades when they’re available.
                            </td>
                            <td valign="top">
                                This is your preference; it isn’t required by Stitch.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <strong>Maintenance Window</strong>
                            </td>
                            <td valign="top">
                                This defines the 30 minute window in which pending changes to your database instance are applied.
                            </td>
                            <td valign="top">
                                Unless you have a preference, use the default of <strong>No Preference.</strong> <br /><br />This is your preference; it isn’t required by Stitch.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>