{% include misc/more-info-icons.html %}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#networkSecurityOptions">
                    See all Network & Security Options
                </a>
            </h4>
        </div>
        <div id="networkSecurityOptions" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top" width="200px; fixed" markdown="span">
                                **Setting**
                            </td>
                            <td valign="top" markdown="span">
                                **What it means**
                            </td>
                            <td valign="top" width="300px; fixed" markdown="span">
                                **What you should do**
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" markdown="span">
                                **VPC**
                            </td>
                            <td valign="top" markdown="span">
                                This setting refers to the Virtual Private Cloud, or the group of servers hosting the instance.
                            </td>
                            <td valign="top" markdown="span">
                                If you’re a new AWS customer or don’t want to set up a VPC, you can use the **Default** option.<br><br>

                                Otherwise, select the VPC you want the instance to reside in. Steps for how to create your own VPC are outside the scope of this tutorial, but [Amazon has instructions here](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.RDSVPC.html).
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" markdown="span">
                                **Subnet Group**
                            </td>
                            <td valign="top" markdown="span">
                                This setting refers to the subnets that the instance can use in the selected VPC.
                            </td>
                            <td valign="top" markdown="span">
                                If you’re a new AWS customer or you’re not sure what this means, select the **Default** option. <br /><br />

                                You can refer to [Amazon’s documentation](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.RDSVPC.html) for more info on subnets and VPCs.
                            </td>
                        </tr>
                        <tr style="background-color: #FFCC00;">
                            <td valign="top" markdown="span">
                                **Publicly Accessible** {{ notice-icon | replace: "TOOLTIP", "This field must be configured in the specified way to use Stitch." }}
                            </td>
                            <td valign="top" markdown="span">
                                This setting determines whether your instance has a publicly accessible IP address, which means it can be accessed from outside the selected VPC.
                            </td>
                            <td valign="top" markdown="span">
                                Set this to **Yes.** This is required to connect the instance to Stitch.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" markdown="span">
                                **Availability Zone**
                            </td>
                            <td valign="top" markdown="span">
                                This setting defines what availability zone you want the instance to reside in.
                            </td>
                            <td valign="top" markdown="span">
                                If you have a preference, select it. <br /><br />

                                Otherwise, leave this as **No Preference.**
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" markdown="span">
                                **Security Groups**
                            </td>
                            <td valign="top" markdown="span">
                                This setting defines the in- and outbound traffic that can access the instance.
                            </td>
                            <td valign="top" markdown="span">
                                If you have a Security Group you’d like to use, select it from the list.<br /><br />

                                If you’re a new AWS customer, you can use the **Default** option or **Create new Security Group.**<br /><br /> 

                                If you opt to create a new group, don’t worry too much about the settings for it - you’ll configure them in the next section of this tutorial.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>