<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#backupSettings">
                    See all Backup settings
                </a>
            </h4>
        </div>
        <div id="backupSettings" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top" width="200px; fixed"><strong>Setting</strong></td>
                            <td valign="top"><strong>What it means</strong></td>
                            <td valign="top" width="300px; fixed"><strong>What you should do</strong></td>
                        </tr>
                        <tr>
                            <td valign="top"><strong>Backup Retention Period</strong></td>
                            <td valign="top">This defines the number of days you want automatic backups of your database to be retained.</td>
                            <td valign="top">This is your preference; it isn’t required by Stitch.</td>
                        </tr>
                        <tr>
                            <td valign="top"><strong>Backup Window</strong></td>
                            <td valign="top">This defines the time your database is backed up.</td>
                            <td valign="top">Unless you have a preference, use the default of <strong>No Preference.</strong> <br /><br />This isn’t required by Stitch.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>