## {{ name.name }} Beta Guidelines {#beta-guidelines}

Currently the Stitch {{ destination.name }} destination is in **{{ destination.status }}**. We encourage you to participate and give us feedback, but please consider the following first:

1. Because {{ destination.name }} is currently in beta, **you may encounter bugs or other unexpected effects while using it.**
2. There may be situations where re-replicating your data is necessary to correct issues.

We appreciate your patience and feedback as we work to perfect this destination.