<!-- Currently, the liquid loop below uses a hard-coded value in each destination's file to determine whether there are incompatible sources or not. -->

{% assign all-integrations = site.documents | where:"input",true | sort:"display_name" %}
{% assign destinations = site.destinations | where:"destination",true %}

{% for destination in destinations %}
<h3 id="{{ destination.type }}">{{ destination.display_name }}</h3>

<p>For a comprehensive look at how {{ destination.display_name }} will load data - including what may cause data to be "rejected" - refer to the <a href="{{ link.destinations.storage.loading-data | prepend: site.baseurl }}">{{ destination.display_name }} Data Loading Guide</a>.

	{% if destination.incompatible-with == 0 %}
		<p>No compatibility issues have been discovered between {{ destination.display_name }} and Stitch's integration offerings.</p>
	{% else %}
		<table width="100%">
			<thead>
				<tr>
					<td style="vertical-align: middle" width="15%; fixed">
						<strong>Integration</strong>
					</td>
					<td align="center" style="vertical-align: middle">
						<strong>Level</strong>
					</td>
					<td style="vertical-align: middle">
						<strong>Reason for Incompatibility</strong>
					</td>
				</tr>
			</thead>
			<tbody>
			{% for integration in all-integrations %}
				{% if integration.incompatible[destination.type] == "always" or integration.incompatible[destination.type] == "sometimes" %}
					<tr>
						<td width="15%; fixed">
							<strong><a href="{{ integration.url | prepend: site.baseurl }}">{{ integration.title }}</a></strong>
						</td>
						<td width="10%; fixed" align="center">
							{% if integration.incompatible[destination.type] == "always" %}
								{{ not-supported | replace:"TOOLTIP","This destination/integration combination is always incompatible." }} 

							{% elsif integration.incompatible[destination.type] == "sometimes" %}
								{{ sometimes-supported | replace:"TOOLTIP","This destination/integration combination is sometimes incompatible." }}
							{% endif %}
						</td>
						<td style="vertical-align: middle" width="70%; fixed">
							{{ integration.incompatible.reason | flatify | markdownify }}

							{% if integration.this-version %}
								<p><strong>Note:</strong> This is applicable to all versions of this integration.</p>
							{% endif %}
						</td>
					</tr>
				{% endif %} <!-- Ends integration incompatibility detail loop-->
			{% endfor %}
			</tbody>
		</table>
	{% endif %}  <!-- Ends incompatibility loop-->
{% endfor %} 