{% include misc/icons.html %}
{% assign destinations = site.destinations | where:"destination",true %}

<ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#general" data-toggle="tab">
            General</a>
    </li>
    <li>
        <a href="#pricing-tab" data-toggle="tab">
            Pricing</a>
    </li>
    <li>
        <a href="#stitch-support" data-toggle="tab">
            Stitch Support</a>
    </li>
    <li>
        <a href="#object-limits" data-toggle="tab">
            Object Limits</a>
    </li>
    <li>
        <a href="#data-storage-limits" data-toggle="tab">
            Data Storage</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Release Status</strong>
                </td>
               <td class="attribute-description">
                    <strong>Database Type</strong><a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.db-type }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Fully Managed?</strong><a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.fully-managed }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            <a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a>
                        </strong>
                    </td>
                    <td class="attribute-description">
                        {{ destination.status }}
                    </td>
                    
                    <td class="attribute-description">
                        {{ destination.db-type | capitalize }}
                    </td>
                    <td class="attribute-description">
                        {% case destination.fully-managed %}
                            {% when false %}
                                No
                            {% when true %}
                                Yes
                            {% else %}
                                {{ destination.fully-managed }}{{ info-icon | replace:"TOOLTIP","Heroku instances include maintenance; Amazon RDS & self-hosted instances do not." }}
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

    <div role="tabpanel" class="tab-pane" id="pricing-tab">
        <p>For more details, see the <a href="#pricing">Pricing</a> section.</p>

        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Pricing Model</strong>
                </td>
                <td class="attribute-description">
                    <strong>Free Option?</strong>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            <a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a>
                        </strong>
                    </td>
                    <td class="attribute-description">
                        <a href="{{ destination.pricing }}">{{ destination.pricing_model }}</a>
                    </td>
                    <td class="attribute-description">
                        {{ destination.free_option }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="stitch-support">
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Supported Versions</strong>
                </td>
                <td class="attribute-description">
                    <strong>Connection Methods</strong>
                </td>
                <td class="attribute-description">
                    <strong>Incompatible Sources</strong>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td class="attribute-description">
                        {{ destination.supported-versions }}
                    </td>
                    <td class="attribute-description">
                        {{ destination.connection-methods }}
                    </td>
                    <td class="attribute-description">
                        {% case destination.incompatible-with %}
                            {% when 0 %}
                                None
                            {% else %}
                                <strong>
                                    <a href="{{ link.destinations.overviews.compatibility | prepend: site.baseurl }}#{{ destination.type }}">Yes</a>
                                </strong>
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="object-limits">
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Table Name<br>Length</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.table-name-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Column Name<br>Length</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Max Columns<br>Per Table</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Case<br>Type</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.case }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Reserved<br>Words</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.reserved-words }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td class="attribute-description">
                        {{ destination.table-name-limit }}
                    </td>
                    <td class="attribute-description">
                        {{ destination.column-name-limit }}
                    </td>
                    <td class="attribute-description">
                        {{ destination.column-limit }}
                    </td>
                    <td class="attribute-description">
                        {{ destination.case | remove: "Case " }}
                    </td>
                    <td class="attribute-description">
                        {% case destination.reserved-words %}
                            {% when 'None' %}
                                None
                            {% else %}
                                <a href="{{ destination.reserved-words }}">Full List</a>
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="data-storage-limits">
        <p>For more details, see the <a href="#data-structure">Data Structure</a> section.</p>
        
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Upsert support</strong><a data-toggle="tooltip" data-original-title="Indicates if the destination supports updating existing rows.">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Nested Structures</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.nested-structure-support }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Max VARCHAR Width</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.varchar-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td class="attribute-description">
                        {% case destination.incremental-upsert-support %}
                            {% when true %}
                                <a data-toggle="tooltip" data-original-title="Existing rows can be updated with modified data.">Supported</a>
                            {% when false %}
                                <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.append-only }}">Unsupported</a>
                        {% endcase %}
                    </td>
                    <td class="attribute-description">
                        {% case destination.nested-structure-support %}
                            {% when false %}
                                <strong>
                                    <a href="#nested-data-structures">Unsupported</a>
                                </strong>
                            {% else %}
                                Supported
                        {% endcase %}
                    </td>
                    <td class="attribute-description">
                        {{ destination.varchar-limit }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>