{% include misc/icons.html %}

<hr>

<h2>Full destination/integration compatibility matrix</h2>

<p>For a comprehensive look at the compatibility of all Stitch's integrations and destinations, check out the matrix below.</p>

<table width="100%">
	<thead>
		<tr>
			<th valign="top">
				<!-- Empty cell -->
			</th>
			{% assign destinations = site.destinations | where:"destination",true %}
			
			<!-- Retrieves all destinations -->
			{% for destination in destinations %}
				<th style="vertical-align: middle">
					<center><strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong></center>
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% assign sorted-integrations = site.documents | where:"input",true | sort:"title" %}
		{% for integration in sorted-integrations %}
			{% if integration.name != "rds" %}
				<tr>
					<td style="vertical-align: middle" width="25%; fixed">
						<strong><a href="{{ integration.url | prepend: site.baseurl }}">{{ integration.title }}</a></strong>

						<!-- Displays an info tooltip for databases that can be connected via Amazon RDS -->
							{% if integration.name == "mysql" or integration.name == "postgres" or integration.name == "mariadb" %}
								{{ question-icon | replace:"TOOLTIP","Compatibility for this database integration also applies to Amazon RDS-based instances." }}
							{% endif %}
					</td>
					{% for destination in destinations %}
						<td style="vertical-align: middle" align="center">
							{% if integration.incompatible[destination.type] == "sometimes" %}
								
								{{ sometimes-supported | replace:"TOOLTIP","This destination/integration combination is sometimes compatible. See this destination's section for more info." }}

							{% elsif integration.incompatible[destination.type] == "always" %}
								{{ not-supported | replace:"TOOLTIP","This destination/integration combination is never compatible. See this destination's section for more info." }}

							{% else %}
								{{ supported | replace:"TOOLTIP","This destination/integration combination is (as far as we know) always compatible." }}

							{% endif %}
						</td>
					{% endfor %} <!-- Ends loop through destinations -->
				</tr>
			{% endif %} <!-- Ends RDS condition-->
		{% endfor %} <!-- Ends loop through sorted-integrations-->
	</tbody>
</table>