<!-- This is used in every destination's overview guide. -->
{% include misc/more-info-icons.html %}


<table id="dwLimitations" class="display">
   <tbody>
      <tr>
         <td width="28%; fixed" valign="top" markdown="span">
            **<a href="{{ link.destinations.overviews.compatibility | prepend: site.baseurl }}">Incompatibile Sources</a>**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.integration-incompatibilities }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td colspan="3" valign="top">
            {% if destination.incompatible-with >= 1 %}
               Possible incompatibilities. <a href="{{ link.destinations.overviews.compatibility | prepend: site.baseurl }}#{{ warehouse }}">Learn more</a>.
            {% else %}
               None
            {% endif %}
         </td>
      </tr>
      <tr>
         <td width="28% fixed" valign="top" markdown="span">
            **Reserved Words**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.reserved-words }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td colspan="3" valign="top" markdown="span">
            [{{ destination.display_name }}'s full list]({{ destination.reserved-words }}); Stitch reserves `{{ app.dw.prefix1 }}`, `{{ app.dw.current-prefix }}`, and data type suffixes (`__bigint`)
         </td>
      </tr>
      <tr>
         <td width="28% fixed" valign="top" markdown="span">
            **Table Name Length**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.table-name-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td valign="top" markdown="span">
            {{ destination.table-name-limit }} characters
         </td>
         <td width="23%; fixed" valign="top" markdown="span">
            **Column Name Length**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-name-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td valign="top" markdown="span">
            {{ destination.column-name-limit }} characters
         </td>
      </tr>
      <tr>
         <td width="28% fixed" valign="top" markdown="span">
            **Max # of Columns**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td valign="top" markdown="span">
            {{ destination.column-limit }}
         </td>
         <td width="20%; fixed" valign="top" markdown="span">
            **VARCHAR Max Width**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.varchar-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td valign="top" markdown="span">
            {{ destination.varchar-limit }}
         </td>
      </tr>
      <tr>
         <td width="28% fixed" valign="top" markdown="span">
            **Nested Structure Support**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.nested-structure-support }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td width="28%; fixed" valign="top">
            {% if destination.nested-structure-support == false %}
               None; structures will be de-nested. <a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">Learn more</a>.
            {% else %}
               Native Support
            {% endif %}
         </td>
         <td width="20%; fixed" valign="top" markdown="span">
            **Case**<a href="" data-toggle="tooltip" data-original-title="{{ site.data.tooltips.case }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
         </td>
         <td valign="top" markdown="span">
            {{ destination.case }}
         </td>
      </tr>
   </tbody>
</table>