<!-- This file contains the steps for switching
	to a new destination. -->

{% case include.type %}


<!-- CONSIDERATIONS -->
{% when 'considerations' %}
Here's what you need to know to ensure a smooth switch:

{% if page.type == "bigquery" %}
- **{{ destination.display_name }} v2 destinations structure data differently than v1.** Notably, how [nested data]({{ link.destinations.storage.bigquery-nested-structures | prepend: site.baseurl }}) and [Primary Keys]({{ link.destinations.storage.primary-key-system-table | prepend: site.baseurl }}) are handled. Refer to the [{{ destination.display_name }} v2 reference]({{ link.destinations.overviews.bigquery-v2 | prepend: site.baseurl }}) for an in-depth look at {{ destination.display_name }} v2.

{% else %}
- **Some destinations may structure data differently than your current destination.** For example: If you're switching from Amazon Redshift to Google BigQuery, there will be some differences in how your data is stored. Detailed info about how Stitch loads data can be found in the [Data loading guide]({{ link.destinations.storage.loading-data | prepend: site.baseurl }}) for each destination.

{% endif %}

- **Your integrations will be paused.** All database and SaaS integrations will be automatically paused. After the switch is complete, you’ll need to manually unpause the integrations you’d like to resume. 

- **Some webhook data may be lost during this process.** Due to webhook's continuous, real-time nature, some data may be lost.

- **We won’t delete or transfer any data from your current destination.** To get historical data into your new destination, you'll need to queue a full re-replication of all your integrations. 

   Re-replicating historical data will count towards your row usage and may take some time, depending on the volume of data and API limitations imposed by the provider.

- **Historical data from webhook-based integrations must be either manually backfilled or replayed.** Some webhook providers - such as Segment - allow customers on certain plans to 'replay' their historical data. This feature varies from provider to provider and may not always be available.

   If you don't have the ability to replay historical webhook data, then it must be manually backfilled after the switch is complete.


<!-- SELECT HISTORICAL DATA SETTING -->
{% when 'select-historical-data-setting' %}
{% assign page-settings = site.data.ui.change-destinations-page %}

1. From the {{ app.page-names.dashboard }}, click the {{ app.menu-paths.destination-settings }}.
2. At the bottom of the page, click the {{ app.buttons.change-destination }} button.
3. In the **Historical Data** section, select how you want data to be replicated to the new destination:
   {% for field in page-settings.default-historical-data %}
   - {{ field.field }}: {{ field.copy | flatify }}
   {% endfor %}
4. Click **Continue**.


<!-- DELETE CURRENT DESTINATION -->
{% when 'delete-current-destination' %}
After clicking **Continue**, you'll be prompted to confirm the removal of the current destination's settings.

To continue with the switch, click **OK** to delete the current destination settings.

**Note**: This will not delete data in the destination itself - it only clears this destination's settings from Stitch.


<!-- UNPAUSE INTEGRATIONS -->
{% when 'unpause-integrations' %}
After you've successfully connected the new destination, un-pause your integrations. Your data will begin replicating according to the [historical data option](#select-historical-data-setting) you previously selected.

{% endcase %}