<div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i>
<strong>{{ destination.display_name }} is in beta</strong><br>
Our {{ destination.display_name }} destination is currently in <strong>{{ destination.status }}</strong>. As such, the info in this article may change.

{% if destination.status == "Closed Beta" %}
<br><br>
<strong>Interested in participating in the beta?</strong> <a href="mailto: {{ site.support }}">Get in touch with us</a>.
{% endif %}
</div>