{% capture logical-replication-limitations %}
On August 6, 2018, we discovered some limitations with {{ integration.display_name }} Log-based Replication. Currently, Log-based Replication requires:

- **PostgreSQL databases running PostgreSQL versions 9.4.x or greater.** Earlier versions of PostgreSQL do not include logical replication functionality, which is required for Log-based Replication.

- **A connection to the master instance.** Log-based replication will only work on master instances due to a feature gap in PostgreSQL 10. [Based on their forums](https://commitfest.postgresql.org/12/788/){:target="new"}, PostgreSQL is working on adding support for using logical replication on a read replica to a future version.

   Until this feature is released, you can connect Stitch to the master instance and use Log-based Replication, **or** connect to a read replica and use Key-based Incremental Replication.
{% endcapture %}

{% include important.html first-line="**Log-based Replication requirements**" content=logical-replication-limitations %}
