
#### Step {{ step-number | strip }}.1: Connect to your database {#connect-to-database}

1. Connect to your {{ integration.display_name }} server.
2. Navigate to the authentication database. In this example, we're using `admin`:
   
   ```shell
   {{ site.data.taps.extraction.database-setup.user-privileges.mongo.switch-database | strip }}
   ```

   Replace `<username>`, `<database-host>`, and `<port>` with your {{ integration.display_name }} username, database host address, and the port used by the database, respectively.

   **Note**: If you're connecting an Atlas-based instance, the authentication database will always be `admin`.

#### Step {{ step-number | strip }}.2: Create the Stitch user

Next, you'll create the Stitch user, set a password, and assign roles. This guide uses the built-in [`readAnyDatabase` role](https://docs.mongodb.com/v4.0/reference/built-in-roles/#readAnyDatabase){:target="new"}, but you can use or create another role as long as it assigns the same privileges.

Select the version your {{ integration.display_name }} database is using to view the correct command to create the Stitch database user.

{% capture mongo-create-user-below-v3 %}
Create the user, using the `addUser` command for {{ integration.display_name }} versions 2.4 through 2.6. Replace `<password>` with a password:

```javascript
{{ site.data.taps.extraction.database-setup.user-privileges.mongo.create-user-v2 | strip }}
```
{% endcapture %}

{% include layout/expandable-heading.html title="I'm using a MongoDB version between 2.4 and 2.6." content=mongo-create-user-below-v3  anchor="mongo-create-user-below-v3" %}


{% capture mongo-create-user-v3-v3-2 %}
Create the user, using the `createUser` command for {{ integration.display_name }} versions 3.0 through 3.2. Replace `<password>` with a password:

```javascript
{{ site.data.taps.extraction.database-setup.user-privileges.mongo.create-user-v3-2 | strip }}
```
{% endcapture %}

{% include layout/expandable-heading.html title="I'm using a MongoDB version between 3.0 and 3.2." content=mongo-create-user-v3-v3-2  anchor="mongo-create-user-v3-v3-2" %}


{% capture mongo-create-user-v3-4 %}
[For versions 3.4 and above](https://docs.mongodb.com/v3.4/reference/built-in-roles/#readAnyDatabase){:target="new"}, the `readAnyDatabase` role doesn't include the `local` database. Create the user, granting the additional `read` role on the `local` database:

```javascript
{{ site.data.taps.extraction.database-setup.user-privileges.mongo.create-user-v3-4 | strip }}
```
{% endcapture %}

{% capture 3-4-title %}
{% if integration.versions contains "4.0" %}
I'm using a MongoDB version between 3.4 and 4.0.
{% else %}
I'm using MongoDB version 3.4.
{% endif %}
{% endcapture %}

{% include layout/expandable-heading.html title=3-4-title content=mongo-create-user-v3-4  anchor="mongo-create-user-v3-4" %}