
{% unless integration.name contains "rds" %}
Creating a user with `SELECT` privileges can either be done via a query or the {{ integration.display_name }} UI. In this section, we'll walk you through using the query method.
{% endunless %}

{% capture us-english %}This user's language setting must be set to `us_english`. Issues with replication may arise if a different setting is used.
{% endcapture %}

{% include important.html type="single-line" content=us-english %}

{{ site.data.taps.extraction.database-setup.user-privileges.mssql.create-user-command }}

{% if integration.name == "azure" %}
{% capture azure-db-access %}
Depending on your setup and the access you grant to the Stitch database user, you may need to create several Azure integrations to allow Stitch to replicate all your data. This is due to an Azure limitation on how access is granted to `sys.database` views.

If the Stitch user has access to the master database and this database is then used for authentication, you can replicate all databases that the user has access to from a single Azure integration setup.

If the database you're replicating isn't the master database, you'll only be able to replicate schemas and tables within that database. This will require creating additional Azure integrations in Stitch.
{% endcapture %}

{% include note.html first-line="**Master database access and replicating data**" content=azure-db-access %}
{% endif %}