
To create a database user for Stitch, run the following command when logged into {{ integration.display_name }}:

```sql
{{ site.data.taps.extraction.database-setup.user-privileges.mysql.create-user-command }}
```

Replace `[password]` with a secure password. {% if integration.ssh == true %}If using SSH, this can be different than the SSH password.{% endif %}

If you wish to restrict this user from accessing data in specific databases, tables, or columns, you can instead run `GRANT` queries that only allow access to the data you permit.

{% if integration.name == "azure" %}
{% capture azure-db-access %}
**Master Database Access & Replicating Data**<br>
Depending on your setup and the access you grant to the Stitch database user, you may need to create several Azure integrations to allow Stitch to replicate all your data. This is due to an Azure limitation on how access is granted to `sys.database` views.<br><br>

If the Stitch user has access to the master database and this database is then used for authentication, you can sync all databases that the user has access to from a single Azure integration setup.<br><br>

If the database you're replicating isn't the master database, you'll only be able to sync schemas and tables within that database. This will require creating additional Azure integrations in Stitch.
{% endcapture %}

{% include note.html content=azure-db-access %}
{% endif %}