
{% assign postgres-setup = site.data.taps.extraction.database-setup.user-privileges.postgres %}

Your organization may require a different process, but the simplest way to create this user is to execute the following query when logged into the {{ integration.display_name }} database as a user with the right to grant privileges.

**Note**: The user performing this step should also own the schema(s) that Stitch is being granted access to.

1. Log into your database.
2. Create a database user named `stitch`, replacing `<password>` with a password:

   ```sql
   {{ postgres-setup.create-user-command-default | strip }}
   ```

3. Grant the `stitch` user `CONNECT` privileges to the database, replacing `<database_name>` with the name of a database you want to connect Stitch to:

   ```sql
   {{ postgres-setup.grant-connect-on-database | strip }}
   ```

4. Grant the `stitch` user schema usage privileges, replacing `<schema_name>` with the name of a schema you want to replicate data from:

   ```sql
   {{ postgres-setup.grant-schema-usage | strip }}
   ```

5. Grant the `stitch` user `SELECT` privileges on the tables in the schema:

   ```sql
   {{ postgres-setup.grant-select-on-tables | strip }}
   ```

6. Alter the schema's default privileges to grant `SELECT` privileges on tables to `stitch`. This is required to ensure that objects created in the schema after connecting to Stitch will remain accessible to the `stitch` user:

   ```sql
   {{ postgres-setup.alter-default-schema-privileges | strip }}
   ```

7. If you want to replicate data from multiple databases or schemas, repeat steps 3 - 6 as needed.

<!-- Just for RDS integrations -->
{% if integration.name contains "rds" and integration.log-based-replication-master-instance == true %}

{% capture rds-replication-role %}
Additionally, if you want to use Log-based Incremental Replication, you'll also need to grant the `rds_replication` role to the Stitch user.

**Note**: Granting this role requires that you have the `rds_superuser` role. Log into the database as a user with the `rds_superuser` role and run the following command:

```sql
{{ postgres-setup.rds-grant-replication | strip }}
```
{% endcapture %}

{% include important.html first-line="**Using Log-based Incremental Replication**" content=rds-replication-role %}
{% endif %}