
{% assign postgres-setup = site.data.taps.extraction.database-setup.user-privileges.postgres %}

Your organization may require a different process, but the simplest way to create this user is to execute the following query when logged into the {{ integration.display_name }} database as a user with the right to grant privileges.

Additionally, this user should also own the schema that Stitch is being granted access to.

```sql
{{ postgres-setup.create-user-command-default }}
```

Replace `[secure password here]` with a secure password{% if integration.ssh == true %}, which can be different than the SSH password.{% else %}.{% endif %} Additionally, make sure you replace `[database_name]` and `[schema_name]` with the appropriate names in your database. Repeat this process as necessary if you want to connect multiple databases or schemas.

<!-- Only display the following if the integration version supports binlog -->
{% if integration.binlog-replication == true %}
#### Grant replication to the Stitch user

<!-- Just for RDS integrations -->
{% if integration.name contains "rds" %}

Additionally, if you want to use Log-based Replication, you'll also need to grant the `rds_replication` role to the Stitch user. **Note**: Granting this role requires that you have the `rds_superuser` role:

```sql
{{ postgres-setup.rds-grant-replication | strip }}
```

<!-- All other integrations -->
{% else %}

Additionally, if you want to use Log-based Replication, you'll also need to grant the `replication` role to the Stitch user.

1. Create a replication role, if your database doesn't have one already. This command creates a role named `replication` with `REPLICATION` and `LOGIN` privileges:

   ```sql
   {{ postgres-setup.postgresql-create-replication-role | strip }}
   ```

2. Grant the role to the Stitch user:

   ```sql
   {{ postgres-setup.postgresql-grant-replication-role | strip }}
   ```

{% endif %}
{% endif %}