<!-- This captures copy based on the page's permalink. This ensures that the correct words appear in the error messages based on the page's topic. Ex: the word "destination" won't display on the page about database integrations. -->

{% if page.permalink contains "database" %}
	{% capture feature %}database{% endcapture %}
	{% capture Feature %}Integration{% endcapture %}
	{% capture types %}Amazon-RDS{% endcapture %}
	{% capture wrong-type %}MySQL{% endcapture %}

{% elsif page.permalink contains "destination" %}
	{% capture feature %}destination{% endcapture %}
	{% capture Feature %}Destination{% endcapture %}
	{% capture types %}Redshift and Postgres-RDS{% endcapture %}
	{% capture wrong-type %}Redshift{% endcapture %}
{% endif %}

<div class="panel-group" id="accordion">
    <!-- Panel Start -->
    {% for error in errors %}

        {%- capture error-message -%}
            {{ error.message | replace:"[destination/database]",feature | replace:"[Destination/Integration]",Feature }}
        {%- endcapture -%}
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">
                	<a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ error.id }}">
                        {{ error-message | strip }}
                    </a>
            	</h4>
        	</div>
        <div id="collapse{{ error.id }}" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                {% if error.full-message %}
                    <span class="h3">Full message</span>

                    <p>In general, the error surfaced in Stitch will be similar to:</p>
                    
{% highlight shell %}
{{ error.full-message }}
{% endhighlight %}

                <hr>
                {% endif %}

            	<span class="h3">Meaning</span>
            	{{ error.meaning | flatify | markdownify | replace:"[destination/database]",feature | replace:"[Destination/Integration]",Feature | replace: "[types]",types | replace: "[wrong-type]",wrong-type }}

                <hr>

            	<span class="h3">Troubleshooting</span>
            	{% if error.fix-it %}
            		{{ error.fix-it | flatify | markdownify | replace:"[destination/database]",feature | replace:"[Destination/Integration]",Feature | replace: "[types]",types }}
            	{% endif %}

            	<!-- Uses list formatting if there are multiple items to check/fix -->
            	{% if error.fix-it-list %}
            	<ul>
            		{% for listitem in error.fix-it-list %}
            			<li>{{ listitem.item | flatify | markdownify | replace:"[destination/database]",feature | replace:"[Destination/Integration]",Feature | replace: "[types]",types }}</li>
            		{% endfor %}
            	<!-- Display Stitch IPs for relevant errors -->
            		{% if error.ip-addresses == true %}
                        <ul>
            			{% for ip-address in ip-addresses %}
                            <li>{{ ip-address.ip }}</li>
                        {% endfor %}
                        </ul>
            		{% endif %}
            	</ul>
            	{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Panel End -->
</div>

{% if page.title contains "connection" %}
---

## Check Stitch’s Status

If the troubleshooting steps detailed above don’t resolve the issue or if the errors persist, we recommend checking [Stitch’s Status Page]({{ site.status }}) for reported service issues.
{% endif %}