{% include misc/icons.html %}


{% case include.content-type %}

{% when 'error-fields' %}

{% assign error-fields = site.data.errors.error-fields.all %}
<table class="attribute-list">
    {% for field in error-fields %}
        <tr>
            <td width="20%; fixed" align="right">
                <strong>{{ field.name | upcase }}</strong>
            </td>
            <td class="attribute-description">
                {{ field.description | flatify | markdownify }}
            </td>
        </tr>
    {% endfor %}
</table>


{% when 'error-list' %}
{% include tip.html type="single-line" content="**Tired of scrolling?** Try using Ctrl+F (Windows) or Command+F (Mac) to search for keywords on this page." %}

{% assign table-columns = "applicable-to|replication-stopper|issue-area|full-error|cause|resolution" | split:"|" %}

{% for error in errors %}
<h3 id="{{ error.id }}">{{ error.message | flatify }}</h3>

{{ error.summary | flatify | markdownify }}

<table class="attribute-list">
    {% for table-column in table-columns %}
    {% if error[table-column] %}
        <tr>
            <td width="20%; fixed" align="right">
                <strong>{{ table-column | capitalize | upcase | replace: "-", " " }}</strong>
        </td>
            <td class="attribute-description">
                {% case table-column %}
                    {% when 'replication-stopper' %}
                        {% case error[table-column] %}
                            {% when true %}
                                Yes {{ not-supported }}
                            {% when false %}
                                No {{ supported }}
                        {% endcase %}
                    {% else %}
                        {{ error[table-column] | flatify | markdownify }}
                {% endcase %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endfor %}

{% endcase %}