<!-- This captures copy based on the page's permalink. This ensures that the correct words appear in the error messages based on the page's topic. Ex: the word "destination" won't display on the page about database integrations. -->

{% include misc/icons.html %}

<ul>
    {% for error in errors %}
        <li>
            <a href="#{{ error.id }}">{{ error.message | flatify | truncatewords: 20 }}</a>
        </li>
    {% endfor %}
</ul>


{% for error in errors %}
<h3 id="{{ error.id }}">
    {{ error.summary }}
</h3>

{% highlight markdown %}
{{ error.message | flatify }}
{% endhighlight %}

<table class="attribute-list">
    <tr>
        <td align="right" width="20%; fixed">
            <strong>Applicable to</strong>
        </td>
        <td>
            {{ error.applicable-to | flatify | markdownify }}
        </td>
    </tr>
    <tr>
        <td align="right" width="20%; fixed">
            <strong>Level</strong>
        </td>
        <td>
            {{ error.level | capitalize }} 
            {{ site.data.stitch.notifications.common.levels[error.level]icon | flatify | replace:"TOOLTIP",site.data.stitch.notifications.common.levels[error.level]description }}
        </td>
    </tr>
    <tr>
        <td align="right" width="20%; fixed">
            <strong>Category</strong>
        </td>
        <td>
            {% if error.category-doc %}
                <a href="{{ error.category-doc | flatify }}">
                    {{ error.category | flatify | markdownify }}
                </a>
            {% else %}
                {{ error.category | flatify | markdownify }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right" width="20%; fixed">
            <strong>Potential cause(s)</strong>
        </td>
        <td>
            {{ error.cause | flatify | markdownify }}
        </td>
    </tr>
    <tr>
        <td align="right" width="20%; fixed">
            <strong>Suggested action(s)</strong>
        </td>
        <td>
            {{ error.fix-it | flatify | markdownify }}
        </td>
    </tr>
</table>

<a href="#{{ include.top-anchor }}">Back to {{ include.display-name }} error list</a><br>
<a href="#">Back to top</a>

{% endfor %}