To determine if a field has more than one data type and is thus suitable to be used as a Replication Key, we recommend running the following queries. **We’re using Mongo version 3.0+, so keep in mind that these queries may be different for your version.**

Run this query to count how many of a single data type there are in the table’s Replication Key field, replacing:

- `nameOfCollection` with the collection name,
- `replicationKeyField` with the field name, and
- `knownDataTypeId` with the Mongo BSON data type ID. You can find the data type IDs [here in Mongo’s docs](https://docs.mongodb.com/manual/reference/bson-types/#bson-types).

{% highlight sql %}
   db.nameOfCollection.count({replicationKeyField: {$type: knownDataTypeId}});
{% endhighlight %}

Next, run this query to get a count of **all** records in the table:

{% highlight sql %}
db.nameOfCollection.count();
{% endhighlight %}

Compare the results. If the counts are equal, then the Replication Key field contains only one data type.

Additionally, the following query will return the `MAX` value for the table’s Replication Key field. This can be helpful when comparing your source database to what’s in your data warehouse:

{% highlight sql %}
db.nameOfCollection.find().sort({replicationKeyField:-1}).limit(1);
{% endhighlight %}