{% include misc/data-files.html %}
{% assign destination = site.destinations | where:"type",page.type | first %}

<!-- THe fields that display in the Destination Settings page 
  are dependent on the type of destination selected. 

The fields for each destination - including the field name as it displays 
in the UI and instructions for what goes in each field - are in the data file
below.  -->

{% if page.display_name == "Heroku" %}
  {% assign destination-settings = site.data.ui.destination-settings-page.heroku-postgres %}

{% elsif page.display_name == "CloudSQL PostgreSQL" %}
  {% assign destination-settings = site.data.ui.destination-settings-page.cloudsql-postgres %}

{% elsif page.title contains "PostgreSQL-RDS" %}
  {% assign destination-settings = site.data.ui.destination-settings-page.postgres-rds %}

{% else %}
  {% assign destination-settings = site.data.ui.destination-settings-page[destination.type] %}
{% endif %}

<!-- Assigns a variable to the SSH fields -->
{% if destination.type == "redshift" %}
{% unless page.ssh %}
{% include note.html content="Stitch will attempt to connect to Redshift destinations using SSL by default. This doesn't require any additional configuration." %}
{% endunless %}
{% endif %} 

1. 1. If you aren't signed into your Stitch account, [sign in now]({{ site.sign-in }}){:target="_blank"}.
2. Click the {{ app.menu-paths.destination-settings }}.
3. Click the **{% if destination.display_name == "Heroku" %}PostgreSQL{% else %}{{ destination.display_name }}{% endif %}** icon.
4. Fill in the fields as follows:

   {% for field in destination-settings %}
    - **{{ field.field }}**: {{ field.copy | flatify }}
   {% endfor %}


<!-- Include SSH instructions only if the include requests them -->
{% if include.ssh %}
{% assign ssh-fields = site.data.ui.destination-settings-page.ssh %}

{% if destination.type != "redshift" %}
If you’re using an SSH Tunnel to connect, you’ll also need to fill in the SSH fields.

{% else %}
Lastly, you'll fill in the SSH fields with the bastion details.
{% endif %}

1. Click the **Encryption Type** menu.
2. Select **SSH Tunnel.**
3. The following fields will display - fill them in as follows:
   {% for field in ssh-fields %}

   <!-- Redshift has different terminology, so a different variable produces the field descriptions -->
   {% if destination.type == "redshift" %}
   - **{{ field.field }}**: {{ field.redshift-copy | flatify }}
   
   <!-- Copy variables for all destinations that are NOT Redshift -->
   {% else %}
   - **{{ field.field }}**: {{ field.copy | flatify }}
   
   {% endif %}
   
   {% endfor %}

{% endif %}

<!-- The content below will display for every type of destination -->
When finished, click {{ app.buttons.update-dw-settings | flatify }}.

Stitch will perform a connection test to the {{ destination.display_name }} database; if successful, a *Success!* mesage will display at the top of the screen. **Note**: This test may take a few minutes to complete.