As we mentioned when you created the instance, the credentials used to launch belong to the [master user](http://docs.aws.amazon.com/redshift/latest/dg/r_superusers.html), or admin. 

If you want to control the permission settings, you'll need to create an additional database user for Stitch. An added benefit is that Stitch will be easily distinguishable in any logs or audits.

{% capture callout %}While you can create a {{ destination.display_name }} user for Stitch at any time, we recommend doing so before any data is replicated into your data warehouse. The process for creating a user for us after replication has taken place is considerably lengthier than what's required for a new connection.{% endcapture %}

{% include important.html type="single-line" content=callout %}

### Requirements for creating a {{ destination.display_name }} user

**You must be a superuser {% if destination.type == "postgres" %}(or have the `CREATEROLE` permission){% endif %} to create a {{ destination.display_name }} user.** If you’re not a superuser or you’re not sure what this means, please contact someone on your technical team before proceeding.