While you technically can manually create integration schemas in {{ destination.display_name }} and then grant Stitch access to those schemas, we don't recommend it. We understand that security is a high priority and permissions should be carefully granted, but this approach will likely lead to headaches for you.

If you take this approach, you'll need to first create the schema in your data warehouse and then grant the Stitch user the appropriate permissions to access it **every time a new integration is added in Stitch**. If this isn't done, Stitch won't be able to load data into your data warehouse.

Additionally, if there are any differences between the name of the schema you create in your data warehouse and the schema name you enter in Stitch when setting up an integration, Stitch won't be able to load data into your data warehouse.


{% case page.display_name %}
   {% when "Heroku" %}
      {% assign username = "<heroku_database_user>" %}

   {% else %}
      {% assign username = "<stitch_username>" %}
{% endcase %}


#### Transfer integration schema and table ownership

When an integration is initially connected to Stitch, a schema specific to that connection is created in your data warehouse. Ownership to those schemas and all the tables contained within them must be granted to the Stitch user for data replication to be successful.

1. Query the catalog tables using this statement to list all tables and their owners:

   ```sql
   SELECT * 
   FROM pg_catalog.pg_tables;
   ```

   Take note of any integration tables that aren’t owned by the Stitch user - those are the tables you’ll need to update.

2. Transfer ownership of the integration schema to the Stitch user:

   ```sql
   ALTER SCHEMA <schema_name> OWNER TO {{ username }};
   ```

3. Next, you'll transfer ownership of all tables in the integration schema to the Stitch user. There are two ways to accomplish this: table-by-table or running a script.

   ##### Table-by-Table

   For every table in the schema not owned by the Stitch user - as outlined in step 1 - use this command to transfer ownership:

   ```sql
   ALTER TABLE <table_name> OWNER TO {{ username }};
   ```

{% unless page.display_name == "Heroku" %}
   ##### Script

   To transfer ownership automatically, run this script from the command line:

   ```psql
   for table in `psql -qAt --host [your.{{ destination.type }}.amazonaws.com] --port [port] --user [admin_user] -c "select tablename from pg_tables where schemaname = '[schema_name]';" {{ database_name }} ` ; do psql -qAt --host [your.{{ destination.type }}.amazonaws.com] --port [port] --user [admin_user] -c "alter table \"[schema_name]\".\"$table\" owner to [stitch_username];" [database_name] ; done
   ```
{% endunless %}

**Note:** If you need to transfer ownership of more than one schema and its tables, you'll need to repeat steps 2 and 3 for every integration schema.
