{% if include.heading %}
{{ include.heading }} {#create-stitch-user}
{% endif %}

<ul id="profileTabs" class="nav nav-tabs">
<li class="active">
<a href="#connection-type" data-toggle="tab">Connection type</a>
</li>
<li>
<a href="#new-warehouse" data-toggle="tab">NEW connections</a>
</li>
<li>
<a href="#existing-warehouse" data-toggle="tab">EXISTING connections</a>
</li>
</ul>
<div class="tab-content">

<div role="tabpanel" class="tab-pane active" id="connection-type" markdown="1">
Depending on the type of connection this is, the steps for creating a {{ destination.display_name }} database user for Stitch will vary a bit:

- **If Stitch hasn't ever replicated data to your {{ destination.display_name }} destination**, follow the instructions in the **NEW Connections** tab.
- **If Stitch has replicated data to your {{ destination.display_name }} destination in the past**, follow the instructions in the **EXISTING Connections** tab.
</div>

<div role="tabpanel" class="tab-pane" id="new-warehouse" markdown="1">
{% include destinations/setup/new-redshift-postgres-database-user.html %}
</div>

<div role="tabpanel" class="tab-pane" id="existing-warehouse" markdown="1">
{% include destinations/setup/new-redshift-postgres-database-user.html %}
{% include destinations/setup/redshift-postgres-transfer-schema-ownership.html %}
</div>

</div>