### Generate a {{ integration.display_name }} Webhook URL {#generate-webhook-url}

Once Stitch has successfully saved and created the {{ integration.display_name }} integration, you’ll be redirected to a page that displays your {{ integration.display_name }} webhook URL and token (which is blurred in the image below):

![{{ integration.display_name }} Webhooks URL]({{ site.baseurl }}/images/integrations/webhook-url.png)

Click the **Copy** button to copy it.

**Note that this particular URL won’t display in Stitch again once you click Continue**. Think of this URL like you would your login or API credentials - **keep it secret, keep it safe**. You can, however, [generate another URL](#webhook-urls-security) should you need it.

Once you’ve copied your webhook URL, click **Continue** to wrap things up in Stitch.