{% if integration.name == "incoming_webhooks" %}
Connecting {{ integration.display_name }} to Stitch is a four-step process:
{% else %}
Connecting {{ integration.display_name }} to Stitch is a three-step process:
{% endif %}

<ol>
<li><a href="#add-stitch-data-source">Add {{ integration.display_name }} as a Stitch data source</a></li>
{% if integration.branded == false %}
<li><a href="#define-webhook-primary-key">Define the Primary Key</a></li>
{% endif %}
<li><a href="#generate-webhook-url">Generate a Webhook URL</a></li>
<li><a href="#setup-webhooks-in-app">Set up webhooks in {% if integration.name == "incoming_webhooks" %}your provider's app{% else %}{{ integration.display_name }}{% endif %}</a></li>
</ol>

{{ intro }}

{{ prerequisites }}

{% include integrations/shared-setup/connection-setup.html %}

{% if integration.branded == false and integration.primary-key.defined == false %}
{% include integrations/webhooks/define-primary-key.html %}
{% endif %}

{% include integrations/webhooks/webhook-url.html %}

### Set Up Webhooks in {% if integration.name == "incoming_webhooks" %}Your Provider's App{% else %}{{ integration.display_name }}{% endif %} {#setup-webhooks-in-app}

The last step is to setup webhooks in your {% if integration.name == "incoming_webhooks" %}your provider's app{% else %}{{ integration.display_name }}{% endif %} account.

{% if integration.name == "incoming_webhooks" %}
For instructions on how to setup webhooks in your provider's app, refer to their documentation or reach out to their support team, if necessary.
{% endif %}