{% include misc/data-files.html %}

{% case page.sidebar %}
    {% when 'overview' %}
        {% assign navigation = site.data.sidebars.connect.overview %}
    {% when 'api' %}
        {% assign navigation = site.data.sidebars.connect.api %}
    {% when 'js' %}
        {% assign navigation = site.data.sidebars.connect.js %}
{% endcase %}

{% assign api = site.data.connect.api %}
{% assign js = site.data.connect.js-client %}

{% assign all-form-properties = site.connect-files | where: "content-type","api-form" %}

<div class="menu-list" data-swiftype-index='false'>

<ul id="mysidebar" class="nav">
    <!-- Stitch status widget -->
    <a class="status-page" href="http://status.stitchdata.com" target="_blank">
        <span class="color-dot"></span>
        <span class="color-description"></span>
    </a>
        {% for doc in navigation %}
            <!-- Top-level items -->

            {% for category in doc.categories %}
                <li>
                    {% if category.sections %}
                        <a data-toggle="collapse" href="#{{ category.title | downcase | replace: " ", "-" | replace: ".", "-" | remove:"&" }}" 
                           aria-expanded="{{ category.expand-by-default }}" aria-controls="{{ category.title | downcase | replace: " ", "-" | replace: ".", "-" | remove:"&" }}">
                                {{ category.title }} 
                        </a>
                    {% else %}
                        {% if category.new-page == true %}
                            <a href="{{ category.url | flatify | prepend: site.baseurl }}">{{ category.title | flatify }}</a>
                        {% else %}
                            <a href="{{ category.url | flatify | prepend: page.permalink | prepend: site.baseurl }}">{{ category.title }}</a>
                        {% endif %}
                    {% endif %}
            
                {% if category.sections %}
                    {% case category.expand-by-default %}
                        {% when true %}
                            <ul class="collapse in" id="{{ category.title | downcase | replace: " ", "-" | remove:"&" }}">
                        {% else %}
                            <ul class="collapse" id="{{ category.title | downcase | replace: " ", "-" | remove:"&" }}">
                        {% endcase %}

                    {% for section in category.sections %}
                        {% if section.subsections %}
                            <li class="subfolders">
                                <a data-toggle="collapse" href="#{{ section.title | downcase | replace: " ", "-" | remove:"&" }}"
                                aria-expanded="{{ section.expand-by-default }}" aria-controls="{{ section.title | downcase | replace: " ", "-" | remove:"&" }}"
                                {% if section.method %}
                                 class="api"
                                {% endif %}>
                                {% if section.method %}
                                    <span class="method {{ section.method }} method-bullet">{{ section.method | upcase | strip_newlines }}</span>
                                {% endif %}
                                    {{ section.title }}
                                </a>

                            {% case section.expand-by-default %}
                                {% when true %}
                                    <ul class="collapse in" id="{{ section.title | downcase | replace: " ", "-" | remove:"&" }}">
                                {% else %}
                                    <ul class="collapse" id="{{ section.title | downcase | replace: " ", "-" | remove:"&" }}">
                                {% endcase %}

                            {% case section.title %}
                                {% when 'Source Forms' or 'Destination Forms' %}
                                    {% if section.title == "Source Forms" %}
                                        {% assign form-properties = all-form-properties | where: "form-type", "source" | sort: "display-name" %}

                                    {% elsif section.title == "Destination Forms" %}
                                        {% assign form-properties = all-form-properties | where: "form-type", "destination" | sort: "display-name" %}
                                    {% endif %}
                                    
                                    {% for form-property in form-properties %}
                                        <li>
                                            <a href="{{ form-property.key | prepend: "#" | prepend: page.permalink | prepend: site.baseurl }}" class="api">
                                                <span class="method object method-bullet">OBJECT</span>
                                                {{ form-property.title | remove: "Source Form Property" | remove: "Destination Form Property" }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                {% else %}
                                    {% for subsection in section.subsections %}
                                        <li>
                                            <a href="{{ subsection.url | flatify | prepend: page.permalink | prepend: site.baseurl }}" class="api">
                                                {% if subsection.method %}
                                                    <span class="method {{ subsection.method }} method-bullet">{{ subsection.method | upcase | strip_newlines }}</span>
                                                {% endif %}
                                                {{ subsection.title | flatify }}
                                            </a>
                                        </li>
                                    {% endfor %}
                            {% endcase %}
                                    </ul>
                                    <!-- Sub-section level -->
                                </li>
                        {% else %}
                            <li>
                                <a href="{{ section.url | flatify | prepend: page.permalink | prepend: site.baseurl }}"
                                {% if section.method %}
                                    class="api">
                                    <span class="method {{ section.method }} method-bullet">{{ section.method | upcase | strip_newlines }}</span>
                                {% else %}
                                    >
                                {% endif %}
                                {{ section.title | flatify }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <!-- Section level -->
                </li>
            {% endif %}
                <!-- Category level -->
            {% endfor %}
        {% endfor %}
    </ul> 
    <!-- Top-level - by status page -->
</div>