{% assign navigation = site.data.sidebars.stitchnav.all-docs %}

<div class="menu-list" data-swiftype-index='false'>

<ul id="mysidebar" class="nav">
        <!-- Stitch status widget -->
        <a class="status-page" href="http://status.stitchdata.com" target="_blank">
            <span class="color-dot"></span>
            <span class="color-description"></span>
        </a>

        {% for doc in navigation %}
            <!-- TOP-LEVEL ITEMS -->

            {% for category in doc.categories %}
                {% if category.title == "Getting Started" or category.drop-down == false %}
                    <li>
                        <a href="{{ category.url | flatify | prepend: site.baseurl }}">{{ category.title }}</a>
                {% else %}
                <li>
                    <a data-toggle="collapse" 
                    href="#{{ category.title | slugify }}" 
                    aria-expanded="false" 
                    aria-controls="{{ category.title | slugify }}">
                        {{ category.title }} 
                        <i class="fa fa-caret-down fa-1 pull-right" aria-hidden="true"></i>
                    </a>
                    
                {% endif %}
                
                {% unless category.title == "Getting Started" %}
                    <ul class="collapse" id="{{ category.title | slugify }}">

                    <!-- SECOND-LEVEL ITEMS -->
                        {% for section in category.sections %}

                        <!-- SECOND-LEVEL ITEMS WITH SUBSECTIONS -->
                            {% if section.subsections %}

                            <!-- THIRD-LEVEL ITEMS -->
                                <li class="subfolders">
                                    <a data-toggle="collapse" 
                                    href="#{{ section.title | slugify }}" 
                                    aria-expanded="false" 
                                    aria-controls="{{ section.title | slugify }}">
                                        {{ section.title }} 
                                        <i class="fa fa-caret-down fa-1 pull-right" aria-hidden="true"></i>
                                    </a>

                                    <ul class="collapse" id="{{ section.title | slugify }}">
                                    <!-- Third-level items -->

                                        {% for subsection in section.subsections %}
                                            <li>
                                                <a href="{{ subsection.url | flatify | prepend: site.baseurl }}">{{ subsection.title }}</a>
                                             </li>
                                        {% endfor %}

                                        {% if section.type %}

                                            {% assign integrations = site[section.type] | where:section.filter,true | sort: "display_name" %}

                                            {% for integration in integrations %}
                                                <li>
                                                    <a href="{{ integration.url | prepend: site.baseurl }}">{{ integration.display_name }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </li>

                            {% else %}

                            <!-- SECOND-LEVEL ITEMS WITHOUT SUBSECTIONS -->

                                <li>
                                    <a href="{{ section.url | flatify | prepend: site.baseurl }}">{{ section.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                {% endunless %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>