{% include misc/data-files.html %}

<div class="menu-list">

<ul id="mysidebar" class="nav">
    <!-- Stitch status widget -->
    <a class="status-page" href="http://status.stitchdata.com" target="_blank">
        <span class="color-dot"></span>
        <span class="color-description"></span>
    </a>

    <li>
    	<strong>In this guide:</strong>
    </li>

    {% if page.intro %}
	    <li>
			<a href="#">
		    	Introduction
		    </a>
		</li>
	{% endif %}

    {% if page.requirements %}
        <li>
            <a href="#prerequisites">
                Prerequisites
            </a>
        </li>
    {% endif %}

    {% for section in page.sections %}
		{% if section.subsections %}
            <li class="subfolders">
                <a data-toggle="collapse" href="#{{ section.anchor | append: "--menu" }}" aria-expanded="false" aria-controls="{{ section.anchor | append: "--menu" }}">
                    {{ section.title | flatify }}
                    <i class="fa fa-caret-down fa-1 pull-right" aria-hidden="true"></i>
                </a>

                <ul class="collapse" id="{{ section.anchor | append: "--menu" }}">

                    <!-- This is a menu item that actually links to the section. It's
                        in here because the menu doesn't link to the section, the anchor just opens the menu. -->
            		<li>
                        <a href="#{{ section.anchor }}">{{ section.title | flatify }}</a>
                    </li>

               		{% for subsection in section.subsections %}
                        {% if subsection.sub-subsections %}
                            <li class="subfolders">
                                <a data-toggle="collapse" href="#{{ subsection.anchor | append: "--menu" }}" aria-expanded="false" aria-controls="{{ subsection.anchor | append: "--menu" }}">
                                    {{ subsection.title | flatify }} 
                                    <i class="fa fa-caret-down fa-1 pull-right" aria-hidden="true"></i>
                                </a>

                                <ul class="collapse" id="{{ subsection.anchor | append: "--menu" }}">
                                <!-- Same as above - this is the item that actually links
                                    to the section. -->
                                    <li>
                                        <a href="#{{ subsection.anchor }}">{{ subsection.title | flatify }}</a>
                                    </li>

                                    {% for sub-subsection in subsection.sub-subsections %}
                                        <li>
                                            <a href="#{{ sub-subsection.anchor }}">{{ sub-subsection.title | flatify }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                        {% else %}
                    		<li>
                                <a href="#{{ subsection.anchor }}">{{ subsection.title | flatify }}</a>
                            </li>
                        {% endif %}
                	{% endfor %}
                </ul>

            {% else %}
            	<li>
            		<a href="#{{ section.anchor }}">
		            	{{ section.title | flatify }}
		            </a>
		        </li>
    		{% endif %}
    	</li>
    {% endfor %}

    {% if page.related %}
	    <hr>

	    <li>
	    	<strong>Related:</strong>
	    </li>

	    	{% for related in page.related %}
	    		<li>
            		<a href="{{ related.link | flatify }}">
		            	{{ related.title }}
		            </a>
		        </li>
	    	{% endfor %}
	{% endif %}
</ul>

</div>