
<!-- This file contains the instructions for
      whitelisting Stitch's IP addresses in the
      Microsoft Azure UI. 

    Note that the instructions vary a bit depending on whether
    a connection is direct or via SSH. -->

{% if include.connection-type %}
  {% assign connection-type = include.connection-type %}
{% else %}
  {% assign connection-type = page.connection-type %}
{% endif %}


<!-- Direct connections only -->
{% case connection-type %}

{% when 'destination' %}
  {% assign steps = "6 and 7" %}

{% unless include.type == "ssh" %}
{% include layout/inline_image.html type="right" file="destinations/azure-sql-dw-details-page.png" alt="" max-width="500px" %}

For the connection from Stitch to be successful, you'll need to configure the firewall for your {{ destination.display_name }} instance to allow access from our IP addresses.

1. Sign into your [{{ destination.display_name }}](https://azure.microsoft.com/en-us/account/){:target="new"} account and navigate to your dashboard.
{% endunless %}

2. In the sidenav, click **SQL databases**.
3. On the page that displays, click the name of the database you want to connect to Stitch.
4. The details page for the database will display. Click the link in the **Server name** field.
5. The details page for the server will display. Click the **Show firewall settings** link in the **Firewalls and virtual networks** field.

{% when 'integration' %}
  {% assign steps = "4 and 5" %}

{% unless include.type == "ssh" %}
For the connection from Stitch to be successful, you'll need to configure the firewall for your {{ destination.display_name }} instance to allow access from IP addresses for your [Stitch data pipeline region](#verify-stitch-account-region).

1. Sign into your [Microsoft Azure portal](https://azure.microsoft.com/en-us/account/){:target="new"}.
{% endunless %}
2. Locate and open the database you want to connect to Stitch.
3. Click **Settings > Connection security**.

{% endcase %}


{% case include.type %}

<!-- For SSH connections only -->
{% when 'ssh' %}
1. Create a rule for the virtual machine's IP address:
   - **Rule name**: Enter a name for the rule. For example: `Stitch VM`
   - **Start IP**: Paste the virtual machine's private IP address.
   - **End IP**: Paste the virtual machine's private IP address again.

   Below is what the rule should look like when finished:
   
   ![IP rule for a virtual machine]({{ site.baseurl }}/images/destinations/azure-sql-dw-vm-ip-rule.png)
1. Click **Save**.

<!-- For direct connections only -->
{% else %}
1. For each of the IP addresses you retrieved in [Step 1](#verify-stitch-account-region) for your Stitch data pipeline region, create a rule:
   - **Rule name**: Enter a name for the rule. For example: `Stitch<number>`
   - **Start IP**: Paste one of the Stitch data pipeline region IP addresses.
   - **End IP**: Paste the same IP address.
1. Click the three dots to the right of the **End IP** field to add the rule.
1. Repeat steps {{ steps }} until there is a rule for each IP address for your Stitch data pipeline region. Below is an example of what this might look like using Stitch's North America IP addresses:

   ![IP address rules for Stitch's North America IP addresses in Microsoft Azure firewall settings]({{ site.baseurl }}/images/destinations/microsoft-azure-ip-addresses.png)

   **Note**: You may also want to add your own IP address(es) to this list. This ensures that you'll also be able to connect to the database as needed.
1. Click **Save**.
{% endcase %}