<!-- This file contains the instructions for
      whitelisting Stitch's IP addresses in the
      Microsoft Azure UI. 

    Note that the instructions vary a bit depending on whether
    a connection is direct or via SSH. -->


{% include layout/inline_image.html type="right" file="destinations/azure-sql-dw-details-page.png" alt="" max-width="500px" %}

<!-- Direct connections only -->
{% unless include.type == "ssh" %}
For the connection from Stitch to be successful, you'll need to configure the firewall for your {{ destination.display_name }} instance to allow access from our IP addresses.

1. Sign into your [{{ destination.display_name }}](https://azure.microsoft.com/en-us/account/){:target="new"} account.
2. If you aren't automatically brought to your dashboard, navigate there.
{% endunless %}

3. In the sidenav, click **SQL databases**.
4. On the page that displays, click the name of the database you want to connect to Stitch.
5. The details page for the database will display. Click the link in the **Server name** field.
6. The details page for the server will display. Click the **Show firewall settings** link in the **Firewalls and virutal networks** field.


{% case include.type %}

<!-- For SSH connections only -->
{% when 'ssh' %}
7. Create a rule for the virutal machine's IP address:
   - **Rule name**: Enter a name for the rule. For example: `Stitch VM`
   - **Start IP**: Paste the virtual machine's public IP address.
   - **End IP**: Paste the virtual machine's public IP address again.

   Below is what the rule should look like when finished:
   
   ![IP rule for a virtual machine]({{ site.baseurl }}/images/destinations/azure-sql-dw-vm-ip-rule.png)
8. Click **Save**.

<!-- For direct connections only -->
{% else %}
7. For each of Stitch's IP addresses listed below, create a rule:
   - **Rule name**: Enter a name for the rule. For example: `Stitch <number>`
   - **Start IP**: Paste one of Stitch's IP addresses.
   - **End IP**: Paste the same IP address.

   Stitch's IP addresses are:

   {% for ip-address in ip-addresses %}
    - {{ ip-address.ip | remove: "/32" }}
    {% endfor %}
8. Click the three dots to the right of the **End IP** field to add the rule.
9. Repeat steps 7 and 8 until there is a rule for each IP address. The screen should look similar to the following when you're finished:

   ![IP address rules for Stitch's IP addresses in Microsoft Azure firewall settings]({{ site.baseurl }}/images/destinations/microsoft-azure-ip-addresses.png)
10. Click **Save**.
{% endcase %}