<!-- This file includes content that describes how key-based incremental
    replication works for integrations that are file system-based.
    An example is Amazon S3 CSV, Google Sheets, or Heap (which is based on S3). -->

While data from {{ integration.display_name }} integrations is replicated using [Key-based Incremental Replication]({{ link.replication.key-based-incremental | prepend: site.baseurl }}), the behavior for this integration differs subtly from other integrations.

The table below compares Key-based Incremental Replication and [Replication Key]({{ link.replication.rep-keys | prepend: site.baseurl }}) behavior for {{ integration.display_name }} to that of other integrations.

<table class="attribute-list">
	<tr>
		<td>
		</td>
		<td>
			<strong>{{ integration.display_name }}</strong>
		</td>
		<td>
			<strong>Other integrations</strong>
		</td>
	</tr>
<!-- The content for this file is kept in:
	_data/taps/extraction/replication-methods/key-based-incremental.yml -->
	{% for comparison in site.data.taps.extraction.replication-methods.key-based-incremental.database-file-integrations %}
		<tr>
			<td align="right" width="30%; fixed">
				<strong>{{ comparison.item | flatify }}</strong>
			</td>
			<td width="35%; fixed">
				{{ comparison.this-integration | flatify | markdownify }}
			</td>
			<td>
				{{ comparison.other-integrations | flatify | markdownify }}
			</td>
		</tr>
	{% endfor %}
</table>