{% assign all-tables = site.integration-schemas | where:"tap","bigcommerce" %}
  {% assign orders-table = all-tables | where:"name","orders" %}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">   
        <div class="panel-heading">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-orders-table">orders table schema</a>
        </div>
      
        <div id="collapse-orders-table" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">

            </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>BigCommerce Orders table schema</caption>
                            {% for table in orders-table %}
                                {% for attribute in table.attributes %}
                                    <tr>
                                        <td>
                                            <p><strong>{{ attribute.name }}</strong> ({{ attribute.type }})</p>
                                            {{ attribute.description | flatify | markdownify }}

                                            {% if attribute.object-attributes or attribute.array-attributes %}
                                                {% if attribute.object-attributes %}
                                                    {% assign subattributes = attribute.object-attributes %}
                                                    {% capture nested-data-note %}
                                                        attributes in this object will be flattened into the table. Fields will be named: <code>{{ attribute.name }}__[field_name]</code>
                                                    {% endcapture %}
                                                {% endif %}

                                                {% if attribute.array-attributes %}
                                                    {% assign subattributes = attribute.array-attributes %}
                                                    {% capture nested-data-note %}
                                                        attributes will be denested into a subtable. For example: <code>{{ table.name }}__{{ attribute.name }}</code>
                                                    {% endcapture %}
                                                {% endif %}

                                                <p><strong>Note</strong>: This is a nested data structure. If your destination doesn't natively support nested data, {{ nested-data-note }}</p>

                                                <div class="panel-group" id="{{ attribute.name | append: "--" | append: subattribute.name }}">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#{{ attribute.name | append: "--" | append: subattribute.name }}" href="#collapse{{ attribute.name }}">Click to expand {{ attribute.name }}</a>
                                                        </div>

                                                        <div id="collapse{{ attribute.name }}" class="panel-collapse collapse noCrossRef">
                                                            <div class="panel-body">
                                                            </div>
                                                                <table class="table table-hover">
                                                                    <caption>Subattributes of the {{ attribute.name }} {{ attribute.type }}</caption>
                                                                    {% for subattribute in subattributes %}
                                                                        <tr>
                                                                            <td>
                                                                                <p><strong>{{ subattribute.name }}</strong> ({{ subattribute.type }})</p>
                                                                                {{ subattribute.description | flatify | markdownify }}
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </table>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                    </table>
                </div>
        </div>
    </div>
</div>