{% case include.type %}

{% when 'retrieve-client-id' %}
Your Stitch client ID is the unique ID associated with your Stitch account. Your client ID must be provided for every record contained in a request body.

{{ site.data.import-api.general.attributes.client-id | remove: "The Stitch client ID associated with your Stitch account." }}


{% when 'generate-new-access-token' %}
{% include layout/inline_image.html type="right" file="import-api/import-api-generated-access-token.png" max-width="400px" alt="A new Import API access token in the Stitch web app" %}

1. [Sign into your Stitch account]({{ site.sign-in }}){:target="new"}.
2. From the {{ app.page-names.dashboard }} page, click {{ app.buttons.add-integration }}.
3. Click the **Import API** icon.
4. Enter a name for the integration. This is the name that will display on the {{ app.page-names.dashboard }} for the integration; it'll also be used to create the schema in your destination.

   **Note**: Schema names cannot be changed after the integration has been saved.
5. Click the **Save and Generate Token** button to generate and display the token.
6. Copy the token.

**Note**: Stitch will only display the access token once, so be sure to save it before clicking **Close and Continue**. If you forget to copy the token or misplace it, you can create a replacement and revoke the original token.


{% when 'revoke-access-token' %}
{% include note.html type="single-line" content="**Note**: If you need to revoke a token, we we recommend first [creating a second token](#generate-import-api-access-token) and updating your application with it to prevent interruptions. After you've updated the token in your application, you can revoke the old token." %}

{% include layout/inline_image.html type="right" file="import-api/import-api-revoke-access-token.png" max-width="400px" alt="Import API access tokens in the Stitch web app" %}

1. [Sign into your Stitch account]({{ site.sign-in }}){:target="new"}.
2. From the {{ app.page-names.dashboard }} page, click the Import API integration you need to revoke a token from.
3. On the {{ app.page-names.int-details }} page, click the **Settings** tab.
4. Locate the **API Access Tokens** section.
5. [If you've already generated a replacement token](#rotate-import-api-access-tokens), click the **Revoke** button next to the token you want to revoke.
{% endcase %}