{% case integration.ssh %}
{% when false %}

    {% capture whitelist-ips %}
    {% include shared/whitelist-stitch-ips.html %}
    {% endcapture %}

    {{ whitelist-ips | flatify | markdownify }}

{% when true %}
{% assign database-setup = site.data.taps.extraction.database-setup[integration.db-type] %}
 <ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#choose-connection-type" data-toggle="tab">Choose connection type</a>
    </li>
    <li>
        <a href="#direct-connection" data-toggle="tab">Direct connection</a>
    </li>
    <li>
        <a href="#ssh-tunnel-connection" data-toggle="tab">SSH tunnel</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="choose-connection-type">
        <h4 id="connection-type">Choose your connection type</h4>

        <p>If your database is publicly accessible, you can <strong>directly connect</strong> it to Stitch.</p>

        <p>If your database is not publicly accessible, you'll need to connect Stitch via an <strong>SSH tunnel</strong>.</p>

        <p>Click the tab with your connection type to view the configuration instructions.</p>

    </div>

    <div role="tabpanel" class="tab-pane" id="direct-connection">
        {% capture whitelist-ips %}
        {% include shared/whitelist-stitch-ips.html %}
        {% endcapture %}

        {{ whitelist-ips | flatify | markdownify }}
    </div>
        
    <div role="tabpanel" class="tab-pane" id="ssh-tunnel-connection">
        <h4 id="whitelist-ips-ssh">Step {{ forloop.index }}: Whitelist Stitch's IP addresses</h4>

        {{ whitelist-ips | flatify | markdownify }}

        <h4 id="retrieve-public-key">Step {{ forloop.index }}: Retrieve your Stitch public key</h4>

        {% capture public-key %}
        {% include shared/retrieve-public-key.html %}
        {% endcapture %}

        {{ public-key | flatify | markdownify }}

        <h4 id="create-linux-user">Step {{ forloop.index }}: Create a Stitch SSH user</h4>

        {% capture create-linux-user %}
        {% include shared/create-linux-user.html %}
        {% endcapture %}

        {{ create-linux-user| flatify | markdownify }}
    </div>
</div>
{% endcase %}



<!-- <table width="100%; fixed">
            <tr>
                <td width="20%; fixed" align="right">
                    <strong>Privilege name</strong>
                </td>
                <td>
                    <strong>Reason for requirement</strong>
                </td>
            </tr>
            {% for privilege in database-setup.user-privileges %}
                <tr>
                    <td align="right">
                        <a href="{{ privilege.doc-link }}">{{ privilege.name }}</a>
                    </td>
                    <td>
                        {{ privilege.reason | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table> -->