<!-- This file contains the logic and formatting used to display connection options in
    database (source and destination) setup guides. -->

{% capture whitelisting-ips %}
{% include shared/whitelisting-ips/{{ page.hosting-type }}.html %}
{% endcapture %}


{% case page.ssh %}
<!-- If the database doesn't support SSH, just display the whitelisting IP content. -->
{% when false %}

{{ whitelisting-ips | flatify | markdownify }}

<!-- If the database does support SSH, do everything here: -->
{% when true %}

In this step, you'll configure the database server to allow traffic from Stitch to access it. There are two ways to connect your database:

- **A direct connection** will work if your database is publicly accessible.
- **An SSH tunnel** is required if your database isn't publicly accessible. This method uses a publicly accessible instance, or an SSH server, to act as an intermediary between Stitch and your database. The SSH server will forward traffic from Stitch through an encrypted tunnel to the private database.

Click the option you're using below and follow the instructions.


<!-- Amazon-based databases require a different setup for SSH than non-Amazon databases do.
    This gets the correct guide title and link to use in the SSH dropdown. -->

{% case page.hosting-type %}

{% when 'amazon' %}
{% capture ssh-guide %}
    [Setting up an SSH Tunnel for a database in Amazon Web Services guide]({{ link.security.ssh-amazon | prepend: site.baseurl }})
{% endcapture %}

{% when 'microsoft-azure' %}
{% capture ssh-guide %}
    [Setting up an SSH Tunnel for a Microsoft Azure database guide]({{ link.security.ssh-microsoft-azure | prepend: site.baseurl }})
{% endcapture %}

<!-- For self-hosted databases -->
{% when 'generic' %}
{% capture ssh-guide %}
    [Setting up an SSH Tunnel for a database connection guide]({{ link.security.ssh-generic | prepend: site.baseurl }})
{% endcapture %}

{% endcase %}


{% capture ssh-guide-instructions %}
1. Follow the steps in the {{ ssh-guide }} to set up an SSH tunnel for {{ page.display_name }}.
2. Complete the steps in this guide after the SSH setup is complete.
{% endcapture %}


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-direct-connection-setup">I'm using a direct connection.</a>
        </h4>
    </div>
    <div id="collapse-direct-connection-setup" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
            {{ whitelisting-ips | flatify | markdownify }}
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-ssh-connection-setup">I'm using an SSH tunnel to connect.</a>
        </h4>
    </div>
    <div id="collapse-ssh-connection-setup" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
            {{ ssh-guide-instructions | flatify | markdownify }}
        </div>
    </div>
  </div>
</div>

{% endcase %}