
<!-- Get the list of privileges required for the database -->
     {% assign database-setup = site.data.taps.extraction.database-setup.user-privileges[integration.db-type][integration.name] %}
 
 <ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#create-user-instrstructions" data-toggle="tab">Instructions</a>
    </li>
    <li>
        <a href="#privileges-list" data-toggle="tab">Privileges list</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="create-user-instrstructions">
    <!-- Use the database's `name` value if the include has an override-setup property. 
            In some cases, the instructions for different flavors are totally different
            from service to service. This allows for an override. -->
            
        {% if include.override-user-setup %}
        {% capture setup-instructions %}
        {% include integrations/databases/setup/db-users/{{ integration.name }}.html %}
        {% endcapture %}

        {% else %}

        {% capture setup-instructions %}
        {% include integrations/databases/setup/db-users/{{ integration.db-type }}.html %}
        {% endcapture %}
        
        {% endif %}

        {{ setup-instructions | flatify | markdownify }}

        <p>See the <strong>Privileges list</strong> tab for an explanation of why these permissions are required by Stitch.</p>
    </div>

    <div role="tabpanel" class="tab-pane" id="privileges-list">
        <p>In the table below are the database user privileges Stitch requires to connect to and replicate data from a {{ integration.display_name }} database.</p>

        <table class="attribute-list">
            <tr>
                <td width="20%; fixed" class="attribute-name">
                    <strong>Privilege name</strong>
                </td>
                <td>
                    <strong>Reason for requirement</strong>
                </td>
            </tr>
            {% for privilege in database-setup %}
                <tr>
                    <td align="right">
                        {% if privilege.doc-link %}
                            <a href="{{ privilege.doc-link }}">{{ privilege.name }}</a>
                        {% else %}
                            {{ privilege.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ privilege.reason | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>