
<!-- Amazon RDS has their own special privilege for PostgreSQL replication, so we have to do a lot of switching to get all the privileges to display. -->
{% case integration.db-type %}
{% when 'postgres' %}
{% if integration.name contains "rds" %}

<!-- For Postgres RDS, first get the RDS-specific privilege list -->
{% assign rds-setup = site.data.taps.extraction.database-setup.user-privileges[integration.db-type].postgresql-rds %}

<!-- Then get the "default" privileges and concat the arrays -->
{% assign database-setup = site.data.taps.extraction.database-setup.user-privileges[integration.db-type].defaults | concat: rds-setup %}

<!-- For anything else PostgreSQL-based, just use the default privileges list -->
{% else %}
{% assign database-setup = site.data.taps.extraction.database-setup.user-privileges[integration.db-type].defaults %}
{% endif %}

<!-- For all other database integrations, use this -->
{% else %}
{% assign database-setup = site.data.taps.extraction.database-setup.user-privileges[integration.db-type].user-privileges %}
{% endcase %}

<!-- Different flavors of databases may not be on the same version as the DB
that powers their backend, or their settings may be slightly different.

Use the database's display name to pull the correct settings, versus just
using the type. -->

{% assign database-name = integration.display_name | downcase | replace: " ","-" %}
 
 <ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#create-user-instrstructions" data-toggle="tab">Instructions</a>
    </li>
    <li>
        <a href="#privileges-list" data-toggle="tab">Privileges list</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="create-user-instrstructions">
        {% capture setup-instructions %}
        {% include integrations/databases/setup/db-users/{{ integration.db-type }}.html %}
        {% endcapture %}

        {{ setup-instructions | flatify | markdownify }}

        <p>See the <strong>Privileges list</strong> tab for an explanation of why these permissions are required by Stitch.</p>
    </div>

    <div role="tabpanel" class="tab-pane" id="privileges-list">
        <p>In the table below are the database user privileges Stitch requires to connect to and replicate data from a {{ integration.display_name }} database.</p>

        <table class="attribute-list">
            <tr>
                <td width="20%; fixed" class="attribute-name">
                    <strong>Privilege name</strong>
                </td>
                <td>
                    <strong>Reason for requirement</strong>
                </td>
            </tr>
            {% for privilege in database-setup %}
                <tr>
                    <td align="right">
                        <a href="{{ privilege.doc-link }}">{{ privilege.name }}</a>
                    </td>
                    <td>
                        {{ privilege.reason | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>