<h2 id="setup">Connecting {{ integration.display_name }}</h2>

<!-- If there are any requirements for setting up the destination, display them here. -->
{% if integration.requirements-list %}
    <h3 id="setup-requirements">{{ integration.display_name }} Setup Requirements</h3>
        <p>To set up {{ integration.display_name }} in Stitch, you need:</p>
        <ul>
        {% if integration.tier == "Paid" %}
            <li>
                <strong>A paid Stitch plan.</strong> While those currently in the Free Trial will also be able to set up {{ integration.display_name }}, replication will be paused until a paid plan is selected after the trial ends.
            </li>
        {% endif %}
        {% for requirement in integration.requirements-list %}
            <li>
                {{ requirement.item | flatify | markdownify }}{% if requirement.reason %}{{ requirement.reason | flatify | markdownify }}{% endif %}
            </li>
        {% endfor %}
        </ul>

    <!-- If there's any additional info about the requirements, display them here. -->
    {% if integration.requirements-info %}
        {{ integration.requirements-info | flatify | markdownify }}
    {% endif %}

    <hr>
{% endif %}

{% for step in integration.setup-steps %}

    {% capture substeps %}
        {% if step.substeps %}
            {% capture section-step-number %}
                {{ forloop.index }}
            {% endcapture %}

            {% for substep in step.substeps %}
                {% capture substep-number %}
                    {{ forloop.index }}
                {% endcapture %}

                <h4 id="{{ substep.anchor }}">
                    Step {{ section-step-number | strip }}.{{ substep-number | strip }}: {{ substep.title | flatify }}
                </h4>

                {{ substep.content | flatify | markdownify }}

            {% endfor %}
        {% endif %}
    {% endcapture %}

    {% if step.title == "whitelist stitch ips" %}
        <h3 id="whitelist-stitch-ips">Step {{ forloop.index }}: Whitelist Stitch's IP addresses</h3>

        {% capture whitelist-ips %}
        {% include shared/whitelist-stitch-ips.html %}
        {% endcapture %}

        {{ whitelist-ips | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "retrieve public key" %}
        <h3 id="retrieve-public-key">Step {{ forloop.index }}: Retrieve your Stitch Public Key</h3>

        {% capture public-key %}
        {% include shared/retrieve-public-key.html %}
        {% endcapture %}

        {{ public-key | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "create linux user" %}
        <h3 id="create-linux-user">Step {{ forloop.index }}: Create a Stitch Linux user</h3>

        {% capture create-linux-user %}
        {% include shared/create-linux-user.html %}
        {% endcapture %}

        {{ create-linux-user| flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "create db user" %}
        <h3 id="create-database-user">Step {{ forloop.index }}: Create a Stitch database user</h3>

        {% capture create-database-user %}
        {% include integrations/databases/setup/create-database-user.html %}
        {% endcapture %}

        {{ create-database-user | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "connect stitch" %}
        <h3 id="connect-stitch">Step {{ forloop.index }}: Connect Stitch</h3>

        {% if step.content %}
        {{ step.content | flatify | markdownify }}
        {% endif %}

        {% capture connect-stitch %}
        {% include integrations/databases/setup/database-integration-settings.html %}
        {% endcapture %}

        {{ connect-stitch | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "replication frequency" %}
        <h3 id="connect-stitch">Step {{ forloop.index }}: Create a replication schedule</h3>

        {% capture replication-frequency %}
        {% include integrations/shared-setup/replication-frequency.html %}
        {% endcapture %}

        {{ replication-frequency | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% elsif step.title == "sync data" %}
        <h3 id="sync-data">Step {{ forloop.index }}: Select data to replicate</h3>

        {% capture select-data %}
        {% include integrations/databases/setup/syncing.html %}
        {% endcapture %}

        {{ select-data | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% else %}
        <h3 id="{{ step.anchor }}">Step {{ forloop.index }}: {{ step.title | flatify }}</h3>

        {{ step.content | flatify | markdownify }}

        {{ substeps }}

        <hr>

    {% endif %}

{% endfor %}

{% capture post-setup %}
{% include integrations/shared-setup/initial-syncs.html %}
{% endcapture %}

{{ post-setup | markdownify }}