

{% case include.type %}

<!-- Display the block that shows the Singer project, IAPI, and generic webhooks -->
{% when 'where-is-integration' %}
<ul class="tiles three-columns">
    <li>
        <a href="{{ site.singer }}" target="new">
            <img src="{{ site.baseurl }}/images/integrations/icons/singer.svg" alt="Singer.io">
        </a>
        <strong>Singer.io</strong><br>
        <a href="https://github.com/singer-io/getting-started" target="new">Get Started</a> | <a href="{{ site.singer-roadmap }}" target="new">Roadmap</a>
    </li>

<!-- Only show this if the include asks for it -->
<!-- The IAPI and webhooks aren't applicable to database integrations, so don't show this there -->

    {% if include.which-integrations %}
        {% assign iapi = site.documents | where:"name","import-api" %}
        {% assign webhooks = site.documents | where:"name","incoming-webhooks" %}
        {% assign iapi-and-webhooks = iapi | concat: webhooks | sort:"title" %}

        {% for integration in iapi-and-webhooks %}
            <li>
                <a href="{{ integration.url | prepend: site.baseurl }}">
                    <img src="{{ integration.icon | prepend: site.baseurl }}" alt="{{ integration.display_name }}">
                </a>
                <strong>{{ integration.title }}</strong><br>
                 <a href="{{ integration.url | prepend: site.baseurl }}">Get Started</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<!-- For SaaS integrations-->
    {% when 'saas' %}
<!-- SaaS integrations can be Certified or Community -->
        {% case include.which-integrations %}
<!-- For Certified SaaS integrations -->
            {% when 'certified' %}
                {% assign all-saas-integrations = site.saas-integrations | where:"input",true %}
                {% assign integrations = all-saas-integrations | where:"certified",true | sort: "title" %}

<!-- For Community SaaS integrations -->
            {% when 'community' %}
                {% assign all-saas-integrations = site.saas-integrations | where:"input",true %}
                {% assign integrations = all-saas-integrations | where:"certified",false | sort: "title" %}
        {% endcase %}

<!-- For database integrations -->
    {% when 'databases' %}
        {% assign integrations = site.database-integrations | where:"show-in-menus",true | sort:"title" %}

<!-- For webhook integrations -->
    {% when 'webhooks' %}
        {% assign integrations = site.webhook-integrations | where:"input",true | sort:"title" %}

<!-- For all integrations -->
    {% when 'all-integrations' %}
        {% assign databases = site.database-integrations | where:"show-in-menus",true | sort:"title" %}
        {% assign saas = site.saas-integrations | where:"input",true | sort:"title" %}
        {% assign webhooks = site.webhook-integrations | where:"input",true | sort:"title" %}

        {% assign integrations = databases | concat: saas | concat: webhooks | sort:"title" %}
{% endcase %}


<!-- Generate the tiles for the integrations using the variables assigned by include.type -->
<ul class="tiles three-columns">
    {% for integration in integrations %}
        <li>
            <a href="{{ integration.url | prepend: site.baseurl }}">
                {% if integration.use-default-icon == true %}
                    <img src="{{ site.baseurl }}/images/integrations/icons/default.svg" alt="{{ integration.display_name }}">
                {% else %}
                    <img src="{{ site.baseurl }}/images/integrations/icons/{{ integration.name }}.svg" alt="{{ integration.display_name }}">
                {% endif %}
            </a>
            <strong>
                {% case include.type %}
                    {% when 'database' %}
                        {{ integration.title | remove:"(latest)" }}
                    {% else %}
                        {{ integration.display_name }}
                {% endcase %}
            </strong><br>

        <!-- If the integration is versioned, or has an overview page and has-versions == true -->
            {% include shared/versioning/version-menu.html connection-type="integration" menu-type="category-page" item-name="integration" %}

            {% if total-versions <= 1 %}
                <a href="{{ integration.url | prepend: site.baseurl | append: "#setup" }}">Setup</a>
                    {% if integration.permalink contains "databases" or 
                          integration.permalink contains "webhooks" or
                          integration.replication-sections %}
                        | <a href="{{ integration.url | prepend: site.baseurl | append: "#replication" }}">Replication</a>
                    {% endif %}

                    {% if integration.permalink contains "saas" or integration.permalink contains "webhooks" %}
                        | <a href="{{ integration.url | prepend: site.baseurl | append: "#schema" }}">Schema</a>
                    {% endif %}
            {% endif %}
         </li>
    {% endfor %}
</ul>