<!-- This displays deprecation info if the connection version
	has a 'deprecated' status.

	TODO: Add info about last-connection-date back in -->


<div class="alert alert-warning" role="alert">
	<i class="fa fa-exclamation-circle"></i>
	<strong>{{ page.display_name }} (v{{ page.this-version | remove: ".0" }}) deprecation</strong>

	{% if page.name == "google-ads-adwords" %}
	<p>This integration is deprecated. A newer version of the Google Ads integration, using the Google Ads API is available. For more information, refer to the <a href="https://www.stitchdata.com/docs/integrations/saas/google-ads">Google Ads integration documentation</a>.</p>
	
	{% else %}

		{% if this-version.deprecation-date == "" %}
			<p>
				A newer version of {{ page.display_name }} is available in Stitch. This version will still continue to function, but may be deprecated at a future date.
			</p>

		{% else %}
			<p>
				This version of {{ page.display_name }} will be deprecated on <strong>{{ this-version.deprecation-date }}</strong>{% if connection-is-certified == true %} and no longer be formally supported by the Stitch Support Team{% endif %}.
			</p>
		{% endif %}

		{% if page.db-type == "mysql" and page.connection-type == "integration" %}
			{% assign latest-mysql-version = site.data.taps.versions.mysql.latest-version %}
			{% assign mysql-doc-url = link.integrations.database-integration | replace:"INTEGRATION",page.db-type | append: "/v" %}
			<p>
				<a href="{{ mysql-doc-url | prepend: site.baseurl | append: latest-mysql-version }}">
					Upgrade to the latest version (v{{ latest-version | remove: ".0" }}) to continue replicating data.
				</a>
			</p>
			{% else %}
			<p>
				<a href="{{ latest-version-doc.url | prepend: site.baseurl }}">
					Upgrade to the latest version (v{{ latest-version | remove: ".0" }}) to 
					{% if page.connection-type == "integration" %}
						continue replicating data.
					{% else %}
						take advantage of the new enhancements.
					{% endif %}
				</a>
			</p>
			{% endif %}
			
	{% endif %}

	
</div>