First, you'll retrieve the {{ page.display_name }} database's connection details. This info will be used to connect Stitch to your {{ page.display_name }} database.

1. [Sign into your {{ page.display_name }} account](https://id.heroku.com/login){:target="new"}.
2. Click the app that contains the database you want to connect to Stitch. This will open the app's dashboard page.
3. Locate the **Installed add-ons** setion and click the **Heroku Postgres** database you want to connect to Stitch. This will open the database's dashboard page.
4. Click the **Settings** tab.
5. Click the **View Credentials...** button. This will display the database credentials:

    ![Heroku Connection Settings]({{ site.baseurl }}/images/destinations/heroku-connection-settings.png)

Leave this page open for now - you’ll need it to wrap things up.