<!-- This is a row in the top-level table - it'll contain the name of the array -->
    <tr>
        {% case attribute.type %}

    <!-- WHEN ATTRIBUTE = OBJECT -->
        {% when 'object' %}
            <td class="attribute-name">
                <strong>{{ subattribute.name | prepend: "__" | prepend: attribute.name }}</strong>
            </td>

            <td class="attribute-description">
                {{ attribute.description | flatify | markdownify }}

                <p>
                    <a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">If your destination doesn't natively support nested data</a>, this data may be denested into a subtable named <code>{{ subattribute.name | prepend: "__" | prepend: attribute.name | prepend: "__" | prepend: table.name }}</code>. 

                    {% if table.singer-schema %}
                        Refer to the <a href="{{ table.singer-schema }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table schema on GitHub" target="new">Singer schema</a> for details on possible attributes.
                    {% endif %}
                </p>
            </td>

    <!-- WHEN ATTRIBUTE != OBJECT -->
        {% else %}

        <!-- ATTRIBUTE NAME -->
            <td class="attribute-name">
                {% if attribute.doc-link %}
                    <a href="{{ attribute.doc-link }}" 
                       title="Opens in new window: {{ integration.display_name }} {{ table.name }} table {{ attribute.name }} documentation" 
                       target="new">
                    <strong>{{ attribute.name | flatify }}</strong>
                    </a>
                {% else %}
                    <strong>{{ attribute.name | flatify }}</strong>
                {% endif %}
            </td>

        <!-- ATTRIBUTE DESCRIPTION -->
            <td>
                {{ attribute.description | flatify | markdownify }}

                <p>
                    <a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">If your destination doesnt natively support nested data</a>, this data may be denested into a subtable named <code>{{ attribute.name | prepend: "__" | prepend: table.name }}</code> and contain the following attributes:
                </p>

            <!-- START TABLE OF SUBATTRIBUTES -->
                <table class="table-hover attribute-list">
                    {% for attribute in table.attributes %}
                
                <!-- NESTED TABLE PRIMARY KEYS -->
                        {% if attribute.primary-key == true %}
                            <tr>
                                <td class="attribute-name">
                                    <strong>{{ ui-icon.subtable-primary-key | flatify }} {{ app.dw.source-key | append: attribute.name }}</strong><br>
                                    {{ attribute.type | upcase }}
                                </td>
                                <td class="attribute-description">
                                    {{ attribute.description | flatify | markdownify }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                <!-- END TABLE PKS -->

                <!-- _sdc_level_*_id -->
                    <tr>
                        <td class="attribute-name">
                            <strong>{{ ui-icon.subtable-primary-key | flatify }} {{ app.dw.level-id | replace:"#","0" }}</strong><br>
                            INTEGER<br>
                        </td>
                        <td class="attribute-description">
                            <p>This column forms part of a composite key for the table. The value will auto-increment for each unique record, beginning with 0.</p>
                        </td>
                    </tr>
                <!-- End _sdc_level_*_id -->

                <!-- START LISTING SUBATTRIBUTES -->
                    {% for subattribute in attribute.array-attributes %}

                    <!-- WHEN SUBATTRIBUTE = OBJECT -->
                        {% if subattribute.type == "object" %}
                            {% include integrations/templates/schemas/object-data-type.html type="array-object" %}'

                    <!-- WHEN SUBATTRIBUTE = ARRAY -->
                        {% elsif subattribute.type == "array" %}
                            <tr>
                                <td class="attribute-name">
                                    {% if subattribute.doc-link %}
                                        <a href="{{ subattribute.doc-link }}" 
                                           title="Opens in new window: {{ integration.display_name }} {{ table.name }} table {{ attribute.name }} documentation" 
                                           target="new">
                                           <strong>{{ subattribute.name | flatify }}</strong>
                                       </a>
                                    {% else %}
                                        <strong>{{ subattribute.name | flatify }}</strong>
                                    {% endif %}
                                </td>
                                <td width="60%; fixed">
                                    {{ subattribute.description | flatify | markdownify }}

                                    <p>
                                        <a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">If your destination doesn't natively support nested data</a>, this data may be denested into a subtable named <code>{{ subattribute.name | prepend: "__" | prepend: attribute.name | prepend: "__" | prepend: table.name }}</code>. 

                                    {% if table.singer-schema %}
                                        Refer to the <a href="{{ table.singer-schema }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table schema on GitHub" target="new">Singer schema</a> for details on possible attributes.
                                    {% endif %}
                                    </p>
                                </td>
                            </tr>

                    <!-- WHEN SUBATTRIBUTE != ARRAY OR OBJECT -->
                        {% else %}
                            <tr>
                                <td class="attribute-name">
                                    {% if subattribute.primary-key == true %}
                                        {{ ui-icon.subtable-primary-key | flatify }} 
                                    {% endif %}
                                    {% if subattribute.doc-link %}
                                        <a href="{{ subattribute.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table {{ attribute.name }} documentation" target="new">
                                           <strong>{{ subattribute.name | flatify }}</strong>
                                       </a>
                                    {% else %}
                                        <strong>{{ subattribute.name | flatify }}</strong>
                                    {% endif %}
                                    <br>
                                    {{ subattribute.type | upcase }}
                                </td>
                                <td width="60%; fixed">
                                    {{ subattribute.description | flatify | markdownify }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            <!-- END SUBATTRIBUTE SUBTABLE -->
            </td>
        {% endcase %}
    </tr>