{% assign integration-references = site.integration-schemas | where:"tap-reference",integration.name %}

{% assign references = integration-references | where:"version",integration.this-version %}

{% for reference in references %}
    {% for key in reference.foreign-keys %}
        {% if key.attribute == attribute.name %}
            <i class="fa fa-table fa-lg" aria-hidden="true" style="color: #cc3399" data-toggle="tooltip" data-original-title="This column can be used to join the {{ table.name }} table to other tables."></i>
                <strong>Reference</strong>: <code>{{ key.table }}.{{ key.join-on }}</code>
        {% endif %}
    {% endfor %}
{% endfor %}