{% if include.type == "array-object" %}
	<!-- This is specific to objects that are nested within top-level arrays -->
	{% for sub-subattribute in subattribute.object-attributes %}
		
	<!-- If the sub-subattribute is an array, do this: -->
		{% if sub-subattribute.type == "array" %}
			<tr>
			 	<td class="attribute-name">
			 		<strong>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name }}</strong>
			  	</td>
			  	<td class="attribute-description">
			  		{{ sub-subattribute.description | flatify | markdownify }}

			  		<p>
			  			<a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">If your destination doesn't natively support nested data</a>, this data may be denested into a subtable named <code>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name | prepend: "__" | prepend: attribute.name | prepend: "__" | prepend: table.name }}</code>. 

		                {% if table.singer-schema %}
		                    Refer to the <a href="{{ table.singer-schema }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table schema on GitHub" target="new">Singer schema</a> for details on possible attributes.
		                {% endif %}
		            </p>
				</td>
			</tr>

	<!-- If the sub-subattribute is any other data type, do this: -->
		{% else %}

		<!-- For 1 level of nested object in an array. Ex: array > top-level-object__first-level-object -->
			<tr>
			 	<td class="attribute-name">
			 		<strong>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name }}</strong>
			  		<br>
			  		{{ sub-subattribute.type | upcase }}
			  	</td>
			  	<td class="attribute-description">
			  		{{ sub-subattribute.description | flatify | markdownify }}
			  	</td>
			</tr>
	  	{% endif %}
	{% endfor %}

{% else %}

	{% for subattribute in attribute.object-attributes %}

	<!-- If the subattribute is an array, run this include: -->
		{% if subattribute.type == "array" %}
			{% include integrations/templates/schemas/array-data-type.html %}

	<!-- For 2 levels of nested object. Ex: top-level__first-level__second-level -->
		{% elsif subattribute.type == "object" %}
			{% for sub-subattribute in subattribute.object-attributes %}
				<tr>
				 	<td class="attribute-name">
				 		{% if sub-subattribute.doc-link %}
				 			<a href="{{ sub-subattribute.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} {{ sub-subattribute.name }} documentation" target="new"><strong>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name | prepend: "__" | prepend: attribute.name }}</strong></a>
				 		{% else %}
				 			<strong>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name | prepend: "__" | prepend: attribute.name }}</strong>
				 		{% endif %}
				  		<br>
				  		{% if sub-subattribute.type == "object" or sub-subattribute.type == "array" %}

				  		{% else %}
				  			{{ sub-subattribute.type | upcase }}
				  		{% endif %}
				  	</td>
				  	<td class="attribute-description">
				  		{{ sub-subattribute.description | flatify | markdownify }}

				  		{% if sub-subattribute.type == "array" %}
				  			<p>
				  				<a href="{{ link.destinations.storage.nested-structures | prepend: site.baseurl }}">If your destination doesn't natively support nested data</a>, this data may be denested into a subtable named <code>{{ sub-subattribute.name | prepend: "__" | prepend: subattribute.name | prepend: "__" | prepend: attribute.name | prepend: "__" | prepend: table.name }}</code>. 

				                {% if table.singer-schema %}
				                    Refer to the <a href="{{ table.singer-schema }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table schema on GitHub" target="new">Singer schema</a> for details on possible attributes.
				                {% endif %}
				            </p>
				  		{% endif %}
				  	</td>
				</tr>
			{% endfor %}

	<!-- If the subattribute isn't an object or an array, do this: -->
	  	{% else %}
	  		<tr>
	  			<td class="attribute-name">
	  			<!-- For 1 level of nested object. Ex: top-level__first-level -->
	  				{% if subattribute.doc-link %}
	  					<a href="{{ subattribute.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} {{ subattribute.name }} documentation" target="new"><strong>{{ subattribute.name | prepend: "__" | prepend: attribute.name }}</strong></a>
	  				{% else %}
	  					<strong>{{ subattribute.name | prepend: "__" | prepend: attribute.name }}</strong>
	  				{% endif %}
	  				<br>
	  				{{ subattribute.type | upcase }}
	  			</td>
	  			<td class="attribute-description">
	  				{{ subattribute.description | flatify | markdownify }}
	  			</td>
	  		</tr>
	  	{% endif %}
	 {% endfor %}

{% endif %}