{% assign integration = page %}
{% include misc/data-files.html %}

{% if integration.this-version %}
    <!-- Filter out everything that's not for this integration -->
        {% assign integration-tables = site.integration-schemas | where:"tap",integration.name %}  

    <!-- Using the filtered data set above, filter out only the tables for this version of the integration -->
        {% assign schema = integration-tables | where:"version",integration.this-version %}

{% else %}
    {% assign schema = site.integration-schemas | where:"tap",integration.name %}
{% endif %}

<!-- NOTICE ABOUT DOC/DESTINATION OBJECT DIFFERENCES -->
{% if integration.permalink contains "saas" %}
{% capture schemas-and-destination-loading %}
Depending on your destination, table and column names may not appear as they are outlined below.

For example: Object names are lowercased in Redshift (`CusTomERs` > `customers`), while case is maintained in PostgreSQL destinations (`CusTomERs` > `CusTomERs`). Refer to the [Loading Guide]({{ link.destinations.loading.overview | prepend: site.baseurl }}) for your destination for more info.
{% endcapture %}

{% include note.html first-line="**Table and column names in your destination**" content=schemas-and-destination-loading %}
{% endif %}

{% for table in schema %}
<!-- Table Name -->
    <div class="table-heading">
        <div class="table-name pull-left">
            <h3 id="{{ table.name | remove: "[" | remove: "]" }}">{{ table.name }}</h3>
        </div>

    <!-- Link to Singer Schema, if one is present -->
        <div class="table-github pull-right">
        {% if table.singer-schema %}
            <a href="{{ table.singer-schema }}" title="Opens in new window: {{ table.name }} schema on GitHub" target="new"><i class="fa fa-github fa-1" aria-hidden="true"></i> View table schema on GitHub</a>
        {% endif %}
        </div>
    </div>

<!-- The "snapshot" of the table - Replication Method, Keys, links to docs, etc. -->
    {% include integrations/templates/schemas/table-snapshot.html %}

<!-- Table description & any other notes -->
    {{ table.description | flatify | markdownify }}

    {% if table.notes %}
        {{ table.notes | flatify | markdownify }}
    {% endif %}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">   
            <div class="panel-heading">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ table.name }}-table">{{ table.name }} table schema</a>
            </div>
          
            <div id="collapse-{{ table.name }}-table" class="panel-collapse collapse noCrossRef">
                <div class="panel-body">
                </div>
                    {% include integrations/templates/schemas/table-attributes.html table=table.attributes %}
            </div>
        </div>
    </div>

<hr>
{% endfor %}