{% assign integration = page %}
{% include misc/data-files.html %}



{% if integration.this-version %}
    <!-- Filter out everything that's not for this integration -->
        {% assign integration-tables = site.integration-schemas | where:"tap",integration.name %}

    <!-- Using the filtered data set above, filter out only the tables for this version of the integration -->
        {% assign schema = integration-tables | where:"version",integration.this-version %}

{% else %}
    {% assign schema = site.integration-schemas | where:"tap",integration.name %}
{% endif %}



{% for table in schema %}
<!-- Captures & cleans field names for PKs -->
    {% capture clean-keys %}
        {% for attribute in table.attributes %}
            {% if attribute.primary-key == true %}
                {{ attribute.name | flatify | append: " :" }}
            {% endif %}
        {% endfor %}
    {% endcapture %}

    {% capture reverse-pk-keys %}
        {{ clean-keys | split: "" | reverse | join: "" | remove_first: ": " }}
    {% endcapture %}

    {% capture primary-keys %}
        {{ reverse-pk-keys | split: "" | reverse | join: "" }}
    {% endcapture %}
<!-- End PKs -->

<!-- Captures Replication Key fields -->
    {% if table.replication-method contains "Incremental" %}

        {% capture clean-replication-keys %}
            {% for attribute in table.attributes %}
                {% if attribute.replication-key == true %}
                    {{ attribute.name | flatify | append: " :" }}
                {% endif %}
            {% endfor %}
        {% endcapture %}

        {% capture reverse-rk-keys %}
            {{ clean-replication-keys | split: "" | reverse | join: "" | remove_first: ": " }}
        {% endcapture %}

        {% capture replication-keys %}
            {{ reverse-rk-keys | split: "" | reverse | join: "" }}
        {% endcapture %}
    {% endif %}
<!-- End Replication Key -->

    <div class="table-heading">
        <div class="table-name pull-left">
            <h3 id="{{ table.name }}">{{ table.name }}</h3>
        </div>

        <div class="table-github pull-right">
        {% if table.singer-schema %}
            <a href="{{ table.singer-schema }}" title="Opens in new window: {{ table.name }} schema on GitHub" target="new"><i class="fa fa-github fa-1" aria-hidden="true"></i> View Table Schema on GitHub</a>
        {% endif %}
        </div>
    </div>

    <table class="table-snapshot table-hover">
        <tr>
            <td>
                <strong>Replication Method:</strong> {{ table.replication-method }}
            </td>
            
            {% if table.replication-method contains "Incremental" %}
                <td>
                    <strong>Replication Key {{ ui-icon.replication-key | flatify }}:</strong> <code>{{ replication-keys | strip }}</code>
                </td>
            </tr>
            <tr>
            {% if table.api-method.name or table.doc-link %}
                <td width="50%; fixed">
            {% else %}
                <td colspan="2">
            {% endif %}
                    <strong>Primary Key {{ ui-icon.primary-key | flatify }}:</strong> <code>{{ primary-keys | strip }}</code>
                </td>
                {% if table.api-method.name %}
                    <td>
                        <strong>API Endpoint:</strong> <code><a href="{{ table.api-method.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} API documentnation" target="new">{{ table.api-method.name }}</a></code> 
                    </td>

                {% elsif table.doc-link %}
                    <td>
                        <strong>Documentation:</strong> <a href="{{ table.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} documentnation" target="new">Official Docs</a>
                    </td>
                {% endif %}
            {% elsif table.replication-method == "Full Table" %}
                <td>
                    {% if table.api-method.name %}
                        <strong>API Endpoint:</strong> <code><a href="{{ table.api-method.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} API documentnation" target="new">{{ table.api-method.name }}</a></code>

                    {% elsif table.doc-link %}
                        <strong>Documentation:</strong> <a href="{{ table.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} documentnation" target="new">Official Docs</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>Primary Key {{ ui-icon.primary-key | flatify }}:</strong> <code>{{ primary-keys | strip }}</code>
                </td>
            </tr>
            {% endif %}
    </table>

    {{ table.description | flatify | markdownify }}

    {% if table.notes %}
        {{ table.notes | flatify | markdownify }}
    {% endif %}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ table.name }}">{{ table.name }} Table Schema</a>
            </h4>
        </div>
        
        <div id="collapse{{ table.name }}" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table width="100%" class="table-hover">
                    {% for attribute in table.attributes %}
                        {% if attribute.name != "n/a" %}
                            <!-- Formatting for OBJECT -->
                            {% if attribute.type == "object" %}
                                {% include integrations/templates/schemas/object-data-type.html %}
                            <!-- End formatting for OBJECT -->

                            <!-- Formatting for ARRAY -->
                            {% elsif attribute.type == "array" %}
                                {% include integrations/templates/schemas/array-data-type.html %}
                            <!-- End formatting for ARRAY -->

                            {% elsif attribute.type == "subarray" %}
                                {% include integrations/templates/schemas/subarray-data-type.html %}

                            <!-- All other data types -->
                            {% else %}
                                <tr>
                                    <td align="right">
                                        {% if attribute.primary-key == true %}
                                            {{ ui-icon.primary-key | flatify }}
                                        {% endif %}

                                        {% if attribute.replication-key == true %}
                                                {{ ui-icon.replication-key | flatify }}
                                        {% endif %}

                                        {% if attribute.doc-link %}
                                            <strong><a href="{{ attribute.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table {{ attribute.name }} attribute documentation" target="new">{{ attribute.name | flatify }}</a></strong>
                                        {% else %}
                                            <strong>{{ attribute.name | flatify }}</strong>
                                        {% endif %}

                                        {% if attribute.type %}
                                            <br>
                                            {{ attribute.type | upcase }}
                                        {% endif %}
                                    </td>
                                    <td width="70%; fixed" markdown="span">
                                        {{ attribute.description | flatify | markdownify }}
                                    </td>
                                </tr>
                            {% endif %}   <!-- Ends if loop for data types-->
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>

<hr>
{% endfor %}