{% assign integration = page %}
{% include misc/data-files.html %}



{% if integration.this-version %}
    <!-- Filter out everything that's not for this integration -->
        {% assign integration-tables = site.integration-schemas | where:"tap",integration.name %}  

    <!-- Using the filtered data set above, filter out only the tables for this version of the integration -->
        {% assign schema = integration-tables | where:"version",integration.this-version %}

{% else %}
    {% assign schema = site.integration-schemas | where:"tap",integration.name %}
{% endif %}



{% for table in schema %}

<!-- This include pulls the table's Primary Keys and formats them - see notes in include -->
    {% include integrations/templates/schemas/table-keys.html key="primary-key" %}

<!-- Run only if the table is Incremental -->
    {% if table.replication-method == "Incremental" %}
    <!-- Pulls the table's Replication Keys and formats them - see notes in include -->
        {% include integrations/templates/schemas/table-keys.html key="replication-key" %}
    {% endif %}

<!-- Table Name -->
    <div class="table-heading">
        <div class="table-name pull-left">
            <h3 id="{{ table.name }}">{{ table.name }}</h3>
        </div>

    <!-- Link to Singer Schema, if one is present -->
        <div class="table-github pull-right">
        {% if table.singer-schema %}
            <a href="{{ table.singer-schema }}" title="Opens in new window: {{ table.name }} schema on GitHub" target="new"><i class="fa fa-github fa-1" aria-hidden="true"></i> View table schema on GitHub</a>
        {% endif %}
        </div>
    </div>

<!-- The "snapshot" of the table - Replication Method, Keys, links to docs, etc. -->
    {% include integrations/templates/schemas/table-snapshot.html %}

<!-- Table description & any other notes -->
    {{ table.description | flatify | markdownify }}

    {% if table.notes %}
        {{ table.notes | flatify | markdownify }}
    {% endif %}


<!-- Start the actual table schema -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ table.name }}">{{ table.name }} Table Schema</a>
            </h4>
        </div>
        
        <div id="collapse{{ table.name }}" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <table width="100%" class="table-hover">
                    {% for attribute in table.attributes %}
                        {% if attribute.name != "n/a" %}
                            <!-- Formatting for OBJECT -->
                            {% if attribute.type == "object" %}
                                {% include integrations/templates/schemas/object-data-type.html %}
                            <!-- End formatting for OBJECT -->

                            <!-- Formatting for ARRAY -->
                            {% elsif attribute.type == "array" %}
                                {% include integrations/templates/schemas/array-data-type.html %}
                            <!-- End formatting for ARRAY -->

                            {% elsif attribute.type == "subarray" %}
                                {% include integrations/templates/schemas/subarray-data-type.html %}

                            <!-- All other data types -->
                            {% else %}
                                <tr>
                                    <td align="right">
                                        {% if attribute.primary-key == true %}
                                            {{ ui-icon.primary-key | flatify }}
                                        {% endif %}

                                        {% if attribute.replication-key == true %}
                                                {{ ui-icon.replication-key | flatify }}
                                        {% endif %}

                                        {% if attribute.doc-link %}
                                            <strong><a href="{{ attribute.doc-link }}" title="Opens in new window: {{ integration.display_name }} {{ table.name }} table {{ attribute.name }} attribute documentation" target="new">{{ attribute.name | flatify }}</a></strong>
                                        {% else %}
                                            <strong>{{ attribute.name | flatify }}</strong>
                                        {% endif %}

                                        {% if attribute.type %}
                                            <br>
                                            {{ attribute.type | upcase }}
                                        {% endif %}
                                    </td>
                                    <td width="70%; fixed" markdown="span">
                                        {{ attribute.description | flatify | markdownify }}

                                    <!-- If the attribute is marked as a foreign key, run this include: -->
                                        {% if attribute.foreign-key == true %}
                                            {% include integrations/templates/schemas/foreign-keys.html %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}   <!-- Ends if loop for data types-->
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>

<hr>
{% endfor %}