<h4>{{ table.name }}</h4>

<div class="panel-group" id="{{ table.name }}">
    <div class="panel panel-default">   
        <div class="panel-heading">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#{{ table.name }}" href="#collapse-{{ table.name }}-table">{{ table.name }} table schema</a>
        </div>
      
        <div id="collapse-{{ table.name }}-table" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
            </div>
                {% include functions/f_navtree.html %}
        </div>
    </div>
</div>