<!-- This file is used to display data types that are supported for a specific integration. -->


<!-- Used to generate the "Unsupported" icons -->
{% include misc/icons.html %}
{% include misc/data-files.html %}

<!-- The logic for pulling version info is in this include -->
    {% include integrations/templates/versioning/version-logic.html %}

<!-- Get the integration's supported data types -->
    {% assign integration-supported-data-types = site.data.taps.extraction.data-types.[integration_name].all-types %}

<h3 id="supported-data-types">{{ display_name }} supported data types</h3>

<p>{{ display_name }} integrations support the data types in the table below, in addition to the {% if page.url contains "integrations" %}<a href="{{ link.replication.supported-data-types | prepend: site.baseurl }}">common data types</a>{% else %}common data types{% endif %}.</p>

<p>In the table are the data types and how they'll be stored in your destination, depending on the version of the integration being used:</p>

<ul>
    <li>
        {{ supported | replace:"TOOLTIP","This data type is supported for this version of the integration." }} {{ data-type-version.stored-as }} marks supported data types. Following the icon is how Stitch will store the data type in the destination. For example: <code>ARRAY</code> data types will be stored as strings.
    </li>
    <li>
        {{ not-supported | replace:"TOOLTIP","This data type is unsupported for this version of the integration." }} {{ data-type-version.stored-as }} marks unsupported data types. In Stitch, columns with unsupported data types will have <strong>Unavailable</strong> in the <strong>Type</strong> column of the <strong>Tables to Replicate</strong> tab.
    </li>
</ul>
<table class="attribute-list">
    <tr>
        <td>
        </td>
        {% for version in released-versions %}
            {% for doc in all-versioned-docs %}
                {% if version.number == doc.this-version %}
                    <td>
                        <strong>{{ display_name }}<br>
                        <a href="{{ doc.url | prepend: site.baseurl }}">version {{ version.number }}</a></strong>
                        {% if version.number == latest-version %} (latest){% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% for data-type in integration-supported-data-types %}
        <tr>
            <td class="attribute-name">
                <strong>
                    {% if data-type.doc-link %}
                        <a href="{{ data-type.doc-link | flatify }}">{{ data-type.name | upcase }}</a>
                    {% else %}
                        {{ data-type.name | upcase }}
                    {% endif %}
                </strong>
            </td>
            {% for data-type-version in data-type.versions %}
                {% for version in released-versions %}
                    {% if data-type-version.number == version.number %}
                        <td>
                            {% if data-type-version.stored-as == "Unsupported" %}
                                {{ not-supported | replace:"TOOLTIP","This data type is unsupported for this version of the integration." }} {{ data-type-version.stored-as }}
                            {% else %}
                                {{ supported | replace:"TOOLTIP","This data type is supported for this version of the integration." }} {{ data-type-version.stored-as }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>