<!-- This file is used to display data types that are supported for a specific integration. -->


<!-- Used to generate the "Unsupported" icons -->
{% include misc/icons.html %}
{% include misc/data-files.html %}

<!-- If this is being used on a dedicated version page, we might not want to show
    all the other versions. If the page has a 'this-version' property,
    we'll only get the version for the page. -->
    {% if include.version %}
        {% include integrations/templates/versioning/version-logic.html this-version=include.version %}

<!-- Otherwise, we'll get all the released versions for the integration. -->
    {% else %}
        {% include integrations/templates/versioning/version-logic.html %}
    {% endif %}


<!-- Assign variables, so they're easier to re-use later-->
    {% assign data-type-files = site.data.taps.extraction.data-types %}

    {% assign this-integration = data-type-files[integration_name] %}


<!-- Get the data types! 
    Some integrations have data type support that is specific to them.
    When this happens, the include should have a `specific-types: true` property. -->
    {% if include.specific-types == true %}
        {% assign integration-specific-types = this-integration.specific %} 
    {% else %}
        {% assign integration-specific-types = null | compact %}
    {% endif %}

<!-- Gets the data types common to all integrations, and concats the specific types -->
    {% assign all-data-types = data-type-files.common.all | concat: integration-specific-types | sort:"name" %}


<!-- The intro & icon explanation -->
{% if include.display-intro == true %}
<p>In the table below are the data types {{ display_name }} integrations support and the Stitch data type it will map to, depending on the version of the integration being used:</p>

<ul>
    <li>
        {{ supported | replace:"TOOLTIP","This data type is supported for this version of the integration." }} {{ data-type-version.stored-as }} indicates that the data type is supported. Following the icon is the Stitch data type it will map to.
    </li>
    <li>{{ info-icon | replace:"TOOLTIP","This data type is supported for this version of the integration, but there's additional info you should know." }} indicates that the data type is supported, but there is additional information you should know. Hover over the icon to view a tooltip with the information.
    </li>
    <li>
        {{ not-supported | replace:"TOOLTIP","This data type is unsupported for this version of the integration." }} {{ data-type-version.stored-as }} indicates that the data type isn't supported. In Stitch, columns with unsupported data types will have <strong>Unavailable</strong> in the <strong>Type</strong> column of the <strong>Tables to Replicate</strong> tab.
    </li>
</ul>

<p>Refer to the <a href="{{ link.replication.supported-data-types | prepend: site.baseurl }}">Data typing guide</a> for more info about how Stitch identifies and types data when it's loaded into your destination.</p>
{% endif %}


<table class="attribute-list">
    <tr>
        <td>
        </td>
        {% for version in released-versions %}
            {% for doc in all-versioned-docs %}
                {% if version.number == doc.this-version %}
                    <td>
                        <strong>{{ display_name }}<br>
                        <a href="{{ doc.url | prepend: site.baseurl }}">version {{ version.number }}</a></strong>
                        {% if version.number == latest-version %} (latest){% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>

    {% for data-type in all-data-types %}
        <tr>
            <td class="attribute-name">
                <strong>{{ data-type.name | upcase }}</strong>
            </td>
            {% for version in released-versions %}
        <!-- Remove the '.0' from the version, as it's not used in data file names -->
                {% assign clean-version = version.number | remove: ".0" | prepend: "v" %}
                <td>
                    {% case this-integration.[clean-version].[data-type.name]stitch-type %}

                    <!-- If the data-type is unsupported, show the unsupported icon -->
                        {% when 'unsupported' %}
                            {{ not-supported | replace:"TOOLTIP","This data type is unsupported for this version of the integration." }}
                        {% else %}

                    <!-- If the data-type has a tooltip property, do this: -->
                            {% if this-integration.[clean-version].[data-type.name]tooltip %}

                        <!-- Capture the tooltip and flatify it, in case internal links are included -->
                                {% capture flatified-tooltip %}
                                {{ this-integration.[clean-version].[data-type.name]tooltip | flatify }}
                                {% endcapture %}

                        <!-- Put the flatified tooltip into the icon's tooltip -->
                                {{ info-icon | replace:"TOOLTIP",flatified-tooltip }}
                            {% else %}

                    <!-- Otherwise, just show the supported icon -->
                                {{ supported | replace:"TOOLTIP","This data type is supported for this version of the integration." }}
                            {% endif %}
                    {% endcase %}

            <!-- If the data-type includes a doc link, do this -->
                    {% if this-integration.[clean-version].[data-type.name]doc-link %}
                        <a href="{{ this-integration.[clean-version].[data-type.name]doc-link | flatify }}">{{ this-integration.[clean-version].[data-type.name]stitch-type | upcase }}</a>

            <!-- Otherwise, just output the data-type name and transform it. -->
                    {% else %}
                        {{ this-integration.[clean-version].[data-type.name]stitch-type | upcase }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>