<!-- This file contains the logic for displaying form property documentation. 
    Ex: destination and source form properties. -->

{% include misc/data-files.html %}

{% assign all-docs = site.developer-files | where:"product-type",page.product-type %}
    {% assign all-form-properties = all-docs | where:"content-type","api-form" %}

<!-- Display of correct copy for note about REQUIRED attributes -->
{% case include.content %}
        {% when 'destination' %}
            {% assign form-properties = all-docs | where:"form-type","destination" | sort:"title" %}

{% capture required-note %}
**Note**: Attributes marked as <font color="#E96065">REQUIRED</font> must be provided in the `properties` argument for [Creating a Destination]({{ api.core-objects.destinations.create.anchor }}).
{% endcapture %}

    {% else %}
        {% assign form-properties = all-docs | where:"form-type","source" | sort:"title" %}

{% capture required-note %}
**Note**: Attributes marked as <font color="#E96065">REQUIRED</font> must be provided before the source can be considered <code>fully_configured</code>.
{% endcapture %}
    {% endcase %}
<!-- End it -->


{% for form-property in form-properties %}

<!-- The logic for getting a form property's applicable fields -->
    {% include developers/api-form-property-fields-logic.html %}

    <div class="api-js-heading">
        <div class="method object">
            OBJECT 
        </div>

        <div class="method-resource">
            <h4 id="{{ form-property.key }}">
                {{ form-property.display-name }} {{ form-property.form-type }} connection properties
            </h4>
        </div>
    </div>

<!-- property-description is a Frontmatter variable located in _developer-files/documentation/api-form-properties.html

It's a block of Liquid code that checks a form property's type and then outputs
the correct description for it. -->
    {{ doc.property-description | replace: "VARIABLE","form-property" | flatify | markdownify }}

    {% if form-property.oauth-attributes %}
        <p>
            {{ form-property.display-name }} {{ form-property.form-type }} objects can contain two types of properties:
        </p>

        <ul>
            <li>
                <a href="{{ form-property.key }}-form">Form properties</a>: Required to create the {{ form-property.form-type }} and complete the {{ form-property.form-type }}'s <code>form</code> step.
            </li>
            <li>
                <a href="{{ form-property.key }}-oauth">OAuth properties</a>: <strong>Required only if you're performing OAuth for this {{ form-property.form-type }} yourself.</strong> Refer to the <a href="{{ link.connect.guides.configure-connection-oauth | prepend: site.baseurl }}">Performing OAuth with Stitch Connect</a> guide for more info.
            </li>
        </ul>
    {% endif %}

<!-- The description found in the form property's file. Additional details about setup, etc. -->
    {{ form-property.description | flatify | markdownify }}

<!-- If -->
    {% if form-property.oauth-attributes %}
        <h5 id="{{ form-property.key }}-form">
            {{ form-property.display-name }} {{ form-property.form-type }} form properties
        </h5>

        <p>Form properties are used to complete the <code>form</code> step in {{ form-property.form-type }} configuration.</p>
    {% endif %}

{% unless form-property.override-attributes == true %}
    {{ required-note | markdownify }}

<!-- The table listing of the form property's attributes -->
    {% include developers/api-form-property-field-table.html %}
{% endunless %}
    <!-- The example JSON object of the form property -->
    {% include developers/api-form-property-example-object.html content=include.content property-type="form" %}


<!-- Display OAuth properties, if the form-property has them -->
    {% if form-property.oauth-attributes %}
        {% case form-property.form-type %}
            {% when 'destination' %}
                {% assign form-type = "destinations" %}
            {% when 'source' %}
                {% assign form-type = "sources" %}
        {% endcase %}

        <h5 id="{{ form-property.key }}-oauth">
            {{ form-property.display-name }} {{ form-property.form-type }} OAuth properties
        </h5>

        <p>
            OAuth properties are used to complete the <code>oauth</code> step in {{ form-property.form-type }} configuration.
        </p>

        <p>
            <strong>A {{ form-property.form-type }}'s OAuth properties are required only if you’re performing OAuth for this {{ form-property.form-type }} yourself.</strong> After you perform the OAuth handshake, use the <a href="{{ site.data.connect.core-objects[form-type]update.anchor }}">PUT {{ site.data.connect.core-objects[form-type]update.name | flatify }}</a> endpoint to update the {{ form-property.form-type }} with the OAuth properties listed below.
        </p>

        <p>
            <strong>Note</strong>: Attributes marked as <font color="#E96065">REQUIRED</font> must be provided to complete the <code>oauth</code> step.
        </p>

    <!-- OAuth properties table -->
        {% assign all-form-attributes = form-property.oauth-attributes | sort_natural:"name" %}
        {% include developers/api-form-property-field-table.html %}

    <!-- OAuth example object -->
        {% include developers/api-form-property-example-object.html content=include.content property-type="OAuth" %}
    {% endif %}

    {% case include.content %}
        {% when 'destination' %}
            <hr>
        {% else %}
            {% unless forloop.last == true %}
                <hr>
            {% endunless %}
    {% endcase %}

{% endfor %}