<!-- This file contains the logic and formatting for displaying
    API data structures. -->

{% case page.type %}
    {% when 'connect' %}
        {% assign all-docs = site.developer-files | where:"type","connect" %}
    {% when 'import-api' %}
        {% assign all-docs = site.developer-files | where:"type","import-api" %}
{% endcase %}

{% assign data-structures = all-docs | where:"content-type","api-structure" %}

{% include developers/api-endpoint-rollup.html type="data-structure" %}

{% for structure in data-structures %}

    {% assign has-multiple-versions = "false" %}
    
    <div class="api-js-heading">
        <div class="method object">
            OBJECT
        </div>

        <div class="method-resource">
            <h4 id="{{ structure.key }}">
                The {{ structure.title }} Object
            </h4>
        </div>
    </div>

        <p>{{ structure.description | flatify | markdownify }}</p>

    {% if structure.object-attributes %}
        <table class="attribute-list">
            {% for attribute in structure.object-attributes %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            {{ attribute.name }}
                        </strong><br>
                            {{ attribute.type | upcase }}
                                {% if attribute.sub-type %}
                                    (<a href="{{ attribute.url | flatify }}">{{ attribute.sub-type | upcase | strip }}</a>)
                                {% endif %}
                    </td>
                    <td>
                        {{ attribute.description | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if structure.examples %}
        <h4 id="{{ structure.key | append: "-example-usage" }}">
            Example Object
        </h4>

        {% include developers/api-examples.html type="data-structure" %}
    {% endif %}


    {% if structure.sub-structures %}
        {% assign all-sub-structures = site.developer-files | where:"content-type","api-sub-structure" %}

        {% for sub-structure in all-sub-structures %}
            {% for sub in structure.sub-structures %}
                {% if sub-structure.key == sub.key %}

                    <div class="api-js-heading">
                        <div class="method object">
                            SUB-OBJECT
                        </div>

                        <div class="method-resource">
                            <h4 id="{{ sub-structure.key }}">
                                The {{ sub-structure.title }} Object
                            </h4>
                        </div>
                    </div>

                    {{ sub-structure.description | flatify | markdownify }}

                    <table class="attribute-list">
                        {% for attribute in sub-structure.object-attributes %}
                            <tr>
                                 <td class="attribute-name">
                                    <strong>
                                        {{ attribute.name }}
                                    </strong><br>
                                    {% if attribute.url %}
                                        <a href="{{ attribute.url | flatify }}">
                                            {{ attribute.type | upcase }}
                                        </a>
                                    {% else %}
                                        {{ attribute.type | upcase }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ attribute.description | flatify | markdownify }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% if sub-structure.examples %}
                        <h4 id="{{ sub-structure.key | append: "-example-usage" }}">
                            Example Object
                        </h4>

                        {% include developers/api-examples.html type="data-sub-structure" %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        
    {% endif %}

<!-- Horizontal rule separating sections -->
{% unless forloop.last == true %}
    <hr>
{% endunless %}

{% endfor %}