

<!-- This file contains the code for displaying the applicable fields
		for form properties.

	The logic for getting these fields lives in:
		_includes/developers/api-form-property-[type]-fields.html -->

{% include misc/icons.html %}

<table class="attribute-list" style="font-size: 13px;">
	<tr>
		<td>
			<strong>Name</strong>
		</td>
		<td width="15%; fixed">
			<strong>Type</strong>
		</td>
		<td width="15%; fixed">
			<strong>Required</strong> {{ info-icon | replace:"TOOLTIP","Indicates if a property is required. Required properties must be provided to fully configure the connection." | flatify }}
		</td>
		<td>
			<strong>Description</strong>
		</td>
	</tr>
	{% for attribute in include.attributes %}
		<tr>
			<td>
				<strong>{{ attribute.name | flatify }}</strong>
			</td>
			<td>
				{{ attribute.type | upcase }}
			</td>
			<td>
				{% unless attribute.required == false %}
					{{ supported | replace: "TOOLTIP","This property is required to fully configure the connection." | flatify }}
				{% endunless %}
			</td>
			<td>
				{% if attribute.read-only == true %}
	        		<p><strong>Note:</strong> This is a read-only property and will be returned when the {{ form-property.display-name }} object is successfully created. Including it in <code>POST</code> or <code>PUT</code> requests will result in <code>InvalidProperties</code> errors.</p>
	        	{% endif %}

	            {{ attribute.description | flatify | markdownify }}

	            {% if attribute.subattributes %}
	            	{% include developers/api-form-property-field-table.html attributes=attribute.subattributes %}
	            {% endif %}
	        </td>
	    </tr>
    {% endfor %}
</table>



