<!-- Displays a table of endpoints and their versions for APIS. -->

{% assign all-docs = site.developer-files | where:"product-type",page.product-type %}
  {% assign objects = all-docs |  where:"content-type","api-object" | sort:"order" %}

<table class="attribute-list">
  {% for object in objects %}
    <tr>
      <td colspan="2" class="table-subheading">
        <strong>
          <a href="#{{ object.endpoint | append: "--section" }}">{{ object.title | upcase }}
          </a>
        </strong>
      </td>
    </tr>
    <tr>
      <td width="15%; fixed" align="right">
        <strong>Version</strong>
      </td>
      <td class="attribute-description">
        <strong>Endpoints</strong>
      </td>
    </tr>
    {% for version in object.versions %}
      <tr>
        <td width="15%; fixed" align="right">
          <strong>{{ version.number | prepend: "v" }} {% if version.number == object.latest-version %} (latest){% endif %}</strong>
        </td>
        <td class="attribute-description">
          {% assign all-endpoints = site.developer-files | where:"content-type","api-endpoint" %}
            {% assign object-endpoints = all-endpoints | where:"endpoint",object.endpoint %}
              {% assign version-endpoints = object-endpoints | where_exp:"endpoint","endpoint.version == version.number" | sort: "order" %}
                <ul>
                  {% for endpoint in object-endpoints %}
                    {% unless endpoint.not-available-until-version %}
                      {% if endpoint.version == version.number %}
                      <li style="margin: 0">
                        <a href="#{{ endpoint.key }}">{{ endpoint.method | upcase }} {{ endpoint.short-url | flatify }}</a>
                      </li>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </ul>
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>