<!-- This file starts a section for a given object. For example: Accounts, which 
    then contains the Account Object, list of endpoints, etc. -->


{% assign all-docs = site.developer-files | where:"product-type",page.product-type %}
    {% assign objects = all-docs | where:"content-type","api-object" | sort:"order" %}


{% for object in objects %}
<!-- Get the total number of versions the object has - this is used later
    to determine formatting for object attributes and endpoints -->

    {% assign version-count = object.versions | size %}


    <h3 id="{{ object.endpoint | append: "--section" }}">
        {% case page.product-type %}

        {% when 'connect' %}
            {{ object.title | append: "s" }}
        {% when 'import-api' %}
            {{ object.title }}
        {% endcase %}
    </h3>

    {% if object.summary %}
        {{ object.summary | flatify | markdownify }}
    {% endif %}

<!-- The display logic for displaying the list of resources for a given object type -->

    <h4 id="{{ object.endpoint | append: "--endpoint-list" }}">
        Endpoints
    </h4>

        {% include developers/api-endpoint-rollup.html type="endpoint" %}


<!-- The display of the object's attributes -->
        <div class="api-js-heading">
            <div class="method object">
                OBJECT 
            </div>

            <div class="method-resource">
                <h4 id="{{ object.title | slugify | append: "--object" }}">
                    The {{ object.title }} object
                </h4>
            </div>
        </div>

            <p>{{ object.description | flatify | markdownify }}</p>


    <!-- If an object has multiple versions, we need to display them differently than
        those with a single version. This will make it easier to distinguish attributes
        that are available in one version and not in another. -->

        <!-- If an object has more than one version, run this: -->
            {% if version-count > 1 %}
                {% assign all-version-objects = all-docs | where:"content-type","api-version-object" %}
                    {% assign this-objects-version-objects = all-version-objects | where:"endpoint",object.endpoint %}

                <ul id="profileTabs" class="nav nav-tabs">
                    {% for version in object.versions %}
                        {% if forloop.first == true %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a href="#{{ object.title | slugify | append: "--object--v" | append: version.number }}" data-toggle="tab">{{ version.number | prepend: "v" }}{% if version.number == object.latest-version %} (latest){% endif %}</a>
                            </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for version in object.versions %}
                        {% if forloop.first == true %}
                            <div role="tabpanel" class="tab-pane active" id="{{ object.title | slugify | append: "--object--v" | append: version.number }}">
                        {% else %}
                            <div role="tabpanel" class="tab-pane" id="{{ object.title | slugify | append: "--object--v" | append: version.number }}">
                        {% endif %}

                            {% for version-object in this-objects-version-objects %}
                                {% if version.number == version-object.version %}

                            <!-- If the version-object's version isn't equal to the latest version,
                                it's outdated. Display a notice that points the user to the latest
                                version. -->
                                    {% if version-object.version != object.latest-version %}
                                        {% capture outdated-object-notice %}
                                        <strong>Outdated version</strong>: This isn't the most current version of the {{ object.title }} object and will be deprecated in the future. Use the <strong>{{ object.latest-version | prepend: "v" }}</strong> version instead.
                                        {% endcapture %}
                                        {% include note.html type="single-line" content=outdated-object-notice %}
                                    {% endif %}

                            <!-- Get the version-object's attributes and concat them to any common attributes in the top-level object. -->
                                    {% assign all-attributes = version-object.object-attributes | concat: object.common-attributes | sort: "name" | compact %}

                                    <h5 id="{{ object.title | slugify | append: "-v" | append: version-object.version | append: "-object-attributes" }}">
                                        Object properties
                                    </h5>

                                    {% include developers/attribute-table.html object=all-attributes td-width="35" multiple-versions=true %}

                                    <h5 id="{{ object.title | slugify | append: "-v" | append: version-object.version | append: "-object-example" }}">
                                        Example object
                                    </h5>

                                    {% include developers/api-examples.html type="version-object" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

    <!-- If the object only has one version, run this: -->
            {% else %}
                {% include developers/attribute-table.html object=object.object-attributes td-width="25" multiple-versions=false %}

                <h5 id="{{ object.title | slugify | append: "-object-example" }}">
                    Example object
                </h5>

                {% include developers/api-examples.html type="object" %}
            {% endif %}
        <hr>

<!-- Endpoint display -->

<!-- This looks at the `versions` list in the object,
        and looks to see how many versions there are.

    If there are multiple versions and the docs still need 
        to be available for it, we need to display the content
        differently - by using tabs.

        This is the `multiple-versions` logic in _includes/connect/api-endpoint.html-->
    {% assign versions = object.versions %}

        {% for object-version in versions %}
            {% assign total-versions = versions.size %}
        {% endfor %}

        {% for object-method in object-methods %}
            {% if total-versions == 1 %}
                {% include developers/api-endpoint.html type="single-version" %}
            {% else %}
                {% include developers/api-endpoint.html type="multiple-versions" %}
            {% endif %}

            {% unless forloop.last == true %}
                <hr>
            {% endunless %}
        {% endfor %}


{% unless forloop.last == true %}
    <hr>
    <br>
{% endunless %}

{% endfor %}