{% assign response-codes = site.data.connect.js-client-response-codes.list %}

<table width="100%; fixed" style="font-size: 15px;">
    <tr>
        <td align="right" width="30%; fixed">
            <strong>
                Code
            </strong>
        </td>
        <td width="35%; fixed">
            <strong>
                Response text
            </strong>
        </td>
        <td>
            <strong>
                Description
            </strong>
        </td>
    </tr>
    {% for code in response-codes %}
        <tr>
            <td align="right">
                <strong>
                    {{ code.code }}
                </strong>
            </td>
            <td>
                {{ code.text | flatify | markdownify }}
            </td>
            <td>
                {{ code.condition | flatify | markdownify }}
            </td>
        </tr>
    {% endfor %}
</table>