{% capture varchar-widening-example %}
Let’s say you have an `orders` table in an integration called `rep_sales`. During the structure sync, Stitch will create a schema called `rep_sales` in your data warehouse and inside this schema, a table called `orders`.

The table is structured as follows, excluding the `_sdc` columns:

{% highlight markdown %}
| Column           | Data Type    |
|------------------+--------------+
| id [pk]          | BIGINT       |
| rep_name         | VARCHAR(128) |
| order_amount     | BIGINT       |
| order_confirmed  | BOOLEAN      |
{% endhighlight %}

**During the first sync**, the following rows are replicated:

{% highlight markdown %}
| id [pk] | rep_name    | order_amount | order_confirmed |
|---------+-------------+--------------+-----------------|
| 1       | Marty McFly | 12           | true            |
| 2       | Doc Brown   | 10           | true            |
{% endhighlight %}

**During the next sync**, the following rows are replicated:

{% highlight markdown %}
| id [pk] | rep_name                         | order_amount | order_confirmed |
|---------+----------------------------------+--------------+-----------------|
| 3       | MartyMcFlyMessedUpTheTime        | 13           | true            |
|         | ContinuumAndEliminatedHisOwn     |              |                 |
|         | ExistenceAndNowThereAren’tAny    |              |                 |
|         | HoverboardsInAnAwesomeHitSequal  |              |                 |
|         | WhichIsBothWittyAndFuturistic    |              |                 |
| 4       | Doc Brown                        | 11           | true            |
{% endhighlight %}

Take a look at the `rep_name` column for row 3 - it definitely contains data that exceeds 128 characters.

To accommodate the data, Stitch will widen the `rep_name` column, thus changing the structure of the table:

{% highlight markdown %}
| Column           | Data Type    |
|------------------+--------------|
| id [pk]          | BIGINT       |
| rep_name         | VARCHAR(256) |     // widened column
| order_amount     | BIGINT       |
| order_confirmed  | BOOLEAN      |
{% endhighlight %}
{% endcapture %}



<!-- For Redshift and Panoply only -->
{% capture mixed-data-types-example %}
{% highlight markdown %}
| Column                   | Data Type    |
|--------------------------+--------------|
| id [pk]                  | BIGINT       |
| order_amount__bigint     | BIGINT       |    // ORIGINAL order_amount column
| order_amount__double     | DOUBLE       |    // NEW order_amount column
| order_confirmed__boolean | BOOLEAN      |    // ORIGINAL order_confirmed column
| order_confirmed__string  | VARCHAR(128) |    // NEW order_confirmed column
{% endhighlight %}
{% endcapture %}

{% assign destinations = site.destinations | where:"destination",true | sort:"display_name" %}

<ul id="{{ include.content }}Tabs" class="nav nav-tabs">
<li class="active">
<a href="#{{ include.content }}" data-toggle="tab">Destination</a>
</li>
{% for destination in destinations %}
{% unless destination.type == "amazon-s3" or destination.type == "snowflake" or destination.type == "data-world" %}
<li>
<a href="#{{ destination.type }}-{{ include.content }}" data-toggle="tab">{{ destination.display_name }}</a>
</li>
{% endunless %}
{% endfor %}
</ul>
<div class="tab-content">

<div role="tabpanel" class="tab-pane active" id="{{ include.content }}" markdown="1">
Click a tab to see how each destination handles this scenario.
</div>


{% for destination in destinations %}
{% unless destination.type == "amazon-s3" or destination.type == "snowflake" or destination.type == "data-world" %}
<div role="tabpanel" class="tab-pane" id="{{ destination.type }}-{{ include.content }}" markdown="1">

<!-- BIGQUERY TABS -->
{% if destination.type == "bigquery" %}

<!-- BIGQUERY VARCHAR -->
{% if include.content == "varchar-widening" %}
In {{ destination.display_name }}, no widening will occur as all `VARCHAR` data is stored as `TEXT`.

<!-- BIGQUERY MIXED DATA TYPES -->
{% elsif include.content == "mixed-data-types" %}
In **BigQuery** destinations, when mixed data types are detected in the same column:

- The **original column**'s name will remain as-is. It will be typed according to the first data type Stitch detected for the column - for `order_amount` for example, that's `BIGINT`
- **Subsequent columns** will have the data type appended to their name. Additionally, only data of this type will be stored in this column. For `order_amount__fl`, for example, that's data determined to be of type `FLOAT`

In the case of the `orders` table, its structure would be altered to:

{% highlight markdown %}
| Column              | Data Type  |
|---------------------+------------|
| id [pk]             | BIGINT     |
| order_amount        | BIGINT     |    // ORIGINAL order_amount column
| order_amount__fl    | FLOAT      |    // NEW order_amount column for `FLOAT` data
| order_confirmed     | BOOLEAN    |    // ORIGINAL order_confirmed column
| order_confirmed__st | TEXT       |    // NEW order_confirmed column for string data
{% endhighlight %}
{% endif %}


<!-- POSTGRESQL TABS -->
{% elsif destination.type == "postgres" %}

<!-- POSTGRES VARCHAR -->
{% if include.content == "varchar-widening" %}
In {{ destination.display_name }}, no widening will occur as all `VARCHAR` data is stored as `TEXT`.

<!-- POSTGRES MIXED DATA TYPES -->
{% elsif include.content == "mixed-data-types" %}
In **PostgreSQL** destinations, when mixed data types are detected in the same column:

- The **original column** will be re-named to include the original (first detected) data type and only data of the original type will be stored in this column. For example: only data determined to be of type `BIGINT` will be stored in `order_amount__bigint`
- **Subsequent columns** will have the data type appended to their name. Additionally, only data of this type will be stored in this column. For `order_amount__ddouble`, for example, that's data determined to be of type `DOUBLE`

In the case of the `orders` table, its structure would be altered to:

{% highlight markdown %}
| Column                   | Data Type    |
|--------------------------+--------------|
| id [pk]                  | BIGINT       |
| order_amount__bigint     | BIGINT       |    // ORIGINAL order_amount column
| order_amount__double     | DOUBLE       |    // NEW order_amount column
| order_confirmed__boolean | BOOLEAN      |    // ORIGINAL order_confirmed column
| order_confirmed__string  | TEXT         |    // NEW order_confirmed column
{% endhighlight %}
{% endif %}


<!-- REDSHIFT AND PANOPLY TABS -->
{% elsif destination.type == "redshift" or destination.type == "panoply" %}


<!-- REDSHIFT/PANOPLY VARCHAR  -->
{% if include.content == "varchar-widening" %}
In {{ destination.display_name }} destinations, when a `VARCHAR` column increases in size Stitch will automatically widen the column to accommodate the data. To do this, Stitch must drop and re-create the column in your data warehouse, [which will require temporarily dropping dependent views](#redshift-panoply-dependent-views).

{{ varchar-widening-example }}

<!-- REDSHIFT/PANOPLY MIXED DATA TYPES -->
{% elsif include.content == "mixed-data-types" %}
In **{{ destination.display_name }}** destinations, when mixed data types are detected in the same column:

- The **original column** will be re-named to include the original (first detected) data type and only data of the original type will be stored in this column. For example: only data determined to be of type `BIGINT` will be stored in `order_amount__bigint`
- **Subsequent columns** will have the data type appended to their name. Additionally, only data of this type will be stored in this column. For `order_amount__double`, for example, that's data determined to be of type `DOUBLE`

In the case of the `orders` table, its structure would be altered to:

{{ mixed-data-types-example }}
{% endif %}

{% endif %}
</div>
{% endunless %}
{% endfor %}
</div>