<!-- This file is used for AWS connection instructions. -->

<!-- DESTINATIONS -->
{% if page.permalink contains "destinations" %}

{% case destination.type %}
{% when 'postgres' %}
    {% assign database-name = "DB Name" %}

    {% assign image = "/integrations/amazon-rds-details-page.png" %}
    {% assign image-alt ="PostgreSQL RDS database details page" %}

{% when 'redshift' %}
    {% assign database-name = "Database Name" %}

    {% assign image = "/destinations/redshift-db-details.png" %}
    {% assign image-alt ="Redshift cluster details" %}
{% endcase %}

{% include layout/image.html type="right" file=image alt=image-alt max-width="450" %}
{% include shared/aws-details-nav.html %}
3. Locate the following fields, which are highlighted in the image on the right:
   - **Endpoint**
   - **{{ database-name }}:** This field contains the name of the database used to launch the instance. You'll only need this info if you want to connect this specific database to Stitch.
   
      You can connect this database to Stitch, or another database within {{ destination.display_name }}. 
   - **Port:** This is the port used by the database.


<!-- INTEGRATIONS -->
{% elsif page.permalink contains "integrations" %}
Next, you'll retrieve the connection details required to complete the setup in Stitch. This info can be found on the Instance Details page in AWS.

If you don't still have this page open, click **RDS > Databases** and then the instance you're connecting to Stitch.

1. On the Instance Details page, click the **Connectivity & security** tab if it's not already open.
2. Locate the **Endpoint** and **Port** fields, which are highlighted in the image below:

   ![Amazon RDS Instance Details page with the DB Name, Endpoint and Port fields highlighted]({{ site.baseurl }}/images/integrations/amazon-rds-details-page.png)
{% endif %}

Leave this page open for now - you'll need it to complete the setup.