{% if destination.type == "postgres" %}
1. In the RDS Dashboard page, click the **grey selection box** (this is the first column in the table) next to the PostgreSQL instance you created.
2. Click the **Instance Actions** menu.
3. Select the **See Details** option. This will open the details page for the instance.
{% endif %}

{% if destination.type == "redshift" %}
1. On the **Redshift Dashboard page** in the AWS Console, click the **Clusters** option in the left nav bar.
2. In the Clusters page, locate and click on the cluster you created. This will display the **Cluster Details** page.
{% endif %}