{% unless page.title contains "Redshift" or include.no-notification == true %}
{% include note.html content="If you aren't using an SSH tunnel, skip this step." %}
{% endunless %}

**Note:** Anything inside square brackets - `[like this]` - is something you need to define when running the commands yourself.

1. To create the new user, run the following commands as `root` on your Linux server:

   ```shell
   adduser --disabled-password [stitch_username]
   mkdir /home/[stitch_username]/.ssh
   ```

2. Next, import the Public Key into `authorized_keys`. This will ensure the Stitch user has access to the database.

   Copy the entire key into the `authorized_keys` file by:

   ```shell
   "[PASTE KEY HERE]" >> /home/[stitch_username]/.ssh/authorized_keys
   ```

3. Alter the permissions on the `/home/[stitch_username]` directory to allow access via SSH:

   ```shell
   chown -R [stitch_username]:[stitch_username] /home/[stitch_username]
   chmod -R 700 /home/[stitch_username]/.ssh
   ```