
The Stitch public key is used to authorize the Stitch SSH user. This key is specific to your Stitch account.

**Note**: If the key isn't properly installed, Stitch will be unable to access your database. 

To retrieve your public key, use the instructions below:

{% capture integration-copy %}
{% include layout/inline_image.html max-width="400px" file="/ssh-public-key-singer.png" alt="The Stitch Public Key" type="right" %}
1. [Sign into your Stitch account]({{ site.sign-in }}){:target="_blank"}.
2. Next:
   - **For new integrations**: Click {{ app.buttons.add-integration }}, locate the type of database you're connecting on the Integrations page, and click its icon. {% if page.title contains "Amazon" %}**Note**: Not all RDS databases are present on the Integrations page. Click the icon of the type of database you're connecting - for example, for MySQL-RDS, use MySQL.{% endif %}

   - **For existing integrations**: Locate and click the integration on the {{ app.page-names.dashboard }} page, then click the **Settings** tab.
3. In the {{ app.page-names.int-settings }} page, you'll see one of two options:

   - **SSH Tunnel**: Click the checkbox to display the SSH fields.
   - **Encryption Type**: Click the dropdown and select the **SSH Tunnel** option to display the SSH fields.
4. Locate the **Public Key** field.

Leave this page open for now - you'll need it the next step.
{% endcapture %}


{% capture destination-copy %}
{% include layout/inline_image.html max-width="400px" file="/ssh-public-key.png" alt="The Stitch Public Key" type="right" %}
1. [Sign into your Stitch account]({{ site.sign-in }}){:target="_blank"}.
2. Click the **Destination** tab at the top of the page. 
3. Click the icon of the destination you're connecting. {% if page.title contains "Amazon" %}**Note**: If connecting an RDS database, note that there may not be an icon for it on this page. Instead, click the icon of the **type** of database you're connecting - for example, for PostgreSQL-RDS, use PostgreSQL.{% endif %}
4. In the {{ app.page-names.dw-settings }} page, click the **Encryption Type** menu, then the **SSH Tunnel** option. This will display the SSH fields.
5. In the {{ app.page-names.int-settings }} page, you'll see one of two options:

   - **SSH Tunnel**: Click the checkbox to display the SSH fields.
   - **Encryption Type**: Click the dropdown and select the **SSH Tunnel** option to display the SSH fields.
6. Locate the **Public Key** field.

Leave this page open for now - you'll need it the next step.
{% endcapture %}


<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h4 class="panel-title">
        		<a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-integration-ssh">I'm connecting an integration.</a>
    		</h4>
		</div>
		<div id="collapse-integration-ssh" class="panel-collapse collapse noCrossRef">
    		<div class="panel-body">
        		{{ integration-copy | markdownify }}
    		</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h4 class="panel-title">
        		<a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-destination-ssh">I'm connecting a destination.</a>
    		</h4>
		</div>
		<div id="collapse-destination-ssh" class="panel-collapse collapse noCrossRef">
    		<div class="panel-body">
        		{{ destination-copy | markdownify }}
    		</div>
		</div>
	</div>
</div>