{% unless page.keywords contains "data warehouse" or include.no-notification == true %}
{% include note.html content="If you aren't using an SSH tunnel, skip this step." %}
{% endunless %}

{% if page.singer == true %}
{% include layout/inline_image.html max-width="400px" file="/ssh-public-key-singer.png" alt="The Stitch Public Key" type="right" %}
{% else %}
{% include layout/inline_image.html max-width="400px" file="/ssh-public-key.png" alt="The Stitch Public Key" type="right" %}
{% endif %}
The Public Key is used to authorize the Stitch Linux user. If the key isn't properly installed, Stitch will be unable to access your database. 

To retrieve the key:

1. [Sign into your Stitch account]({{ site.sign-in }}){:target="_blank"}.
{% if page.url contains "destinations" %}
2. Click the {{ app.menu-paths.destination-settings }}.
3. Click the **{{ destination.display_name }}** icon.
{% else %}
2. {{ app.menu-paths.add-integration | flatify }}
{% endif %}

{% if page.url contains "integrations" %}
{% if integration.name == "rds" %}
3. Click the icon (ex: MySQL) for the type of database you're connecting.
{% elsif integration.name == "magento" %}
3. Click the **MySQL** icon.
{% else %}
4. Click the **{{ integration.display_name }}** icon.
{% endif %}
{% endif %}

{% if page.singer == true %}
5. Click the **SSH Tunnel** checkbox.
{% else %}
6. When the credentials page displays, click the **Encryption Type** menu and select the **SSH Tunnel** option.
{% endif %}
7. The Public Key will display, along with the other SSH fields.

Leave this page open for now - you'll need it to wrap things up at the end.