{% include misc/data-files.html %}

{% if page.name contains "rds" %}
For Stitch to successfully connect with your RDS instance, you'll need to add our IP addresses to the appropriate database security group via the AWS management console. To do this, an inbound security rule must be created for each of our IP addresses.

The IP addresses can be added to an existing group or you can create a new one. The important thing is that the group is authorized to access the instance you want to connect to Stitch.

1. Log into your AWS account.
2. In the management page for the security group, click the **Inbound tab**.
2. Click the **Edit** button. This will display the Edit Inbound Rules window.
3. In the **Type** field, select **Custom TCP Rule**.
4. In the **Port Range** field, enter the port your database uses.
5. In the **CIDR, IP or Security Group** field, enter the IP address. Below are all the IP addresses that must be added to the security group:

    {% for ip-address in ip-addresses %}
    - {{ ip-address.ip }}
    {% endfor %}

6. To add another rule, click the **Add Rule** button.
7. Repeat steps 3-6 until all the Stitch IP addresses have been added.
8. Click the **Save** button.

{% else %}

For the connection to be successful, you'll need to configure your firewall to allow access from our IP addresses. Whitelist the following IPs before continuing onto the next step:

{% for ip-address in ip-addresses %}
- {{ ip-address.ip }}
{% endfor %}

{% endif %}