<!-- This file contains the logic used to pull and display applicable fields
	for destination source form properties. -->


<!-- Create a variable that links to _data/connect/common/destination-forms.yml
		This will be used throughout the file, because it's a nightmare otherwise -->
	{% assign connect-destination-attributes = site.data.connect.common.destination-forms %}


<!-- Get attributes common to all destinations -->
	{% if form-property.uses-common-fields == true %}
		{% assign common-destination-attributes = connect-destination-attributes.all-destinations %}
	{% else %}
		{% assign common-destination-attributes = null | compact %}
	{% endif %}


<!-- Get the corresponding doc for this destination
	It'll be used to see if the destination supports certain features,
	which will determine which fields display in its form property -->

	{% assign all-destination-docs = site.destinations | where:"type",form-property.docs-name %}
		{% assign this-destination = all-destination-docs | where:"destination",true %}

		<!-- Get the destination's port and the link to its documentation -->
			{% for destination in this-destination %}
				{% assign port = destination.port %}
				{% assign doc-link = destination.url | prepend: site.baseurl %}
			{% endfor %}


<!-- Get support info for SSL and SSH connections,
	using the corresponding doc for the destination -->

	<!-- Create a variable that links to _data/destinations/reference/[destination-name].yml
			Otherwise it's a nightmare to keep typing out -->
		{% assign destination-connection-support = site.data.destinations.reference[form-property.docs-name]stitch-details-info.connection-methods %}

	<!-- Check for SSL support in the API -->
		{% if destination-connection-support.connect-ssl contains "true" %}
			{% assign ssl-fields = connect-destination-attributes.ssl %}
		{% else %}
			{% assign ssl-fields = null | compact %}
		{% endif %}

	<!-- Check for SSH support -->
		{% if destination-connection-support.ssh contains "true" %}
			{% assign ssh-fields = connect-destination-attributes.ssh %}
		{% else %}
			{% assign ssh-fields = null | compact %}
		{% endif %}


	<!-- Concat the SSL and SSH fields together and create a new array called feature-fields -->
		{% assign feature-fields = ssl-fields | concat: ssh-fields %}


<!-- If the form property has its own specific attributes, get them &
    concat them to the other two arrays -->
	{% if form-property.object-attributes %}
	    {% assign form-object-attributes = form-property.object-attributes %}
	    	{% assign all-form-attributes = common-destination-attributes | concat: form-object-attributes | concat: feature-fields | sort: "name" %}

	<!-- Otherwise, run this -->
	{% else %}
	    {% assign all-form-attributes = common-destination-attributes | concat: feature-fields | sort: "name" %}
	{% endif %}