<!-- This is the formatting for the object code examples in the Connect API docs -->

<h5 id="{{ form-property.key | append: "-example-usage" }}">
	Example Object
</h5>

{% case include.content %}

<!-- Destination form property example -->
{% when 'destination' %}
{% highlight json %}
{
 "type":"{{ form-property.api-type }}",
 "connection":{
   {% for attribute in all-form-attributes %}
   {%- if forloop.last == true -%}"{{ attribute.name }}":{{ attribute.value | flatify | append: "  " }}
   {%- else -%}"{{ attribute.name }}":{{ attribute.value | rstrip | flatify | append: "," }}
   {% endif %}
   {%- endfor -%}
  }
}
{% endhighlight %}


{% when 'source' %}
{% case form-property.source-type %}

<!-- Database form property example -->
{% when 'database' %}
{% highlight json %}
{
 "type":"{{ form-property.api-type }}",
 "properties":{
   {% for attribute in all-form-attributes %}
   {%- if forloop.last == true -%}"{{ attribute.name }}":"{{ attribute.value | flatify | strip }}"
   {% else %}"{{ attribute.name }}":"{{ attribute.value | flatify | strip }}",
   {% endif %}
   {%- endfor -%}
  }
}
{% endhighlight %}


<!-- SaaS form property example -->
{% when 'saas' %}
  {% assign api-type-clean = form-property.api-type | remove: "platform." %}

<!-- This gets the last item in the list for the source,
      which is then used in the next block to make sure there
      isn't an ending comma in the JSON.

      TL:DR; Filtering doesn't actually eliminate the total number
      of items in an array, it only displays the selected things.
      So if you're doing "forloop.last" and filtering, it probably won't
      work correctly. That's why this approach was taken. -->
  {% for attribute in all-form-attributes %}
    {% unless attribute.exclude contains api-type-clean %}
    {% assign last_item = attribute.name %}
    {% endunless %}
  {% endfor %}


{% highlight json %}
{
 "type":"{{ form-property.api-type }}",
 "properties":{
   {% for attribute in all-form-attributes %}
   {%- unless attribute.exclude contains api-type-clean -%}
   {% if attribute.name == last_item %}"{{ attribute.name }}":"{{ attribute.value | flatify }}"
   {% else %}"{{ attribute.name }}":"{{ attribute.value | flatify }}",
   {% endif %}
   {%- endunless -%}
   {%- endfor -%}
  }
}
{% endhighlight %}

{% endcase %}
{% endcase %}