<!-- This file is included in _includes/connect/api-endpoint.html

    This displays information about a given endpoint. -->


<!-- The endpoint's resource list -->
{% include connect/api-resource-list.html %}

<!-- The arguments the endpoint accepts -->
    {% if endpoint.arguments %}
        <h5 id="{{ endpoint.key | append: "--arguments" }}">
            Arguments
        </h5>

        <p>This endpoint accepts the following parameters:</p>

            <table class="attribute-list">
                {% for argument in endpoint.arguments %}
                    <tr>
                        <td width="20%; fixed" align="right">
                            <strong>
                                {{ argument.name }}
                            </strong><br>
                            {{ argument.type | upcase }}<br>
                            
                            {% case argument.required %}
                                {% when true %}
                                    <font color="#E96065">REQUIRED</font>
                                {% else %}
                                    OPTIONAL
                            {% endcase %}
                        </td>
                        <td class="description">
                            {{ argument.description | flatify | markdownify }}

                            {% if argument.subarguments %}
                                <table class="attribute-list">
                                    {% for subargument in argument.subarguments %}
                                        <tr>
                                            <td width="20%; fixed" align="right">
                                                <strong>
                                                    {{ subargument.name }}
                                                </strong><br>
                                                {{ subargument.type | upcase }}<br>
                                                
                                                {% case subargument.required %}
                                                    {% when true %}
                                                        <font color="#E96065">REQUIRED</font>
                                                    {% else %}
                                                        OPTIONAL
                                                {% endcase %}
                                            </td>
                                            <td class="description">
                                                {{ subargument.description | flatify | markdownify }}

                                                {% if subargument.sub-subarguments %}
                                                    <table class="attribute-list">
                                                        {% for sub-subargument in subargument.sub-subarguments %}
                                                            <tr>
                                                                <td class="attribute-name">
                                                                    <strong>
                                                                        {{ sub-subargument.name }}
                                                                    </strong><br>
                                                                    {{ sub-subargument.type | upcase }}<br>
                                                                    
                                                                    {% case sub-subargument.required %}
                                                                        {% when true %}
                                                                            <font color="#E96065">REQUIRED</font>
                                                                        {% else %}
                                                                            OPTIONAL
                                                                    {% endcase %}
                                                                </td>
                                                                <td class="description">
                                                                    {{ sub-subargument.description | flatify | markdownify }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}


<!-- Description of what the endpoint returns -->
    <h5 id="{{ endpoint.key | append: "--returns" }}">
        Returns
    </h5>
        {{ endpoint.returns | flatify | markdownify }}

<!-- Displays the request, response, and error tabs -->
{% include connect/api-examples.html type="endpoint" %}