{% assign all-form-properties = site.connect-files | where:"content-type","api-form" %}

{% case include.content %}
    {% when 'destination' %}
        {% assign form-properties = site.connect-files | where:"form-type","destination" %}
    {% else %}
        {% assign form-properties = site.connect-files | where:"form-type","source" %}
{% endcase %}


{% for form-property in form-properties %}
    <div class="api-js-heading">
        <div class="method object">
            OBJECT 
        </div>

        <div class="method-resource">
            <h4 id="{{ form-property.key }}">
                The {{ form-property.title }} Object
            </h4>
        </div>
    </div>

    <p>{{ form-property.description | flatify | markdownify }}</p>

{% if form-property.object-attributes %}
    <table width="100%; fixed">
        {% for attribute in form-property.object-attributes %}
            <tr>
                <td align="right" width="20%; fixed">
                    <strong>
                        {{ attribute.name }}
                    </strong><br>
                    {{ attribute.type | upcase }}
                </td>
                <td>
                    {{ attribute.description | flatify | markdownify }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<h5 id="{{ data-structure.key | append: "-example-usage" }}">
    Example Object
</h5>

    {% for example in form-property.examples %}
{%- capture example-code -%}
```json
{{ example.code | flatify | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
    {% endfor %}


    {% case include.content %}
        {% when 'destination' %}
            <hr>
        {% else %}
            {% unless forloop.last == true %}
                <hr>
            {% endunless %}
    {% endcase %}

{% endfor %}