{% case include.type %}
    {% when 'endpoint' %}
        {% assign all-endpoints = site.connect-files | where:"content-type","api-endpoint" %}
            {% assign object-endpoints = all-endpoints | where:"endpoint",object.endpoint %}
                {% assign same-version = object-endpoints | where:"version",object.version %}
                    {% assign endpoints = same-version | sort:"order" %}

                    {% assign item = endpoint %}
                    {% assign items = endpoints %}

    {% when 'data-structure' %}
        {% assign item = structure %}
        {% assign items = data-structures %}

    {% when 'form-property' %}
        {% case include.subtype %}
            {% assign all-form-properties = site.connect-files | where:"content-type","api-form" %}

            {% when 'destination' %}
                {% assign form-properties = site.connect-files | where:"form-type","destination" %}

            {% when 'source' %}
                {% assign form-properties = site.connect-files | where:"form-type","source" %}

            {% else %}
                {% assign form-properties = site.connect-files | where:"content-type","api-form" %}
            {% endcase %}

            {% assign item = form-property %}
            {% assign items = form-properties %}

{% endcase %}

<table class="method-rollup">
    {% if include.type == "endpoint" %}
        <tr>
            <td class="object" align="center">
                OBJECT
            </td>
            <td width="25%; fixed" align="center">
                <strong>
                    <a href="{{ object.title | downcase | replace: " ", "-" | append: "--object" }}">
                    {{ object.title | append: " Object" }}
                    </a>
                </strong>
            </td>
            <td>
                {{ object.description | flatify | markdownify }}
            </td>
        </tr>
    {% endif %}

    {% for item in items %}
        <tr>
            {% case include.type %}
                {% when 'endpoint' %}
                    <td class="{{ item.method }}" align="center">
                        {{ item.method | flatify | upcase }}
                    </td>
                    <td align="center">
                        <strong>
                            <a href="#{{ item.key }}">{{ item.short-url | flatify }}</a>
                        </strong>
                    </td>
                    <td>
                        {{ item.short | flatify | markdownify }}
                    </td>

                {% else %}
                    <td class="object" align="center">
                        OBJECT
                    </td>
                    <td align="center" width="25%; fixed">
                        <strong>
                            <a href="#{{ item.key }}">{{ item.title }}</a>
                        </strong>
                    </td>
                    <td>
                        {{ item.description | flatify | markdownify }}
                    </td>
            {% endcase %}
        </tr>
    {% endfor %}
</table>

<hr>
