{% assign objects = site.connect-files | where:"content-type","api-object" %}

{% for object in objects %}
    <h3 id="{{ object.endpoint | replace: " ", "-" }}">
        {{ object.title | append: "s" }}
    </h3>

        <p>{{ object.description | flatify | markdownify }}</p>

    {% if object.object-attributes %}
        <h4 id="{{ object.title | downcase | replace: " ", "-" | append: "--object" }}">
            The {{ object.title }} Object
        </h4>

            <table width="100%; fixed">
                {% for attribute in object.object-attributes %}
                    <tr>
                        <td align="right" width="20%; fixed">
                            <strong>
                                {{ attribute.name }}
                            </strong><br>
                        {% if attribute.url %}
                            <a href="{{ attribute.url | flatify }}">
                                {{ attribute.type | upcase }}
                            </a>
                        {% else %}
                            {{ attribute.type | upcase }}
                        {% endif %}

                        </td>
                        <td>
                            {{ attribute.description | flatify | markdownify }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}


    {% assign all-endpoints = site.connect-files | where:"content-type","api-endpoint" %}
    {% assign object-endpoints = all-endpoints | where:"endpoint",object.endpoint %}
    {% assign same-version = object-endpoints | where:"version",object.version %}
    {% assign endpoints = same-version | sort:"order" %}

        {% for endpoint in endpoints %}
            {% include connect/api-endpoint.html %}

            {% unless forloop.last == true %}
                <hr>
            {% endunless %}
        {% endfor %}

{% unless forloop.last == true %}
    <hr>
    <br>
{% endunless %}

{% endfor %}