<!-- This file contains the logic used to pull and display applicable fields
    for SaaS source form properties. -->

<!-- If the form property has its own specific attributes, get them &
                        concat them to the common array -->
{% if form-property.object-attributes %}
    {% assign form-object-attributes = form-property.object-attributes %}

    {% assign all-form-attributes = form-object-attributes | concat: all-source-attributes | sort: "name" %}

<!-- Otherwise, just list the common source attributes -->
{% else %}
    {% assign all-form-attributes = site.data.connect.common.all-sources.fields %}
{% endif %}

{% assign all-saas-docs = site.saas-integrations | where:"name",form-property.docs-name %}
    {% assign this-saas = all-saas-docs | where:"input",true %}

        {% for saas in this-saas %}
            {% assign doc-link = saas.url | prepend: site.baseurl %}
            {% assign replication-frequency-value = saas.frequency | remove: " " | remove: "minutes" | remove: "hours" %}

            <!-- We have to do some math because `frequency_in_minutes` is in minutes, and frequencies in the UI are show in hours. -->
                {% if replication-frequency-value == "30" %}
                    {% assign replication-frequency = replication-frequency-value %}
                {% else %}
                    {% assign replication-frequency = replication-frequency-value | times: 60 %}
                {% endif %}

                {% if saas.cron-scheduling == true %}
                    {% assign cron-scheduling = true %}
                {% else %}
                    {% assign cron-scheduling = false %}
                {% endif %}
        {% endfor %}