{% case include.type %}
    {% when 'endpoint' %}
        {% assign item = endpoint %}

    {% when 'function' %}
        {% assign item = function %}

    {% when 'data-structure' %}
        {% assign item = structure %}

    {% when 'data-sub-structure' %}
        {% assign item = sub-structure %}
{% endcase %}


<!-- If there's more than one example, the page can get pretty long.
    This will get the size of the example array and then determine
    the correct formatting for displaying the examples. -->

{% assign example-count = item.examples | size %}


<!-- If there's only 1 example, just display it directly on the page: -->
{% if example-count == 1 %}
    {% for example in item.examples %}
{%- capture example-code -%}
```{{ example.language | default: "json" }}
{{ example.code | flatify | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
{% endfor %}


<!-- If there's more than one example, put them into tabs -->
{% else %}

<ul id="example{{ item.key }}Tabs" class="nav nav-tabs">
    {% for example in item.examples %}

    <!-- This value comes from _includes/connect/api-endpoint.html -->
        {% case has-multiple-versions %}
            {% when "true" %}
                {% assign tab-id = item.key | append: "-" | append: example.type | append: "-v" | append: version.number %}
            {% when "false" %}
                {% assign tab-id = item.key | append: "-" | append: example.type %}
            {% else %}
                {% assign tab-id = item.key | append: "-" | append: example.type %}
        {% endcase %}

        {% if forloop.first == true %} 
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="#{{ tab-id }}" data-toggle="tab">
            {{ example.type }}</a>
        </li>
        {% endfor %}
</ul>
  <div class="tab-content">
    {% for example in item.examples %}

    <!-- This value comes from _includes/connect/api-endpoint.html -->
        {% case has-multiple-versions %}
            {% when "true" %}
                {% assign tab-id = item.key | append: "-" | append: example.type | append: "-v" | append: version.number %}
            {% when "false" %}
                {% assign tab-id = item.key | append: "-" | append: example.type %}
            {% else %}
                {% assign tab-id = item.key | append: "-" | append: example.type %}
        {% endcase %}

        {% if forloop.first == true %}
            <div role="tabpanel" class="tab-pane active" id="{{ tab-id }}">
        {% else %}
            <div role="tabpanel" class="tab-pane" id="{{ tab-id }}">
        {% endif %}

        {% case example.type %}
            {% when 'Errors' %}
                {% include connect/api-response-code-table.html type="endpoint" %}

            {% else %}

                {% if example.description %}
                    {{ example.description | flatify | markdownify }}

                    {% if example.image %}
                        <center>
                            <img src="{{ site.baseurl }}/images/{{ example.image }}" alt="{{ image.caption }}">
                        </center>
                    {% endif %}
                {% endif %}


<!-- This is still inside the tab; it just has to be
    flush left or Jekyll will throw a fit -->
{% if example.code %}
{%- capture example-code -%}
```{{ example.language | default: "json" }}
{{ example.code | flatify | lstrip | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
{% endif %}


<!-- If there are subexamples, list them out: -->
{% if example.subexamples %}
{% for subexample in example.subexamples %}
<p><strong>{{ subexample.type | append: ":" }}</strong></p>

{% if subexample.description %}
{{ subexample.description | flatify | markdownify }}
{% endif %}

{%- capture subexample-code -%}
```{{ example.language | default: "json"  }}
{{ subexample.code | flatify | lstrip | rstrip }}
```
{%- endcapture -%}{{ subexample-code | markdownify }}
{% endfor %}
{% endif %}
        {% endcase %}

</div>
{% endfor %}
</div>

{% endif %}