<!-- This file contains the logic and formatting for displaying
    API data structures. -->

{% assign data-structures = site.connect-files | where:"content-type","api-structure" %}

{% include connect/api-endpoint-rollup.html type="data-structure" %}

{% for structure in data-structures %}

    <div class="api-js-heading">
        <div class="method object">
            OBJECT
        </div>

        <div class="method-resource">
            <h4 id="{{ structure.key }}">
                The {{ structure.title }} Object
            </h4>
        </div>
    </div>

        <p>{{ structure.description | flatify | markdownify }}</p>

    {% if structure.object-attributes %}
        <table class="attribute-list">
            {% for attribute in structure.object-attributes %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            {{ attribute.name }}
                        </strong><br>
                            {{ attribute.type | upcase }}
                                {% if attribute.sub-type %}
                                    (<a href="{{ attribute.url | flatify }}">{{ attribute.sub-type | upcase | strip }}</a>)
                                {% endif %}
                    </td>
                    <td>
                        {{ attribute.description | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if structure.sub-structures %}
        {% assign all-sub-structures = site.connect-files | where:"content-type","api-sub-structure" %}

        {% for sub-structure in all-sub-structures %}
            {% for sub in structure.sub-structures %}
                {% if sub-structure.key == sub.key %}

                    <div class="api-js-heading">
                        <div class="method object">
                            SUB-OBJECT
                        </div>

                        <div class="method-resource">
                            <h4 id="{{ sub-structure.key }}">
                                The {{ sub-structure.title }} Object
                            </h4>
                        </div>
                    </div>

                    <table class="attribute-list">
                        {% for attribute in sub-structure.object-attributes %}
                            <tr>
                                 <td class="attribute-name">
                                    <strong>
                                        {{ attribute.name }}
                                    </strong><br>
                                    {% if attribute.url %}
                                        <a href="{{ attribute.url | flatify }}">
                                            {{ attribute.type | upcase }}
                                        </a>
                                    {% else %}
                                        {{ attribute.type | upcase }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ attribute.description | flatify | markdownify }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        {% endfor %}
        
    {% endif %}


<!-- Object examples -->

<h4 id="{{ structure.key | append: "-example-usage" }}">
    Example Object
</h4>

<!-- If there's more than one example, the page can get pretty long.
    This will get the size of the example array and then determine
    the correct formatting for displaying the examples. -->

{% assign example-count = structure.examples | size %}


<!-- If there's only 1 example, just display it directly on the page: -->
{% if example-count == 1 %}
    {% for example in structure.examples %}
{%- capture example-code -%}
```json
{{ example.code | flatify | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
{% endfor %}



<!-- If there's more than 1 example, put each example into a tab: -->
{% else %}
<ul id="profileTabs" class="nav nav-tabs">
{% for example in structure.examples %}
    {% if forloop.first == true %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="#{{ example.title | downcase | replace: " ", "-" | remove:"(" | remove: ")" | prepend: "report-card-example--" }}" data-toggle="tab">{{ example.title }}</a>
    </li>
{% endfor %}
</ul>
<div class="tab-content">
{% for example in structure.examples %}
    {% if forloop.first == true %}
        <div role="tabpanel" class="tab-pane active" id="{{ example.title | downcase | replace: " ", "-" | | remove:"(" | remove: ")" | prepend: "report-card-example--" }}">
    {% else %}
        <div role="tabpanel" class="tab-pane" id="{{ example.title | downcase | replace: " ", "-" | | remove:"(" | remove: ")" | prepend: "report-card-example--" }}">
    {% endif %}

{%- capture example-code -%}
```json
{{ example.code | flatify | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
    
    </div>
{% endfor %}
</div>
{% endif %}
    

<!-- Horizontal rule separating sections -->
{% unless forloop.last == true %}
    <hr>
{% endunless %}

{% endfor %}