<!-- The display code for object methods/resources. -->

{% assign all-endpoints = site.connect-files | where:"content-type","api-endpoint" %}
    {% assign object-endpoints = all-endpoints | where:"endpoint",object.endpoint %}
        {% assign endpoints = object-endpoints | where:"key",object-method.id %}

<div class="api-js-heading">
    <div class="method {{ object-method.method }}">
        {{ object-method.method | flatify | upcase }} 
    </div>

    <div class="method-resource">
        <h4 id="{{ object-method.id }}">
            {{ object-method.title | flatify }}
        </h4>
    </div>
</div>


{% case include.type %}
    {% when 'single-version' %}
        {% assign has-multiple-versions = "false" %}

        {% for endpoint in endpoints %}
            <p>
                {{ endpoint.description | flatify | markdownify }}
            </p>

            {% include connect/api-endpoint-sections.html %}
        {% endfor %}

    {% when 'multiple-versions' %}
        {% assign has-multiple-versions = "true" %}

        <p>
            {{ object-method.short | flatify | markdownify }}
        </p>

        <ul id="profileTabs" class="nav nav-tabs">
            {% for version in object.versions %}
                {% if forloop.first == true %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                        <a href="#{{ object-method.id }}-{{ version.number | prepend: "v" }}" data-toggle="tab">{{ version.number | prepend: "v" }}
                        {% if version.number == object.latest-version %} (latest){% endif %}
                    </a> 
                    </li>
            {% endfor %}

        </ul>
        <div class="tab-content">
            {% for version in object.versions %}
                {% if forloop.first == true %}
                    <div role="tabpanel" class="tab-pane active" id="{{ object-method.id }}-{{ version.number | prepend: "v" }}">
                {% else %}
                    <div role="tabpanel" class="tab-pane" id="{{ object-method.id }}-{{ version.number | prepend: "v" }}">
                {% endif %}

                    <!-- Loop through endpoints, and then display the content
                            for the object version that corresponds with it. -->
                            
                        {% for endpoint in endpoints %}
                            {% if version.number == endpoint.version %}

                        <!-- If the endpoint's version doesn't match the defined latest version,
                            display a notice. -->
                                {% if version.number != object.latest-version %}
                                    {% include connect/api-outdated-endpoint-notice.html %}
                                {% endif %}

                        <!-- If an endpoint has the `not-available-until-version` property, that means
                            it's likely a new endpoint and is therefore unavilable for older versions.
                            This will prevent displaying any resource info, as it's not needed. -->
                                {% unless endpoint.not-available-until-version %}
                                    {% include connect/api-endpoint-sections.html %}
                                {% endunless %}
                            {% endif %}
                        {% endfor %}

                    </div>
            {% endfor %}
        </div>
{% endcase %}