<!-- This file starts a section for a given object. For example: Accounts, which 
    then contains the Account Object, list of endpoints, etc. -->

{% assign objects = site.connect-files | where:"content-type","api-object" | sort:"order" %}

{% for object in objects %}
    <h3 id="{{ object.endpoint | replace: " ", "-" }}">
        {{ object.title | append: "s" }}
    </h3>

    <!-- The display logic for displaying the list of resources for a given object type -->
        {% include connect/api-endpoint-rollup.html type="endpoint" %}

    {% if object.object-attributes %}
        <div class="api-js-heading">
            <div class="method object">
                OBJECT 
            </div>

            <div class="method-resource">
                <h4 id="{{ object.title | downcase | replace: " ", "-" | append: "--object" }}">
                    The {{ object.title }} Object
                </h4>
            </div>
        </div>

            <p>{{ object.description | flatify | markdownify }}</p>

            <table class="attribute-list">
                {% for attribute in object.object-attributes %}
                    <tr>
                        <td class="attribute-name">
                            <strong>
                                {{ attribute.name }}
                            </strong><br>
                                {{ attribute.type | upcase }}
                                    {% if attribute.sub-type %}
                                    (<a href="{{ attribute.url | flatify }}">{{ attribute.sub-type | upcase | strip }}</a>)
                                {% endif %}
                        </td>
                        <td>
                            {{ attribute.description | flatify | markdownify }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}
        <hr>

<!-- This starts the section for endpoint display -->

<!-- This looks at the `versions` list in the object,
        and looks to see how many versions there are.

    If there are multiple versions and the docs still need 
        to be available for it, we need to display the content
        differently - by using tabs.

        This is the `multiple-versions` logic in _includes/connect/api-endpoint.html-->
    {% assign versions = object.versions %}

        {% for object-version in versions %}
            {% assign total-versions = versions.size %}
        {% endfor %}

        {% for object-method in object-methods %}
            {% if total-versions == 1 %}
                {% include connect/api-endpoint.html type="single-version" %}
            {% else %}
                {% include connect/api-endpoint.html type="multiple-versions" %}
            {% endif %}

            {% unless forloop.last == true %}
                <hr>
            {% endunless %}
        {% endfor %}


{% unless forloop.last == true %}
    <hr>
    <br>
{% endunless %}

{% endfor %}