{% assign functions = site.connect-files | where:"content-type","stitch-js-function" | sort:"order" %}

{% for function in functions %}
    <div class="api-js-heading">
        <div class="method function">
            FUNCTION
        </div>

        <div class="method-resource">
            <h4 id="{{ function.key }}">
                {{ function.definition }}
            </h4>
        </div>
    </div>

    <p>{{ function.description | flatify | markdownify }}</p>

    {% if function.options %}
        <table class="attribute-list">
            {% for option in function.options %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            {{ option.name }}
                        </strong><br>
                        {% case option.required %}
                            {% when true %}
                                <font color="#cc3399">REQUIRED</span>
                            {% else %}
                                OPTIONAL
                            {% endcase %}
                    </td>
                    <td>
                        {{ option.description | flatify | markdownify }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h4 id="{{ function.key | append: "-example-usage" }}">
        Example Usage
    </h4>

    {% for example in function.examples %}

    <p>{{ example.description | flatify | markdownify }}</p>
    
{%- capture example-code -%}
```javascript
{{ example.code | flatify | rstrip }}
```
{%- endcapture -%}{{ example-code | markdownify }}
    {% endfor %}

{% unless forloop.last == true %}
    <hr>
{% endunless %}

{% endfor %}