<!-- This file is used to create the comparison tabs in the
    Choosing a Stitch Destination guide. -->

{% include misc/icons.html %}

{% assign destinations = site.destinations | where:"destination",true %}

<ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#general" data-toggle="tab">
            General</a>
    </li>
    <li>
        <a href="#pricing-tab" data-toggle="tab">
            Pricing</a>
    </li>
    <li>
        <a href="#stitch-support" data-toggle="tab">
            Stitch details</a>
    </li>
    <li>
        <a href="#destination-details" data-toggle="tab">
            Destination details</a>
    </li>
    <li>
        <a href="#replication-and-transformations" data-toggle="tab">
            Replication and transformations</a>
    </li>
</ul>


<!-- GENERAL TAB -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Release status</strong>
                </td>
                <td class="attribute-description">
                    <strong>Stitch availability</strong>
                </td>
                <td class="attribute-description">
                    <strong>Fully managed?</strong><a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.fully-managed }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                {% assign version = destination.this-version | prepend: "v" %}

                {% include shared/versioning/destination-version-logic.html item-name="destination" this-version=destination.this-version %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            <a href="{{ destination.url | prepend: site.baseurl }}">
                                {{ destination.display_name }}
                            </a>
                        </strong>
                    </td>
                    <td class="attribute-description">
                        {{ only-this-version.status | capitalize }}
                    </td>

                    <td>
                        {% if site.data.destinations[destination.type][version]stitch-details %}
                            {% assign stitch-details = site.data.destinations[destination.type][version]stitch-details }}
                        {% else %}
                            {% assign stitch-details = site.data.destinations[destination.type]stitch-details %}
                        {% endif %}

                        {{ stitch-details.stitch-plan-availability | default: "All Stitch plans" }}
                    </td>
                    
                    <td class="attribute-description">
                        {% if site.data.destinations[destination.type][version]destination-details %}
                            {% assign destination-details = site.data.destinations[destination.type][version]destination-details %}
                        {% else %}
                            {% assign destination-details = site.data.destinations[destination.type]destination-details %}
                        {% endif %}

                        {% case destination-details.fully-managed %}
                        {% when true %}
                        Yes

                        {% when false %}
                        No

                        {% else %}
                        {{ destination-details.fully-managed | flatify | default: "Yes" }}
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

<!-- PRICING TAB -->
    <div role="tabpanel" class="tab-pane" id="pricing-tab">
        <p>For more details, see the <a href="#pricing">Pricing</a> section.</p>

        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Pricing model</strong>
                </td>
                <td class="attribute-description">
                    <strong>Free option?</strong>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            <a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a>
                        </strong>
                    </td>
                    <td class="attribute-description">
                        <a href="{{ site.data.destinations[destination.type]resource-links.pricing }}" target="new">
                            {{ site.data.destinations[destination.type]destination-details.pricing-model | flatify | default: "Varies" }}
                        </a>
                    </td>
                    <td class="attribute-description">
                        {{ site.data.destinations[destination.type]destination-details.free-option | flatify | default: "Yes" }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

<!-- STITCH SUPPORT TAB -->
    <div role="tabpanel" class="tab-pane" id="stitch-support">
        In this tab:

        <ul>
            <li>General Stitch details</li>
            <li>Support for connection methods</li>
        </ul>
        
    <!-- GENERAL STITCH DETAILS -->
        <table class="attribute-list table-hover">
            <tr>
                <td colspan="4">
                    <strong>GENERAL STITCH DETAILS</strong>
                </td>
            </tr>
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>API availability</strong>
                </td>
                <td>
                    <strong>Incompatible<br>sources</strong>
                </td>
                <td width="30%; fixed">
                    <strong>Notes</strong>
                </td>
            </tr>
            {% for destination in destinations %}
                {% assign version = destination.this-version | prepend: "v" %}

                {% if site.data.destinations[destination.type][version]stitch-details %}
                    {% assign stitch-details = site.data.destinations[destination.type][version]stitch-details %}
                {% else %}
                    {% assign stitch-details = site.data.destinations[destination.type]stitch-details %}
                {% endif %}

                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td width>
                        {% case stitch-details.available-in-connect %}
                            {% when true %}
                                {{ supported | replace:"TOOLTIP","This destination is available in the Connect API." }} Available
                            {% when false %}
                                {{ not-supported replace:"TOOLTIP","This destination is  not available in the Connect API." }} Unavailable
                        {% endcase %}
                    </td>
                    <td class="attribute-description">
                        {% if site.data.destinations[destination.type][version]incompatibilities %}
                            <strong>
                                <a href="{{ link.destinations.overviews.compatibility | prepend: site.baseurl }}#{{ destination.type }}">Yes</a>
                            </strong>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td width="30%; fixed">
                        {% case stitch-details.supported-versions %}
                            {% when 'n/a' %}
                            {% else %}
                                Stitch requires {{ destination.display_name }} to use version {{ stitch-details.supported-versions }}
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    <!-- CONNECTION METHOD SUPPORT -->
        <table class="attribute-list table-hover">
            <tr>
                <td colspan="4">
                    <strong>CONNECTION METHOD SUPPORT</strong>
                </td>
            </tr>
            {% assign all-connection-methods ="ssl|ssh|vpn" | split: "|" %}
            <tr>
                <td>
                </td>
                {% for connection-method in all-connection-methods %}
                    <td>
                        <strong>{{ connection-method | upcase }} support</strong>
                    </td>
                {% endfor %}
            </tr>
                {% for destination in destinations %}
                    {% assign version = destination.this-version | prepend: "v" %}

                    {% if site.data.destinations[destination.type][version]stitch-details %}
                        {% assign stitch-details = site.data.destinations[destination.type][version]stitch-details %}
                    {% else %}
                        {% assign stitch-details = site.data.destinations[destination.type]stitch-details %}
                    {% endif %}

                    <tr>
                        <td class="attribute-name">
                            <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                        </td>
                    {% for connection-method in all-connection-methods %}
                        <td width="25%; fixed">
                            {% case stitch-details[connection-method] %}
                            {% when true %}
                                {{ supported }}
                            {% when false %}
                                {{ not-supported }}
                            {% else %}
                                n/a 
                            {% endcase %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    </div>

<!-- DESTINATION DETAILS TAB -->
    <div role="tabpanel" class="tab-pane" id="destination-details">
        In this tab:

        <ul>
            <li>Object name limits</li>
            <li>Other destination details</li>
        </ul>

    <!-- OBJECT NAME LIMITS -->
        <table class="attribute-list table-hover">
            <tr>
                <td colspan="4">
                    <strong>OBJECT NAME LIMITS</strong>
                </td>
            </tr>
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Table name length</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.table-name-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Column name length</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td class="attribute-description">
                        {{ site.data.destinations[destination.type]destination-details.table-name-length | default: "n/a" }}
                    </td>
                    <td class="attribute-description">
                        {{ site.data.destinations[destination.type]destination-details.column-name-length | default: "n/a" }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    <!-- OTHER DESTINATION DETAILS -->
        <table class="attribute-list table-hover">
            <tr>
                <td colspan="3">
                    <strong>OTHER DETAILS</strong>
                </td>
            </tr>
            <tr>
                <td class="attribute-name">
                </td>
                <td class="attribute-description">
                    <strong>Case sensitivity</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.case }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td class="attribute-description">
                    <strong>Max columns per table</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.column-limit }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td class="attribute-description">
                        {{ site.data.destinations[destination.type]destination-details.case-sensitivity | default: "n/a" }}
                    </td>
                    <td class="attribute-description">
                        {{ site.data.destinations[destination.type]destination-details.max-columns-per-table | default: "n/a" | remove: " columns" }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

<!-- DATA STORAGE -->
    <div role="tabpanel" class="tab-pane" id="replication-and-transformations">
        <p>For more details, see the <a href="#replication-transformations">Replication and transformations</a> section.</p>
    
        <table class="attribute-list table-hover">
            <tr>
                <td class="attribute-name">
                </td>
                <td width="35%; fixed">
                    <strong>Default loading behavior</strong><a data-toggle="tooltip" data-original-title="The destination's default loading behavior type.">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
                <td width="40%; fixed">
                    <strong>Nested structure support</strong>
                    <a data-toggle="tooltip" data-original-title="{{ site.data.tooltips.nested-structure-support }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                </td>
            </tr>
            {% for destination in destinations %}
                {% assign version = destination.this-version | prepend: "v" %}
                <tr>
                    <td class="attribute-name">
                        <strong><a href="{{ destination.url | prepend: site.baseurl }}">{{ destination.display_name }}</a></strong>
                    </td>
                    <td width="35%; fixed">
                        {{ site.data.destinations[destination.type][version]replication.default-loading-behavior }}
                    </td>
                    <td width="40%; fixed">
                        {% case site.data.destinations[destination.type][version]replication.nested-structure-support %}
                            {% when true %}
                                Supported
                            {% when false %}
                                Unsupported
                            {% else %}
                                {{ site.data.destinations[destination.type][version]replication.nested-structure-support | flatify | markdownify }}
                        {% endcase %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>