{% include misc/icons.html %}


<!-- Get the version and create a variable that matches the 
     file path in _data. So, `v1` versus just `1`-->
     {% assign version = destination.this-version | prepend: "v" %}

<!-- Get the list of category items in:
     _data/destinations/common/reference-data.yml -->
     {% if destination[include.category] %}
          {% assign reference-category-items = site.data.destinations.common.reference-data[include.category] | concat: destination[include.category] %}
     {% else %}
          {% assign reference-category-items = site.data.destinations.common.reference-data[include.category] %}
     {% endif %}

<!-- If a versioned file exists in the destination's folder,
     use that. 
     EX: _data/destinations/bigquery/v1/data-types.yml-->
     {% if site.data.destinations[destination.type][version][include.category] %}
          {% assign destination-data = site.data.destinations[destination.type][version][include.category] %}
     {% else %}

<!-- Otherwise, use the non-versioned file in the root of the
     destination's folder. 
     EX: _data/destinations/bigquery/destination-details.yml -->
          {% assign destination-data = site.data.destinations[destination.type][include.category] %}
     {% endif %}

<!-- Get the replication file for the destination. These will always
     be by version, since it can vary. -->
     {% assign destination-replication = site.data.destinations[destination.type][version]replication %}


{% assign category-description = include.category | append:"-description" %}

{{ site.data.destinations.common.reference-data[category-description] | flatify }}

<table class="attribute-list">
     {% for reference-item in reference-category-items %}
          <tr>
               <td width="40%; fixed" align="right">
                    <strong>
               <!-- If the matching ID in 
                    _data/destinations/common/reference-data.yml has a title,
                    use that.-->
                    {% if site.data.destinations.common.reference-data[reference-item]title %}
                         {{ site.data.destinations.common.reference-data[reference-item]title }}
                    {% else %}
               <!-- Otherwise, use a cleaned-up version of the ID. -->
                         {{ reference-item | replace:"-"," " | capitalize }}
                    {% endif %}

                    <a href="" data-toggle="tooltip" data-original-title="{{ site.data.destinations.common.reference-data[reference-item]tooltip | flatify }}">{{ question-icon | replace:"TOOLTIP","" }}</a>
                    </strong>
               </td>
               <td>

               <!-- Depending on the value of the matching ID in 
                    _data/destinations/<type>/<include.category>.yml, display
                    the value as one of the following: -->
                    {% case destination-data[reference-item] %}
                         {% when true %}
                              <strong>
                                   Supported {{ supported | replace: "TOOLTIP","Supported" }}
                              </strong>

                         <!-- If there's a supported value in the reference-data
                              file, display it. -->
                              {% if site.data.destinations.common.reference-data[reference-item]supported %}
                                   {{ site.data.destinations.common.reference-data[reference-item]supported | flatify | markdownify }}
                              {% endif %}

                         {% when false %}
                              <strong>
                                   Unsupported {{ not-supported | replace: "TOOLTIP","Not supported" }}
                              </strong>

                         <!-- If there's a not-supported value in the
                              reference-data file, display it. -->
                              {% if site.data.destinations.common.reference-data[reference-item]not-supported %}
                                   {{ site.data.destinations.common.reference-data[reference-item]not-supported | flatify | markdownify }}
                              {% endif %}

                         {% when 'n/a' %}
                              <p>Not applicable</p>

                         {% else %}
                     <!-- If the matching ID value doesn't meet any of the 
                         above conditions, just display it.
                         If there isn't a matching ID value, use the
                         default value in the reference-data.yml file. -->
                              {{ destination-data[reference-item] | default: site.data.destinations.common.reference-data[reference-item]default | flatify | markdownify }}
                              
                         <!-- If there's an additional-info value in
                              the reference-data.yml file, display it. -->
                              {% if site.data.destinations.common.reference-data[reference-item]additional-info %}
                                   {{ site.data.destinations.common.reference-data[reference-item]additional-info | flatify | markdownify }}
                              {% endif %}
                    {% endcase %}
               </td>
          </tr>
     {% endfor %}
</table>