Every database has its own supported limits and way of handling data, and {{ destination.display_name }} is no different. The table below provides a very high-level look at what {{ destination.display_name }} supports, including any possible incompatibilities with Stitch's integration offerings.

{% include destinations/high-level-limitations.html %}

### Compare Destinations

**Not sure if {{ destination.display_name }} is the data warehouse for you?** Check out the [Choosing a Stitch Destination]({{ link.destinations.overviews.choose-destination | prepend: site.baseurl }}) guide to compare each of Stitch's destination offerings.