{% unless page.layout == "singer" %}
### Add {{ integration.display_name }} as a Stitch Data Source {#add-stitch-data-source}
{% endunless %}

1. {{ app.menu-paths.add-integration | flatify }}
2. Click the **{{ integration.display_name }}** icon.
{% if integration.display_name == 'Google ECommerce' %}
3. Click **Sign in with Google Analytics.**
{% else %}
3. Enter a name for the integration. This is the name that will display on the {{app.integration-names.dashboard}} for the integration; it’ll also be used to create the schema in your data warehouse.

   For example, the name “Stitch {{ integration.display_name | remove: "." }}” would create a schema called `stitch_{{ integration.name | remove: "." | replace: " ", "_" | replace: "-", "_" }}` in the data warehouse. **Note that the schema name cannot be changed after you save the integration.**
{% endif %}
{% if integration.type == "Webhook" and integration.branded == true %}
4. Click {{ app.buttons.save-int-settings }}.
{% endif %}