{% include misc/data-files.html %}

{% case integration.singer %}
    {% when 'true' %}
        {% assign save-button = app.buttons.check-and-save %}
    {% else %}
        {% assign save-button = "**Update Settings**" %}
{% endcase %}


{% unless page.layout == "singer" or page.layout == "database" %}
### Create a replication schedule {#define-rep-frequency}
{% endunless %}

{% capture extraction-note %}
Replication schedules affect the time Extraction begins, not the time to data loaded. Refer to the [Replication Scheduling]({{ link.replication.rep-scheduling | prepend: site.baseurl }}) documentation for more information.
{% endcapture %}

{% include note.html content=extraction-note %}

In the **Replication Frequency** section, you'll select the method you want to use to create the integration's [replication schedule]({{ link.replication.rep-scheduling | prepend: site.baseurl }}). An integration's replication schedule determines how often Stitch runs a replication job, and the time that job begins.

Stitch offers these methods for creating a replication schedule:

- **Replication Frequency** - Replication jobs begin at defined intervals. [See the Replication Frequency documentation]({{ link.replication.rep-frequency | prepend: site.baseurl }}).
- **Anchor Scheduling** - Replication jobs begin at defined intervals and are "anchored" to a time you select. [See the Anchor Scheduling documentation]({{ link.replication.anchor-scheduling | prepend: site.baseurl }}). {% if integration.anchor-scheduling == false %}To use Anchor Scheduling with this integration, contact Stitch Support.{% endif %}
{% if integration.cron-scheduling == true %}
- **Advanced Scheduling using cron expressions**. Replication jobs can be scheduled to start at certain hours, days of the month, days of the week, etc. This option provides the most control over creating replication schedules. [See the Advanced Scheduling documentation]({{ link.replication.cron-scheduling | prepend: site.baseurl }}).

   **Note**: This feature is only available on Enterprise plans.
{% endif %}

To help prevent overages, consider setting the integration to replicate less frequently. See the [Understanding and Reducing Your Row Usage guide]({{ link.billing.billing-guide | prepend: site.baseurl }}) for tips on reducing your usage.

After you've made your selection, click {{ save-button }}.