{% include misc/data-files.html %}

{% unless page.layout == "singer" or page.layout == "database" %}
### Create a replication schedule {#define-rep-frequency}
{% endunless %}

{% capture extraction-note %}Replication schedules affect the time Extraction begins, not the time to data loaded. Refer to the [Replication Scheduling]({{ link.replication.rep-scheduling | prepend: site.baseurl }}) documentation for more information.
{% endcapture %}

{% include note.html type="single-line" content=extraction-note %}

In the **Replication Frequency** section, you'll create the integration's [replication schedule]({{ link.replication.rep-scheduling | prepend: site.baseurl }}). An integration's replication schedule determines how often Stitch runs a replication job, and the time that job begins.

{{ integration.display_name }} integrations support the following replication scheduling methods:

- [Replication Frequency]({{ link.replication.rep-frequency | prepend: site.baseurl }})
{% if integration.anchor-scheduling == true %}
- [Anchor Scheduling]({{ link.replication.anchor-scheduling | prepend: site.baseurl }})
{% endif %}
{% if integration.cron-scheduling == true %}
- [Advanced Scheduling using Cron]({{ link.replication.advanced-scheduling | | prepend: site.baseurl }}) (Enterprise plans only)
{% endif %}

To keep your row usage low, consider setting the integration to replicate less frequently. See the [Understanding and Reducing Your Row Usage guide]({{ link.billing.billing-guide | prepend: site.baseurl }}) for tips on reducing your usage.

<!-- Only display if integration enforces API limits -->
{% if integration.enforces-api-limits == true %}
{% capture api-limits %}
{{ integration.display_name }}'s API enforces usage limits. As a result, a high Replication Frequency may exceed these limits and impact Stitch's ability to replicate data. See the [Replication](#replication) section below for more details.
{% endcapture %}

{% include important.html first-line="**API limits and Replication Frequency**" content=api-limits %}
{% endif %}