@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mobile */
/* Content width in Desktop */
/* Top nav */
/* line 2, ../sass/_layout.scss */
.stitch-docs-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background: #1E2023;
  width: 100%;
  padding: 1em 4em;
  height: 4.5em;
  display: flex;
  box-sizing: border-box;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 1200px;
  z-index: 5;
}
/* line 17, ../sass/_layout.scss */
.stitch-docs-navbar .nav-left {
  display: flex;
  flex: 1;
}
/* line 22, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}
/* line 27, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
  line-height: 1rem;
}
/* line 33, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li a {
  color: #FFFFFF;
}
/* line 36, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 42, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li.sign-up a {
  color: #FFCC00;
  font-weight: bold;
}
/* line 50, ../sass/_layout.scss */
.stitch-docs-navbar #stitch_logomark {
  display: inline-block;
  float: left;
  vertical-align: middle;
}
/* line 56, ../sass/_layout.scss */
.stitch-docs-navbar .navbar-brand {
  color: #FFFFFF;
  padding: 0;
  display: inline-block;
  margin: 0.5em 0;
  float: left;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 66, ../sass/_layout.scss */
.stitch-docs-navbar #search-demo-container {
  position: relative;
}
/* line 70, ../sass/_layout.scss */
.stitch-docs-navbar #search-input {
  margin: 0;
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  border-radius: 2px;
  padding-left: 35px;
  height: inherit;
  background: #ffffff;
}
/* line 82, ../sass/_layout.scss */
.stitch-docs-navbar .img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.2rem;
  color: #999999;
}

/* line 93, ../sass/_layout.scss */
body {
  padding-top: 4.5em;
}

/* Page layout -- columns */
/* line 100, ../sass/_layout.scss */
#main {
  position: absolute;
  width: 100%;
  top: 4.5em;
}
/* line 105, ../sass/_layout.scss */
#main .sidebar-column {
  position: fixed;
  width: 375px;
  padding: 3rem 4rem 4rem 4rem;
  background: #F9F9F9;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 4.5em);
}
/* line 114, ../sass/_layout.scss */
#main .sidebar-column #mysidebar {
  /* top level list items */
  min-width: 300px;
}
/* line 119, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li a {
  color: #1E2023;
}
/* line 123, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul {
  list-style: none;
  padding-left: 30px;
}
/* line 128, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li a {
  color: #1E2023;
  font-size: 0.85rem;
  margin: 0.75em 0;
  display: block;
  max-width: 254px;
}
/* line 135, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 140, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li a span {
  color: #1E2023;
}
/* line 145, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li .api {
  margin: 1.1em 0em 1.25em 0em;
}
/* line 154, ../sass/_layout.scss */
#main .content-column {
  position: absolute;
  left: 375px;
  padding: 2em 4em;
}
/* line 159, ../sass/_layout.scss */
#main .content-column .article {
  max-width: 52em;
  margin-top: 6rem;
}
/* line 164, ../sass/_layout.scss */
#main .content-column .breadbox {
  position: fixed;
  top: 68px;
  background: #FFFFFF;
  width: 52em;
  max-width: 100%;
  min-height: 6.35em;
  z-index: 2;
}
/* line 173, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #FFCC00;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
/* line 184, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .dropdown-menu li a, #main .content-column .breadbox .breadcrumb-container .dropdown-menu li.active {
  padding: .5em;
}
/* line 189, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .dropdown-menu li a:hover {
  color: #FFFFFF;
}
/* line 195, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container a {
  color: #1E2023;
}
/* line 198, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 204, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-left,
#main .content-column .breadbox .breadcrumb-container .menu-right {
  display: inline-block;
  vertical-align: bottom;
}
/* line 210, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-left {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  width: calc(100% - 12em);
  line-height: 1.4;
}
/* line 218, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-right {
  padding-bottom: 0.25em;
}
/* line 221, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-right .btn {
  width: 10em;
  min-width: fit-content;
}
/* line 227, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .breadbox {
  max-width: 52em;
}

/* line 235, ../sass/_layout.scss */
.columns {
  list-style-type: none;
  list-style-position: inside;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
@media screen and (max-width: 1100px) {
  /* line 235, ../sass/_layout.scss */
  .columns {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
/* line 251, ../sass/_layout.scss */
.columns.more li:last-of-type a {
  border: 1px solid #999999;
  border-radius: 0;
  margin-bottom: 1rem;
  border: 3px solid #FFCC00;
  color: #1E2023;
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
/* line 270, ../sass/_layout.scss */
.columns.more li:last-of-type a:hover {
  background: #FFCC00;
  text-decoration: none;
}
/* line 274, ../sass/_layout.scss */
.columns.more li:last-of-type a:focus {
  text-decoration: none;
  background: #FFCC00;
}

/* line 284, ../sass/_layout.scss */
footer {
  text-align: left;
  color: #999999;
  margin: 2em 0;
  line-height: 1.6em;
}
/* line 290, ../sass/_layout.scss */
footer .site-generation {
  float: left;
}
/* line 294, ../sass/_layout.scss */
footer .links {
  float: right;
}
/* line 296, ../sass/_layout.scss */
footer .links p {
  font-weight: 600;
  text-align: right;
  margin-bottom: 0px;
}
/* line 302, ../sass/_layout.scss */
footer .links ul {
  list-style: none;
  padding: 0px;
  text-align: right;
}

/* line 1, ../sass/_type.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #1E2023;
  font-size: 15px;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/_type.scss */
.content-column {
  line-height: 1.75;
}
/* line 12, ../sass/_type.scss */
.content-column p, .content-column ul {
  margin: 0 0 1rem;
}

/* line 17, ../sass/_type.scss */
b, strong {
  font-weight: 700;
}

/* line 21, ../sass/_type.scss */
h1, .h1 {
  display: block;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 3.25rem;
}

/* line 29, ../sass/_type.scss */
h2, .h2 {
  display: block;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  padding-top: 90px;
  margin-top: -70px;
}

/* line 37, ../sass/_type.scss */
h3, .h3, .projectTitle {
  display: block;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
}

/* line 44, ../sass/_type.scss */
h4, .h4 {
  display: block;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

/* line 51, ../sass/_type.scss */
h5, .h5 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 58, ../sass/_type.scss */
.wf-loading h1
.wf-loading h2
.wf-loading h3 {
  visibility: hidden;
}

/* line 64, ../sass/_type.scss */
.wf-loading h1
.wf-loading h2
.wf-loading h3 {
  visibility: visible;
}

/* line 70, ../sass/_type.scss */
p.intro {
  font-size: 1.15rem;
}

/* line 74, ../sass/_type.scss */
p.caption {
  font-size: 13px;
  padding-bottom: 15px;
  color: #666666;
}

/*h3 {color: #ED1951; font-weight:normal; font-size:130%;}
h4 {color: #808080; font-weight:normal; font-size:120%; font-style:italic;}
body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}*/
/* line 1, ../sass/_components.scss */
.btn-default {
  border: 2px solid #FFCC00;
  color: #1E2023;
  border-radius: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-font-smoothing: antialiased;
}
/* line 16, ../sass/_components.scss */
.btn-default:hover {
  background: #FFCC00;
  border: 2px solid #FFCC00;
  text-decoration: none !important;
  cursor: pointer;
}
/* line 23, ../sass/_components.scss */
.btn-default--yellow {
  border: 2px solid #FFCC00;
  background: #FFCC00;
  color: #1E2023;
}

/* line 31, ../sass/_components.scss */
.arrow::after {
  position: relative;
  font-size: 0.9em;
  content: "  ➔";
}

/* line 38, ../sass/_components.scss */
.dropdown-menu {
  white-space: nowrap;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #EAEAEA;
  z-index: 1;
}
/* line 47, ../sass/_components.scss */
.dropdown-menu li a, .dropdown-menu li.active {
  padding: .5em;
}
/* line 52, ../sass/_components.scss */
.dropdown-menu li a:hover {
  color: #FFFFFF;
}

/* Controls the z-index of the version toggle */
/* line 60, ../sass/_components.scss */
.btn-group > .btn:hover, .btn-group-vertical >
.btn:hover, .btn-group >
.btn:focus, .btn-group-vertical >
.btn:focus, .btn-group >
.btn:active, .btn-group-vertical >
.btn:active, .btn-group >
.btn.active, .btn-group-vertical >
.btn.active {
  z-index: 1;
}

/* line 71, ../sass/_components.scss */
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

/* line 75, ../sass/_components.scss */
.btn {
  border-radius: 0;
}
/* line 78, ../sass/_components.scss */
.btn:active, .btn:focus, .btn:hover {
  box-shadow: none;
}

/* line 85, ../sass/_components.scss */
.tags > a {
  margin-left: 10px;
}

/* line 89, ../sass/_components.scss */
.githubEditButton {
  border: 0;
  padding: 0;
  color: #666666;
  margin-top: 1rem;
  font-weight: 600;
}
/* line 96, ../sass/_components.scss */
.githubEditButton:hover {
  background: transparent;
  border: 0;
  color: #666666;
  text-decoration: underline;
}
/* line 103, ../sass/_components.scss */
.githubEditButton:after {
  content: "  →";
}

/* line 109, ../sass/_components.scss */
#toc ul {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin: 1.5em 0;
  padding: 0.75em;
  list-style: none;
}
/* line 116, ../sass/_components.scss */
#toc ul li {
  margin: 0.5em 1em;
}

/* line 122, ../sass/_components.scss */
hr,
.shaded {
  border: 0;
  border-bottom: 1px solid #EAEAEA;
  margin: 3em 0 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
}

/* TABLE STYLES */
/* line 134, ../sass/_components.scss */
table {
  font-size: 0.9rem;
  max-width: calc(100% - 2px);
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.7rem;
}

/* line 144, ../sass/_components.scss */
table.related-articles {
  margin-top: 1.7rem;
}

/* line 148, ../sass/_components.scss */
table.table-snapshot {
  font-size: 1em;
  border: 0px;
  width: calc(100% - 2px);
}

/* line 154, ../sass/_components.scss */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 1em 1em 1em 1em;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #EAEAEA;
}

/* line 166, ../sass/_components.scss */
td.table-subheading {
  background-color: #E2E2E2;
}

/* line 170, ../sass/_components.scss */
table.table-snapshot > thead > tr > th,
table.table-snapshot > tbody > tr > th,
table.table-snapshot > tfoot > tr > th,
table.table-snapshot > thead > tr > td,
table.table-snapshot > tbody > tr > td,
table.table-snapshot > tfoot > tr > td {
  padding: 0.5em;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

/* line 184, ../sass/_components.scss */
table tr td pre {
  margin: 0px 0px 15px 0px;
}
/* line 187, ../sass/_components.scss */
table tr td:last-of-type {
  border-right: 1px solid #EAEAEA;
}
/* line 193, ../sass/_components.scss */
table thead tr {
  border: 1px solid #dddddd;
}
/* line 196, ../sass/_components.scss */
table thead tr th:last-of-type {
  border-right: 1px solid #dddddd;
}
/* line 203, ../sass/_components.scss */
table .h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  padding-top: 7px;
  margin-top: 0;
}

/* Used in API & JavaScript documentation */
/* line 214, ../sass/_components.scss */
table.method-rollup {
  margin-top: 30px;
  width: 100%;
  font-size: 15px;
}
/* line 219, ../sass/_components.scss */
table.method-rollup tr td {
  vertical-align: middle;
}
/* line 221, ../sass/_components.scss */
table.method-rollup tr td p {
  margin: 0;
}
/* line 225, ../sass/_components.scss */
table.method-rollup tr td.object,
table.method-rollup tr td.post,
table.method-rollup tr td.put,
table.method-rollup tr td.get,
table.method-rollup tr td.delete,
table.method-rollup tr td.function {
  font-weight: 600;
  width: 10%;
}

/* Used in Integration Schema documentation */
/* line 242, ../sass/_components.scss */
table.table-snapshot tr td:last-of-type {
  border-right: 0px;
}
/* line 248, ../sass/_components.scss */
table.table-snapshot thead tr {
  border: 0px;
}
/* line 251, ../sass/_components.scss */
table.table-snapshot thead tr th:last-of-type {
  border-right: 0px;
}

/* Used in Integration Schema, API, JS, etc. docs - anywhere */
/* that contains a list of attributes */
/* line 262, ../sass/_components.scss */
table.attribute-list {
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
}
/* line 266, ../sass/_components.scss */
table.attribute-list tr {
  /*		td.description {
  						code {
  							color: $magenta-relay;
  			}
  		}*/
}
/* line 268, ../sass/_components.scss */
table.attribute-list tr td code {
  font-size: 15px;
}
/* line 277, ../sass/_components.scss */
table.attribute-list tr td.attribute-name {
  text-align: right;
  width: 30%;
}
/* line 280, ../sass/_components.scss */
table.attribute-list tr td.attribute-name p {
  margin: 0;
}

/* line 287, ../sass/_components.scss */
table > thead > tr > th {
  background-color: #EAEAEA;
  color: #1E2023;
  border-bottom: 1px solid #dddddd;
}

/* line 293, ../sass/_components.scss */
table > tbody > tr:nth-of-type(odd),
.dataTable > tbody > tr:nth-of-type(odd) {
  background-color: #F9F9F9;
}

/* line 298, ../sass/_components.scss */
table.table-snapshot > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

/* line 304, ../sass/_components.scss */
.post-content table img {
  max-width: 160px;
  max-height: 60px;
}

/* JQUERY DATA TABLES */
/* line 312, ../sass/_components.scss */
.dataTables_wrapper {
  z-index: 0;
}

/* line 316, ../sass/_components.scss */
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #ddd !important;
}

/* line 320, ../sass/_components.scss */
table.dataTable > thead > tr > th {
  background-color: #1E2023 !important;
  color: #EAEAEA;
}

/* line 325, ../sass/_components.scss */
table.dataTable.no-footer {
  border-bottom: 1px solid #EAEAEA !important;
}

/* line 329, ../sass/_components.scss */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #EAEAEA !important;
}

/* line 333, ../sass/_components.scss */
.dataTables_wrapper .dataTables_filter input {
  padding-left: 0.5em !important;
}

/* DROPDOWN TABLES */
/* line 339, ../sass/_components.scss */
.panel {
  font-size: 1rem;
}

/* line 344, ../sass/_components.scss */
.panel-group .panel-title {
  margin: 1rem 0;
}
/* line 348, ../sass/_components.scss */
.panel-group .fa {
  color: #999999;
  margin-left: 5px;
}
/* line 353, ../sass/_components.scss */
.panel-group a[data-toggle="tooltip"] {
  margin-left: 0;
  font-style: initial;
}
/* line 357, ../sass/_components.scss */
.panel-group a[data-toggle="tooltip"]:hover {
  text-decoration: none;
}
/* line 363, ../sass/_components.scss */
.panel-group p a.accordion-toggle {
  margin: 1rem 0 0;
  display: inline-block;
}
/* line 370, ../sass/_components.scss */
.panel-group a.accordion-toggle:hover {
  opacity: 0.7;
}
/* line 374, ../sass/_components.scss */
.panel-group a.accordion-toggle:before {
  font-family: FontAwesome;
  content: "\f0d7";
  color: #3399CC;
  margin-right: 8px;
  font-weight: bold;
}

/* line 385, ../sass/_components.scss */
.panel-group .panel + .panel {
  margin-top: 1rem;
}

/* TOOLTIPS */
/* line 390, ../sass/_components.scss */
i[data-toggle="tooltip"] {
  color: #999999;
  font-style: bold;
  cursor: default;
  margin-left: 3px;
}

/* line 397, ../sass/_components.scss */
a[data-toggle="tooltip"] {
  color: #3399CC;
  font-weight: bold;
  cursor: default;
  margin-left: 3px;
}

/* line 404, ../sass/_components.scss */
.tooltip {
  font-weight: 400;
}
/* line 407, ../sass/_components.scss */
.tooltip a {
  color: #FFCC00;
  text-decoration: underline;
}
/* line 411, ../sass/_components.scss */
.tooltip ahover {
  text-decoration: underline;
  color: #cca300;
}

/* PANEL STYLES */
/* line 419, ../sass/_components.scss */
.panel-default {
  border: 1px solid #EAEAEA;
}

/* line 423, ../sass/_components.scss */
.panel-table-subattributes {
  border: 1px solid #D2D2D2;
}

/* line 427, ../sass/_components.scss */
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}

/* line 432, ../sass/_components.scss */
.panel-default > .panel-heading {
  color: #1E2023;
  background-color: #F9F9F9;
  border-color: #EAEAEA;
  border-radius: 0;
}

/* line 439, ../sass/_components.scss */
.panel-table-subattribute-heading {
  color: #1E2023;
  padding: 10px 15px;
  border-radius: 0;
  background-color: #EAEAEA;
}

/* line 446, ../sass/_components.scss */
.panel-body > table {
  margin: 0;
}

/* line 450, ../sass/_components.scss */
.table-subattribute-label {
  background-color: #EAEAEA;
  display: block;
  padding: .5em .5em .5em 1em;
  color: #999999;
  font-size: 12px;
}

/* ALERT STYLES */
/* line 459, ../sass/_components.scss */
.alert {
  margin: 2em 0;
  border-radius: 0;
  padding: 1.5em 2em;
  background: #ffffff;
  border: 3px solid #FFCC00;
  color: #1E2023;
  border: 0;
}
/* line 468, ../sass/_components.scss */
.alert.alert-info, .alert.alert-success {
  background: #EAEAEA;
  color: #666666;
}
/* line 473, ../sass/_components.scss */
.alert.alert-info a, .alert.alert-success a {
  color: #666666;
  text-decroation: underline;
}
/* line 479, ../sass/_components.scss */
.alert.alert-warning {
  border: 3px solid #FFCC00;
  color: #1E2023;
  background: #ffffff;
}

/* CODE BLOCKS */
/* line 487, ../sass/_components.scss */
pre {
  border: 1px solid #EAEAEA;
  background: #F9F9F9;
  border-radius: 0;
}

/* SYSTEM STATUS */
/* line 499, ../sass/_components.scss */
.status-page {
  display: block;
  margin-left: 20px;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #d0d0d0;
  width: calc(100% - 4rem);
  color: #d0d0d0;
  font-weight: 600;
  font-size: 0.9rem;
}
/* line 511, ../sass/_components.scss */
.status-page:hover {
  text-decoration: none;
}
/* line 515, ../sass/_components.scss */
.status-page .color-description {
  color: #999999;
}
/* line 518, ../sass/_components.scss */
.status-page .color-description:hover {
  color: #cccccc;
  text-decoration: none;
}
/* line 524, ../sass/_components.scss */
.status-page .color-dot {
  border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 530, ../sass/_components.scss */
.status-page .color-dot.critical {
  background-color: #CC3399;
}
/* line 533, ../sass/_components.scss */
.status-page .color-dot.major {
  background-color: #e67e22;
}
/* line 536, ../sass/_components.scss */
.status-page .color-dot.minor {
  background-color: #FFCC00;
}
/* line 539, ../sass/_components.scss */
.status-page .color-dot.none {
  background-color: #66CC66;
}

/* SEARCH */
/* line 547, ../sass/_components.scss */
#search-input {
  padding: .75em;
  width: 20em;
  font-size: 0.9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border: 0;
  max-height: 3em;
}
/* line 558, ../sass/_components.scss */
#search-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

/* line 566, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu {
  margin: 4px 0 0;
  border-radius: 2px;
  overflow-y: scroll;
  max-height: 90vh;
  max-width: 90%;
  min-width: 700px;
}
/* line 574, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu:before {
  display: none;
}

/* line 579, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple, .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background: #F9F9F9;
}

/* line 583, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #EAEAEA;
  color: #000000;
}

/* line 588, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border-radius: 0;
  padding: 1rem;
}

/* line 593, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #999999;
}

/* line 597, ../sass/_components.scss */
.algolia-docsearch-suggestion--category-header {
  display: none !important;
}

/* line 601, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  box-shadow: inset 0 -3px 0 0 #ffd201;
  color: inherit;
}

/* TILES */
/* line 609, ../sass/_components.scss */
ul.tiles {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}
/* line 615, ../sass/_components.scss */
ul.tiles li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 10px !important;
  border: 1px solid #EAEAEA;
  padding: 15px;
  min-height: 170px;
}
/* line 624, ../sass/_components.scss */
ul.tiles li img {
  display: block;
  margin: 1em auto;
  max-height: 50px;
  max-width: 160px;
  border: 0px;
}
/* line 633, ../sass/_components.scss */
ul.tiles .lg-tile {
  min-height: 200px;
  width: 40%;
}
/* line 636, ../sass/_components.scss */
ul.tiles .lg-tile img {
  max-height: 60px;
  max-width: 180px;
}
/* line 642, ../sass/_components.scss */
ul.tiles li.category-version-toggle {
  border: none;
  display: list-item;
  vertical-align: middle;
  width: auto;
  min-height: auto;
  padding: 0px;
  font-size: 14px;
  text-align: left;
  margin: 0px !important;
}

/* line 655, ../sass/_components.scss */
blockquote {
  border-left: 3px solid #ED4040;
  margin: 1rem 0;
}
/* line 659, ../sass/_components.scss */
blockquote p {
  font-size: 1rem;
  color: #ED4040;
  line-height: 1.5rem;
  font-weight: 400;
}

/* CONTENT TYPE FLAGS */
/* line 669, ../sass/_components.scss */
.doc-type-flag {
  float: left;
  margin-left: -15px;
  margin-top: -15px;
  padding: 5px 10px;
  font-size: small;
  font-weight: 600;
}

/* line 678, ../sass/_components.scss */
.tutorial {
  background-color: #41C0FF;
}

/* line 682, ../sass/_components.scss */
.concept {
  background-color: #66CC66;
}

/* line 686, ../sass/_components.scss */
.reference {
  background-color: #FFCC00;
}

/* line 690, ../sass/_components.scss */
.troubleshooting {
  background-color: #ED4040;
}

/* API/JS HEADINGS */
/* line 698, ../sass/_components.scss */
.api-js-heading {
  width: 100%;
  margin: 40px 0px 20px 0px;
  border: 1px solid #EAEAEA;
}
/* line 703, ../sass/_components.scss */
.api-js-heading div.method {
  padding: 20px 30px 13px 30px;
  float: left;
  margin-right: 20px;
  font-weight: 600;
}

/* line 711, ../sass/_components.scss */
.object {
  background-color: #DFF5FF;
}

/* line 715, ../sass/_components.scss */
.post {
  background-color: #66CC66;
}

/* line 719, ../sass/_components.scss */
.put {
  background-color: #41C0FF;
}

/* line 723, ../sass/_components.scss */
.get {
  background-color: #FFCC00;
}

/* line 727, ../sass/_components.scss */
.function {
  background-color: #3399CC;
}

/* line 731, ../sass/_components.scss */
.delete {
  background-color: #ED4040;
}

/* line 735, ../sass/_components.scss */
.method-bullet {
  padding: 3px 5px 3px 5px;
  margin-top: -3px;
  margin-right: 0px;
  float: none;
  font-weight: 600;
}

/* line 743, ../sass/_components.scss */
.method-function {
  padding: 1.5em;
  line-height: 1em;
}

/* line 748, ../sass/_components.scss */
.method-resource {
  padding: 0px;
}
/* line 751, ../sass/_components.scss */
.method-resource h4 {
  margin-bottom: 1em;
  line-height: 1em;
}

/* Footer CTA */
/* line 759, ../sass/_components.scss */
hr.footer-cta {
  margin: 3em 0 0;
}

/* line 763, ../sass/_components.scss */
.footer-signup-cta {
  margin-top: 30px;
  background-color: #F4F4F4;
  padding: 40px 20px;
}
/* line 768, ../sass/_components.scss */
.footer-signup-cta .wrapper {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/* line 774, ../sass/_components.scss */
.footer-signup-cta .wrapper div {
  padding: 0 10px;
}
/* line 779, ../sass/_components.scss */
.footer-signup-cta p {
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 15px;
}
/* line 786, ../sass/_components.scss */
.footer-signup-cta .btn-default {
  padding: 15px 30px;
  /* make the standard button a little bigger */
  display: block;
  margin-bottom: 0;
}
/* line 791, ../sass/_components.scss */
.footer-signup-cta .btn-default:hover {
  color: #FFCC00;
  background: #1E2023;
  border-color: #1E2023;
}
