@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mobile */
/* Content width in Desktop */
/* Top nav */
/* line 2, ../sass/_layout.scss */
.stitch-docs-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background: #1E2023;
  width: 100%;
  padding: 1em 4em;
  height: 4.5em;
  display: flex;
  box-sizing: border-box;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 1100px;
  z-index: 5;
}
/* line 17, ../sass/_layout.scss */
.stitch-docs-navbar .nav-left {
  display: flex;
  flex: 1;
}
/* line 22, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}
/* line 27, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
  line-height: 1rem;
}
/* line 33, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li a {
  color: #FFFFFF;
}
/* line 36, ../sass/_layout.scss */
.stitch-docs-navbar .nav-right li a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 44, ../sass/_layout.scss */
.stitch-docs-navbar #stitch_logomark {
  display: inline-block;
  float: left;
  vertical-align: middle;
}
/* line 50, ../sass/_layout.scss */
.stitch-docs-navbar .navbar-brand {
  color: #FFFFFF;
  padding: 0;
  display: inline-block;
  margin: 0.5em 0;
  float: left;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 60, ../sass/_layout.scss */
.stitch-docs-navbar #search-input {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #D0D0D0;
}

/* line 68, ../sass/_layout.scss */
body {
  padding-top: 4.5em;
}

/* Page layout -- columns */
/* line 75, ../sass/_layout.scss */
#main {
  position: absolute;
  width: 100%;
  top: 4.5em;
}
/* line 80, ../sass/_layout.scss */
#main .sidebar-column {
  position: fixed;
  width: 375px;
  padding: 3rem 4rem 4rem 4rem;
  background: #F9F9F9;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 4.5em);
}
/* line 89, ../sass/_layout.scss */
#main .sidebar-column #mysidebar {
  /* top level list items */
  min-width: 300px;
}
/* line 94, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li a {
  color: #1E2023;
}
/* line 98, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul {
  list-style: none;
  padding-left: 30px;
}
/* line 103, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li a {
  color: #1E2023;
  font-size: 0.85rem;
  margin: 0.75em 0;
  display: block;
  max-width: 254px;
}
/* line 110, ../sass/_layout.scss */
#main .sidebar-column #mysidebar li ul li a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 121, ../sass/_layout.scss */
#main .content-column {
  position: absolute;
  left: 375px;
  padding: 2em 4em;
}
/* line 126, ../sass/_layout.scss */
#main .content-column .article {
  max-width: 52em;
  margin-top: 6rem;
}
/* line 131, ../sass/_layout.scss */
#main .content-column .breadbox {
  position: fixed;
  top: 68px;
  background: #FFFFFF;
  width: 52em;
  max-width: 100%;
  min-height: 6.35em;
  z-index: 2;
}
/* line 140, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #FFCC00;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
/* line 151, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .dropdown-menu li a, #main .content-column .breadbox .breadcrumb-container .dropdown-menu li.active {
  padding: .5em;
}
/* line 156, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .dropdown-menu li a:hover {
  color: #FFFFFF;
}
/* line 162, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container a {
  color: #1E2023;
}
/* line 165, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 171, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-left,
#main .content-column .breadbox .breadcrumb-container .menu-right {
  display: inline-block;
  vertical-align: bottom;
}
/* line 177, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-left {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  width: calc(100% - 12em);
  line-height: 1.4;
}
/* line 185, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-right {
  padding-bottom: 0.25em;
}
/* line 188, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .menu-right .btn {
  width: 10em;
  min-width: fit-content;
}
/* line 194, ../sass/_layout.scss */
#main .content-column .breadbox .breadcrumb-container .breadbox {
  max-width: 52em;
}

/* line 202, ../sass/_layout.scss */
.columns {
  list-style-type: none;
  list-style-position: inside;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
@media screen and (max-width: 1100px) {
  /* line 202, ../sass/_layout.scss */
  .columns {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
/* line 218, ../sass/_layout.scss */
.columns.more li:last-of-type a {
  border: 1px solid #999999;
  border-radius: 0;
  margin-bottom: 1rem;
  border: 3px solid #FFCC00;
  color: #1E2023;
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
/* line 237, ../sass/_layout.scss */
.columns.more li:last-of-type a:after {
  content: "  →";
  margin-left: 5px;
}
/* line 242, ../sass/_layout.scss */
.columns.more li:last-of-type a:hover {
  background: #FFCC00;
  text-decoration: none;
}

/* line 252, ../sass/_layout.scss */
footer {
  text-align: left;
  color: #999999;
  margin: 2em 0;
  line-height: 1.6em;
}

/* line 1, ../sass/_type.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #1E2023;
  font-size: 15px;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/_type.scss */
.content-column {
  line-height: 1.75;
}
/* line 12, ../sass/_type.scss */
.content-column p, .content-column ul {
  margin: 0 0 1rem;
}

/* line 17, ../sass/_type.scss */
b, strong {
  font-weight: 700;
}

/* line 21, ../sass/_type.scss */
h1, .h1 {
  display: block;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 3.25rem;
}

/* line 29, ../sass/_type.scss */
h2, .h2 {
  display: block;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  padding-top: 90px;
  margin-top: -70px;
}

/* line 37, ../sass/_type.scss */
h3, .h3, .projectTitle {
  display: block;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
}

/* line 44, ../sass/_type.scss */
h4, .h4 {
  display: block;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

/* line 51, ../sass/_type.scss */
h5, .h5 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  font-family: "fira-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 58, ../sass/_type.scss */
.wf-loading h1
.wf-loading h2
.wf-loading h3 {
  visibility: hidden;
}

/* line 64, ../sass/_type.scss */
.wf-loading h1
.wf-loading h2
.wf-loading h3 {
  visibility: visible;
}

/* line 70, ../sass/_type.scss */
p.intro {
  font-size: 1.15rem;
}

/*h3 {color: #ED1951; font-weight:normal; font-size:130%;}
h4 {color: #808080; font-weight:normal; font-size:120%; font-style:italic;}
body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}*/
/* line 1, ../sass/_components.scss */
.btn-default {
  border: 2px solid #FFCC00;
  color: #1E2023;
  border-radius: 0;
  margin-bottom: 1rem;
}
/* line 7, ../sass/_components.scss */
.btn-default:hover {
  background: #FFCC00;
  border: 2px solid #FFCC00;
}

/* line 13, ../sass/_components.scss */
.dropdown-menu {
  white-space: nowrap;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #EAEAEA;
  z-index: 1;
}
/* line 22, ../sass/_components.scss */
.dropdown-menu li a, .dropdown-menu li.active {
  padding: .5em;
}
/* line 27, ../sass/_components.scss */
.dropdown-menu li a:hover {
  color: #FFFFFF;
}

/* Controls the z-index of the version toggle */
/* line 35, ../sass/_components.scss */
.btn-group > .btn:hover, .btn-group-vertical >
.btn:hover, .btn-group >
.btn:focus, .btn-group-vertical >
.btn:focus, .btn-group >
.btn:active, .btn-group-vertical >
.btn:active, .btn-group >
.btn.active, .btn-group-vertical >
.btn.active {
  z-index: 1;
}

/* line 46, ../sass/_components.scss */
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

/* line 50, ../sass/_components.scss */
.btn {
  border-radius: 0;
}
/* line 53, ../sass/_components.scss */
.btn:active, .btn:focus, .btn:hover {
  box-shadow: none;
}

/* line 60, ../sass/_components.scss */
.tags > a {
  margin-left: 10px;
}

/* line 64, ../sass/_components.scss */
.githubEditButton {
  border: 0;
  padding: 0;
  color: #666666;
  margin-top: 1rem;
  font-weight: 600;
}
/* line 71, ../sass/_components.scss */
.githubEditButton:hover {
  background: transparent;
  border: 0;
  color: #666666;
  text-decoration: underline;
}
/* line 78, ../sass/_components.scss */
.githubEditButton:after {
  content: "  →";
}

/* line 84, ../sass/_components.scss */
#toc ul {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  margin: 1.5em 0;
  padding: 0.75em;
  list-style: none;
}
/* line 91, ../sass/_components.scss */
#toc ul li {
  margin: 0.5em 1em;
}

/* line 97, ../sass/_components.scss */
hr,
.shaded {
  border: 0;
  border-bottom: 1px solid #EAEAEA;
  margin: 3em 0 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
}

/* TABLE STYLES */
/* line 109, ../sass/_components.scss */
table {
  font-size: 0.9rem;
  max-width: calc(100% - 2px);
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.7rem;
}

/* line 119, ../sass/_components.scss */
table.related-articles {
  margin-top: 1.7rem;
}

/* line 123, ../sass/_components.scss */
table.table-snapshot {
  font-size: 1em;
  border: 0px;
  width: calc(100% - 2px);
}

/* line 129, ../sass/_components.scss */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 1em 1em 1em 0.5em;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #EAEAEA;
}

/* line 141, ../sass/_components.scss */
table.table-snapshot > thead > tr > th,
table.table-snapshot > tbody > tr > th,
table.table-snapshot > tfoot > tr > th,
table.table-snapshot > thead > tr > td,
table.table-snapshot > tbody > tr > td,
table.table-snapshot > tfoot > tr > td {
  padding: 0.5em;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

/* line 155, ../sass/_components.scss */
table tr td:last-of-type {
  border-right: 1px solid #EAEAEA;
}
/* line 161, ../sass/_components.scss */
table thead tr {
  border: 1px solid #dddddd;
}
/* line 164, ../sass/_components.scss */
table thead tr th:last-of-type {
  border-right: 1px solid #dddddd;
}
/* line 171, ../sass/_components.scss */
table .h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  padding-top: 7px;
  margin-top: 0;
}

/* line 183, ../sass/_components.scss */
table.table-snapshot tr td:last-of-type {
  border-right: 0px;
}
/* line 189, ../sass/_components.scss */
table.table-snapshot thead tr {
  border: 0px;
}
/* line 192, ../sass/_components.scss */
table.table-snapshot thead tr th:last-of-type {
  border-right: 0px;
}

/* line 200, ../sass/_components.scss */
table > thead > tr > th {
  background-color: #EAEAEA;
  color: #1E2023;
  border-bottom: 1px solid #dddddd;
}

/* line 206, ../sass/_components.scss */
table > tbody > tr:nth-of-type(odd),
.dataTable > tbody > tr:nth-of-type(odd) {
  background-color: #F9F9F9;
}

/* line 211, ../sass/_components.scss */
table.table-snapshot > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

/* line 217, ../sass/_components.scss */
.post-content table img {
  max-width: 160px;
  max-height: 60px;
}

/* JQUERY DATA TABLES */
/* line 225, ../sass/_components.scss */
.dataTables_wrapper {
  z-index: 0;
}

/* line 229, ../sass/_components.scss */
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #ddd !important;
}

/* line 233, ../sass/_components.scss */
table.dataTable > thead > tr > th {
  background-color: #1E2023 !important;
  color: #EAEAEA;
}

/* line 238, ../sass/_components.scss */
table.dataTable.no-footer {
  border-bottom: 1px solid #EAEAEA !important;
}

/* line 242, ../sass/_components.scss */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #EAEAEA !important;
}

/* line 246, ../sass/_components.scss */
.dataTables_wrapper .dataTables_filter input {
  padding-left: 0.5em !important;
}

/* DROPDOWN TABLES */
/* line 252, ../sass/_components.scss */
.panel {
  font-size: 1rem;
}

/* line 257, ../sass/_components.scss */
.panel-group .panel-title {
  margin: 1rem 0;
}
/* line 261, ../sass/_components.scss */
.panel-group .fa {
  color: #999999;
  margin-left: 5px;
}
/* line 266, ../sass/_components.scss */
.panel-group a[data-toggle="tooltip"] {
  margin-left: 0;
  font-style: initial;
}
/* line 270, ../sass/_components.scss */
.panel-group a[data-toggle="tooltip"]:hover {
  text-decoration: none;
}
/* line 276, ../sass/_components.scss */
.panel-group p a.accordion-toggle {
  margin: 1rem 0 0;
  display: inline-block;
}
/* line 283, ../sass/_components.scss */
.panel-group a.accordion-toggle:hover {
  opacity: 0.7;
}
/* line 287, ../sass/_components.scss */
.panel-group a.accordion-toggle:before {
  font-family: FontAwesome;
  content: "\f107";
  color: #3399CC;
  margin-right: 8px;
  font-weight: bold;
}

/* line 298, ../sass/_components.scss */
.panel-group .panel + .panel {
  margin-top: 1rem;
}

/* TOOLTIPS */
/* line 303, ../sass/_components.scss */
i[data-toggle="tooltip"] {
  color: #999999;
  font-style: bold;
  cursor: default;
  margin-left: 3px;
}

/* line 310, ../sass/_components.scss */
a[data-toggle="tooltip"] {
  color: #999999;
  font-weight: bold;
  cursor: default;
  margin-left: 3px;
}

/* line 317, ../sass/_components.scss */
.tooltip {
  font-weight: 400;
}

/* PANEL STYLES */
/* line 322, ../sass/_components.scss */
.panel-default {
  border: 1px solid #EAEAEA;
}

/* line 326, ../sass/_components.scss */
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}

/* line 331, ../sass/_components.scss */
.panel-default > .panel-heading {
  color: #1E2023;
  background-color: #F9F9F9;
  border-color: #EAEAEA;
  border-radius: 0;
}

/* line 338, ../sass/_components.scss */
.panel-body > table {
  margin: 0;
}

/* ALERT STYLES */
/* line 343, ../sass/_components.scss */
.alert {
  margin: 2em 0;
  border-radius: 0;
  padding: 1.5em 2em;
  background: #ffffff;
  border: 3px solid #FFCC00;
  color: #1E2023;
  border: 0;
}
/* line 352, ../sass/_components.scss */
.alert.alert-info, .alert.alert-success {
  background: #EAEAEA;
  color: #666666;
}
/* line 357, ../sass/_components.scss */
.alert.alert-info a, .alert.alert-success a {
  color: #666666;
  text-decroation: underline;
}
/* line 363, ../sass/_components.scss */
.alert.alert-warning {
  border: 3px solid #FFCC00;
  color: #1E2023;
  background: #ffffff;
}

/* CODE BLOCKS */
/* line 371, ../sass/_components.scss */
pre {
  border: 1px solid #EAEAEA;
  background: #F9F9F9;
  border-radius: 0;
}

/* SYSTEM STATUS */
/* line 383, ../sass/_components.scss */
.status-page {
  display: block;
  margin-left: 20px;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #d0d0d0;
  width: calc(100% - 4rem);
  color: #d0d0d0;
  font-weight: 600;
  font-size: 0.9rem;
}
/* line 395, ../sass/_components.scss */
.status-page:hover {
  text-decoration: none;
}
/* line 399, ../sass/_components.scss */
.status-page .color-description {
  color: #999999;
}
/* line 402, ../sass/_components.scss */
.status-page .color-description:hover {
  color: #cccccc;
  text-decoration: none;
}
/* line 408, ../sass/_components.scss */
.status-page .color-dot {
  border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 414, ../sass/_components.scss */
.status-page .color-dot.critical {
  background-color: #CC3399;
}
/* line 417, ../sass/_components.scss */
.status-page .color-dot.major {
  background-color: #e67e22;
}
/* line 420, ../sass/_components.scss */
.status-page .color-dot.minor {
  background-color: #FFCC00;
}
/* line 423, ../sass/_components.scss */
.status-page .color-dot.none {
  background-color: #66CC66;
}

/* SEARCH */
/* line 431, ../sass/_components.scss */
#search-input {
  padding: .75em;
  width: 20em;
  font-size: 0.9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border: 0;
  max-height: 3em;
}
/* line 442, ../sass/_components.scss */
#search-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

/* line 450, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu {
  margin: 8px 0 0;
  box-shadow: 5px 5px 0 0 #000000;
  border-radius: 0;
  overflow-y: scroll;
  max-height: 90vh;
}
/* line 457, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu:before {
  display: none;
}

/* line 462, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple, .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background: #F9F9F9;
}

/* line 466, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #EAEAEA;
  color: #000000;
}

/* line 471, ../sass/_components.scss */
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border-radius: 0;
  padding: 2rem 1rem 1rem;
}

/* line 476, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #999999;
}

/* line 480, ../sass/_components.scss */
.algolia-docsearch-suggestion--category-header {
  display: none !important;
  border: 1px solid red;
}

/* line 485, ../sass/_components.scss */
.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  box-shadow: inset 0 -3px 0 0 #ffd201;
  color: inherit;
}

/* TILES */
/* line 493, ../sass/_components.scss */
ul.tiles {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}
/* line 499, ../sass/_components.scss */
ul.tiles li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 10px !important;
  border: 1px solid #EAEAEA;
  padding: 15px;
  min-height: 170px;
}
/* line 508, ../sass/_components.scss */
ul.tiles li img {
  display: block;
  margin: 1em auto;
  max-height: 50px;
  max-width: 160px;
  border: 0px;
}
/* line 517, ../sass/_components.scss */
ul.tiles li.category-version-toggle {
  border: none;
  display: list-item;
  vertical-align: middle;
  width: auto;
  min-height: auto;
  padding: 0px;
  font-size: 14px;
  text-align: left;
  margin: 0px !important;
}

/* line 530, ../sass/_components.scss */
blockquote {
  border-left: 3px solid #ED4040;
  margin: 1rem 0;
}
/* line 534, ../sass/_components.scss */
blockquote p {
  font-size: 1rem;
  color: #ED4040;
  line-height: 1.5rem;
  font-weight: 400;
}

/* API ENDPOINT HEADINGS */
/* line 544, ../sass/_components.scss */
.api-method {
  padding: 20px;
  float: left;
  margin-right: 20px;
}

/* line 550, ../sass/_components.scss */
.api-method.post {
  background-color: #66CC66;
}

/* line 554, ../sass/_components.scss */
.api-method.put {
  background-color: #41c0ff;
}

/* line 558, ../sass/_components.scss */
.api-method.get {
  background-color: #ffcc00;
}

/* line 562, ../sass/_components.scss */
.api-endpoint {
  border: solid;
  border-color: #EAEAEA;
  border-width: 1px;
  display: inherit;
  padding: 19px;
}
