<!-- This file contains formatting and logic for the SSH guides. It's used to display the
    types of databases (source or destination) pertinent to the SSH guide type. Ex: 
    Amazon-based databases require a different setup for SSH than non-Amazon databases,
    so only Amazon databases are listed on the Amazon SSH guide. 

    The content this include displays is controlled by an include parameter (hosting-type) that
    specifies the type of SSH content to display. -->

{% case include.hosting-type %}

<!-- AMAZON SSH CONTENT -->
{% when 'amazon' %}

{% capture list-inclusion-note %}
**Note**: Only Amazon-based databases are listed as this guide is only applicable to the databases listed below. Refer to the [Setting up an SSH Tunnel for a database connection guide]({{ link.connections.ssh-generic | prepend: site.baseurl }}) for instructions for non-Amazon databases.
{% endcapture %}

<!-- GENERIC SSH CONTENT -->
{% else %}

{% capture list-inclusion-note %}
**Note**: Amazon-based databases aren't listed as this guide isn't applicable to them. Refer to the [Setting up an SSH Tunnel for a database in Amazon Web Services guide]({{ link.connections.ssh-amazon | prepend: site.baseurl }}) for more info.
{% endcapture %}
{% endcase %}


The last step is to complete the setup steps required to connect the database to Stitch. The instructions vary from database to database, and whether the database is an integration (where data is extracted) or a destination (where data is loaded).

{{ list-inclusion-note | markdownify }}


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-integration-guide-links">I'm connecting an integration.</a>
        </h4>
    </div>
    <div id="collapse-integration-guide-links" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
            {% include shared/ssh/ssh-connection-lists.html connection-type="integration" %}

            {{ integration-list | markdownify }}
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-destination-guide-links">I'm connecting a destination.</a>
        </h4>
    </div>
    <div id="collapse-destination-guide-links" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
            {% include shared/ssh/ssh-connection-lists.html connection-type="integration" %}
            
            {{ destination-list | markdownify }}
        </div>
    </div>
  </div>
</div>