<p>In this section:</p>

<ul>
    <li>
        <strong>Overview</strong> - All versions for Stitch's {{ integration.display_name }} integration, including release and deprecation dates.
    </li>
    <li>
        <strong>Changelog</strong> - Details about updates to Stitch's {{ integration.display_name }} integration, including new/deprecated versions, schema changes, new data availability, etc.
    </li>
</ul>

<ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#version-overview" data-toggle="tab">Overview</a>
    </li>
    <li>
        <a href="#integration-changelog" data-toggle="tab">Changelog</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="version-overview">
        {% include integrations/templates/versioning/integration-version-history.html %}
    </div>

    <div role="tabpanel" class="tab-pane" id="integration-changelog">
        {% include integrations/templates/versioning/integration-changelog.html %}
    </div>
</div>