<hr class="footer-cta">
<div class="footer-signup-cta" data-swiftype-index='false'>
    <div class="wrapper">
        <div>
            <p>Already have an account?</p>
        </div>
        <div>
            <a href="https://app.stitchdata.com/session/create" class="btn-default btn-default--yellow">
                Sign in <span class="arrow"></span>
            </a>
        </div>
        <div>
            <a href="https://app.stitchdata.com/signup" class="btn-default btn-default--yellow">
                Start my trial <span class="arrow"></span>
            </a>
        </div>
    </div>
</div>