<footer>
    <div class="site-generation">
        &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. 
        {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
    </div>
    {% if page.microsites %}
    <div class="links">
        <p>Other ETL Resources</p>
        <ul>
        {% for item in page.microsites %}
            <li><a href="{{ item.url }}">{{ item.title | flatify }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</footer>