{% include misc/icons.html %}
{% include misc/data-files.html %}

{% assign integration = page %}
{% assign version = integration.version | prepend: "v" %}

{% assign filename = integration.name | append: "-" | append: version | append: "-tables" %}
{% assign tables = site.data.schemas.[integration.name].[version].[filename].tables %}

<div>
{% for table in tables %}

    {% if table.status != "not found" %}

        {% if site.data.schemas.[integration.name].[version].json.[table.name].properties %}

        {% assign data = site.data.schemas.[integration.name].[version].json.[table.name].properties %}

        <!-- Table Name -->
        <div class="table-heading">
            
            <h3 id="{{ table.name | slugify }}">{{ table.name }}</h3>
            <p>{{ table.description | flatify | markdownify }}</p>
            
            <table class="attribute-list table-hover">

                {% for field in table.table-details %}
                    {% assign field-key = field[0] %}
                    {% assign field-value = field[1] %}
                    {% assign value-count = field-value | size %}
                    {% assign field-name = site.data.taps.snapshot-attributes.field-names.[field-key] | flatify | markdownify | strip %}
                    <tr>
                        <td>
                            <strong>{{ field-name }}</strong>
                        </td>
                        <td>
                            {% if value-count > 1 %}
                                {% for value in field-value %}
                                    <p>{{ value }}</p>
                                {% endfor %}
                            {% else %}
                                {{ field-value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    {% if table.links %}
                        <td>
                            <strong>Useful links</strong>
                        </td>
                        <td>
                            {% for link in table.links %}
                                {% assign key = link[0] %}
                                {% assign url = link[1] %}
                                {% assign text = site.data.taps.snapshot-attributes.field-names.[key] | flatify | markdownify | strip %}
                                    <p>
                                        <a href="{{ url }}" title="Opens in new tab: {{ text }}" target="new">
                                            {{ text }}
                                        </a>
                                    </p>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            </table>
            
            {% if table.foreign-keys %}
            <div class="panel-group" id="{{ table.name | slugify }}-foreign-keys">
                <div class="panel panel-default">   
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ table.name | slugify }}-foreign-keys">{{ table.name }} table foreign keys</a>
                        </h4>
                    </div>
                
                    <div id="collapse-{{ table.name | slugify }}-foreign-keys" class="panel-collapse collapse noCrossRef">
                        
                        <table style="margin-top: 0px; margin-bottom: 0px;">

                            <tr>
                                <th>Join {{ table.name }} with</th>
                                <th>on</th>
                            </tr>
                            {% for target-table in table.foreign-keys %}
                            <tr>
                                <td>
                                    <a href="#{{ target-table.table-name | slugify }}">{{target-table.table-name}}</a>
                                </td>
                                <td>
                                    {% for key in target-table.keys %}
                                        <pre>{{ table.name }}.{{key.key}} = {{target-table.table-name}}.{{key.foreign-key}}</pre>
                                    {% endfor %}
                                </td>
                            </tr>

                            {% endfor %}

                            {% for t in tables %}

                            {% for f in t.foreign-keys %}

                            {% if f.table-name == table.name and t.status != "not found" %}

                            <tr>
                                <td>
                                <a href="#{{ t.name | slugify }}">{{t.name}}</a>
                                </td>
                                <td>
                                {% for k in f.keys %}
                                    <pre>{{ table.name }}.{{k.foreign-key}} = {{t.name}}.{{k.key}}</pre>
                                {% endfor %}
                            </td>
                            </tr>

                            {% endif %}

                            {% endfor %}

                            {% endfor %}
                        </table>
                        
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>

    <!-- Dependent and parent table info -->
        {% if table.dependent-table-key or table.is-parent-table %}
        <!-- If the table is dependent on another table, show this note: -->
            {% if table.dependent-table-key %}
                <p>
                    <strong>Note</strong>: In order to replicate this table, you must also set the <a href="#{{ parent-table.name | slugify }}">{{ parent-table.name }}</a> table to replicate.
                </p>
            {% endif %}

        <!-- If the table has other tables that depend on it, show this note: -->
            {% if table.is-parent-table %}
                {% assign child-tables = schema | where:"dependent-table-key",table.key | sort_natural:"name" %}

                <p>
                    <strong>Note</strong>: This table must be selected to replicate the following tables:

                    <ul>
                    {% for child-table in child-tables %}
                        <li>
                            <a href="#{{ child-table.name | slugify }}">{{ child-table.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </p>
            {% endif %}
        {% endif %}

        {% if table.notes %}
            {{ table.notes | flatify | markdownify }}
        {% endif %}


        <div class="panel-group" id="{{ table.name | slugify }}-schema">
            <div class="panel panel-default">   
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ table.name | slugify }}-table">{{ table.name }} table schema</a>
                    </h4>
                </div>
            
                <div id="collapse-{{ table.name | slugify }}-table" class="panel-collapse collapse noCrossRef">
                    {% include layout/new-schemas-table.html jsondata=data table-data=table %}
                </div>
            </div>
        </div>
        {% endif %}

    {% endif %}

{% endfor %}

</div>