{% include misc/data-files.html %}

{% case page.layout %}
    {% when 'developer' %}
        {% include layout/sidebars/developer-sidebar.html %}
    {% when 'tutorial' %}
    <!-- This is temporary until the tutorial and on-page navigation is improved. -->
        {% if page.use-tutorial-sidebar == false %}
            {% include layout/sidebars/general-sidebar.html %}
        {% else %}
            {% include layout/sidebars/tutorial-sidebar.html %}
        {% endif %}
    {% else %}
    	{% if page.sidebar == 'on-page' %}
    		{% include layout/sidebars/on-page-sidebar.html %}
    	{% else %}
	        {% include layout/sidebars/general-sidebar.html %}
	    {% endif %}
{% endcase %}