<!-- Navigation -->

<nav class="stitch-docs-navbar" data-swiftype-index='false'>
    <div class="nav-left">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
        <g>
            <path fill="#FFFFFF" d="M10.1,8.3L3,8.3c0,0,0,0.5,0,0.7c2.4,0,4.7,0,7.1,0C10.1,8.8,10.1,8.3,10.1,8.3z"/>
            <path fill="#FFFFFF" d="M5.9,7.6l7.1,0c0,0,0-0.5,0-0.7c-2.4,0-4.7,0-7.1,0C5.9,7.2,5.9,7.4,5.9,7.6z"/>
            <path fill="#FFFFFF" d="M9.9,9.7c-1.2,0-3.8,0-3.8,0c0,0-0.1,0-0.1,0c-0.1,0.2-0.1,0.4-0.2,0.6h4.4c-0.1-0.2-0.1-0.4-0.2-0.6
                C10,9.8,10,9.7,9.9,9.7z"/>
            <path fill="#FFFFFF" d="M6.1,6.3l3.7,0c0,0,0.1,0,0.1-0.1c0.1-0.2,0.1-0.4,0.2-0.6H5.8C5.9,5.8,5.9,6,6,6.1C6,6.2,6,6.3,6.1,6.3z"
                />
            <path fill="#FFFFFF" d="M15.3,7.2c-0.4-3.4-3.1-6.1-6.4-6.5C8.8,0.3,8.4,0,8,0C7.6,0,7.2,0.3,7.1,0.7C3.7,1.1,1,3.8,0.6,7.2
                C0.2,7.4,0,7.7,0,8.1c0,0.4,0.2,0.7,0.6,0.9c0.4,3.4,3.1,6.2,6.6,6.5C7.3,15.8,7.6,16,8,16c0.4,0,0.7-0.2,0.8-0.5
                c3.4-0.4,6.1-3.1,6.5-6.5C15.7,8.9,16,8.5,16,8.1C16,7.6,15.7,7.3,15.3,7.2z M14.8,8.9c-0.4,3.1-2.8,5.5-5.9,6
                c-0.1-0.3-0.3-0.6-0.6-0.7v-2.3c0.1-0.1,0.2-0.2,0.2-0.4C8.5,11.2,8.3,11,8,11c-0.3,0-0.5,0.2-0.5,0.5c0,0.2,0.1,0.3,0.2,0.4v2.3
                c-0.3,0.1-0.6,0.4-0.6,0.7C4,14.5,1.5,12.1,1.1,9c0.4-0.1,0.7-0.5,0.7-0.9S1.5,7.3,1.1,7.2c0.4-3.1,2.9-5.6,6-5.9
                c0.1,0.3,0.3,0.5,0.6,0.6v2.3C7.6,4.2,7.5,4.4,7.5,4.5C7.5,4.8,7.7,5,8,5c0.3,0,0.5-0.2,0.5-0.5c0-0.2-0.1-0.3-0.2-0.4V1.8
                c0.3-0.1,0.5-0.3,0.6-0.5c3.1,0.4,5.5,2.9,5.9,6c-0.3,0.1-0.6,0.5-0.6,0.9S14.4,8.8,14.8,8.9z"/>
        </g>
        </svg>

        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span class="projectTitle"> {{site.topnav_title}}</span>
        </a>
    </div>
    <div class="mobile-nav-icon"></div>
    <div id="close" class="mobile-close-out hide"></div>
    <div class="nav-right">
        <ul class="stitch-nav">
            <!-- entries without drop-downs appear here -->
            {% for entry in site.data.topnav.topnav %}
                {% for item in entry.items %}
                    {% if item.external_url %}
                        <li>
                            <a href="{{item.external_url}}" target="_blank">{{item.title}}</a>
                        </li>
                    {% elsif page.url contains item.url %}
                        <li class="active">
                            <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{item.title}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <li class="sign-up"><a href="https://stitchdata.com/signup">Sign up</a></li>
            <li>
                <!--start search-->
                <div id="search-demo-container">
                    <input type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text}}">
                    <div class="img"><i class="fa fa-search"></i></div>
                </div>
            </li>
        </ul>
    </div>


</nav>
