<!-- Instructions for creating a new database in a Google Cloud Platform instance. -->

<ul id="cloudsqlCreateDatabaseTabs" class="nav nav-tabs">
    <li class="active"><a href="#console" data-toggle="tab">Console</a></li>
    <li><a href="#psql" data-toggle="tab">psql Client</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="console" markdown="1">
1. In the CloudSQL Instances page, click the **Databases** tab.
2. In the Databases tab, click **New database**.
3. In the window that displays, enter a name for the database in the **Name** field. Note that Google clone a template database to create the new database - we're going to use the template as-is, but you can change the settings afterwards if you like.
4. Click **Create**.
</div>

<div role="tabpanel" class="tab-pane" id="psql" markdown="1">
{% if integration.db-type == "postgres" or destination.type == "postgres" %}
{% include destinations/postgres/create-database.html %}
{% endif %}
</div>
</div>