<!-- Instructions for creating a new database in a Google Cloud Platform instance. -->

<ul id="cloudsqlCreateUserTabs" class="nav nav-tabs">
    <li class="active"><a href="#console-user" data-toggle="tab">Console</a></li>
    <li><a href="#psql-user" data-toggle="tab">psql Client</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="console-user" markdown="1">
**Remember:** users created using the Console method will have the permissions associated with the `cloudsqlsuperuser` role.

1. In the **CloudSQL Instances page**, click the instance.
2. Click **Access Control > Users**.
3. Click **Create User Account**.
4. In the window that displays, enter a **name** and **password** for the Stitch user.
5. Click **Create**.
</div>

<div role="tabpanel" class="tab-pane" id="psql-user" markdown="1">
**Remember:** you must use the psql method outlined below to grant database users specific permissions.

{% if integration.db-type == "postgres" or destination.type == "postgres" %}
{% include destinations/setup/new-redshift-postgres-database-user.html %}
{% endif %}
</div>
</div>