
<!-- Instructions for retrieving a database's connection details in Google Cloud Platform -->

1. On the Cloud SQL Instances page, click the **Overview** tab.
2. Locate the **Connect to this instance** section.
3. Copy the IP address from the **Primary IPv4 address** box.

   ![The Primary IPv4 address box in Google Cloud Platform, highlighted]({{ site.baseurl }}/images/integrations/google-cloudsql-locate-db-details.png)

Keep the IP address handy - you'll need it to complete the setup in Stitch.