<!-- This file includes logic for displaying _sdc columns and the schema of system tables  -->

<table class="attribute-list">
	<tr>
		<td width="25%; fixed" align="right">
			<strong>Column name</strong>
		</td>
		<td width="15%; fixed">
			<strong>Data type</strong>
		</td>
		<td>
			<strong>Description</strong>
		</td>
	</tr>

	{% for attribute in include.attribute-list %}
		<tr>
			<td width="25%; fixed" align="right">
				<strong>{{ attribute.name | flatify }}</strong>
			</td>
			<td>
				{{ attribute.type | upcase }}
			</td>
			<td>
				{{ attribute.description | flatify | markdownify }}

				<strong>Example data:</strong> <code>{{ attribute.data }}</code>
			</td>
		</tr>
	{% endfor %}
</table>