{% assign database = site.data.taps.extraction.database-setup.server-settings[integration.db-type] %}

{% assign database-setup = database.rds %}


{% for setting in database-setup %}{{ setting.name }}={{ setting.value }}{% endfor %}

{% capture server-instructions %}

1. From the RDS Dashboard, click **Instances** on the left side of the page.
2. Click {{ integration.display_name }} instance you want to connect to Stitch. This will open the database's details page.
3. Scroll down to the **Details** section.
4. In the **Configurations** column, locate the **Parameter group** field.
5. Click the parameter group. This will open the settings page for the parameter group.

{% endcapture %}

{% include integrations/templates/configure-server-settings.html %}