Next, you'll create a dedicated logical replication slot for Stitch. In PostgreSQL, a logical replication slot represents a stream of database changes that can then be replayed to a client in the order they were made on the original server. Each slot streams a sequence of changes from a single database.

{% capture replication-slot-warning %}
If any other processes outside of Stitch use this replication slot, you risk losing data in Stitch. This is because [a logical slot emits a single change only once](https://www.postgresql.org/docs/10/static/logicaldecoding-explanation.html#LOGICALDECODING-REPLICATION-SLOTS){:target="new"} - if multiple processes share a logical slot, Stitch will only receive changes from where the last process stopped consuming them.
{% endcapture %}

{% include important.html content=replication-slot-warning %}

1. Log into your master database as a superuser.
2. Using the `wal2json` plugin, create a logical replication slot named `stitch`:

    ```sql
    SELECT * FROM pg_create_logical_replication_slot('stitch', 'wal2json');
    ```
3. Log in as the Stith user and verify you can read from the replication slot:

   ```sql
   SELECT COUNT(*) FROM pg_logical_slot_peek_changes('stitch', null, null);
   ```

**Note**: `wal2json` is required to use Log-based replication in Stitch for PostgreSQL-backed databases. {% if integration.name contains "rds" %}{{ integration.display_name }} is included by default and enabled in [Step 4.1](#configure-database-parameter-group) by defining the `rds.logical_replication` parameter.{% endif %}