<table id="tool-compatibility" style="font-size: 14px">
	<thead style="font-weight: bold">
	  <tr>
	    <td> </td>
	    <td>Amazon <br/>Redshift</td>
	    <td>Amazon S3</td>
	    <td>Google <br/>BigQuery</td>
	    <td>Microsoft <br/>Azure</td>
	    <td>PostgreSQL <br/>(self-hosted)</td>
	    <td>Snowflake</td>
	  </tr>
	 </thead>
	 <tbody>
	  <tr>
	    <td>Tableau</td>
	    <td><a href="https://help.tableau.com/current/pro/desktop/en-us/examples_amazonredshift.htm" target="_blank">Supported</a></td>
	    <td>Via <a href="https://www.tableau.com/about/blog/2017/5/connect-your-s3-data-amazon-athena-connector-tableau-103-71105" target="_blank"> Amazon Athena</a></td>
	    <td><a href="https://help.tableau.com/current/pro/desktop/en-us/examples_googlebigquery.htm" target="_blank">Supported</a></td>
	    <td><a href="https://help.tableau.com/current/pro/desktop/en-us/examples_azure_sql_dw.htm" target="_blank">Supported</a></td>
	    <td><a href="https://help.tableau.com/current/pro/desktop/en-us/examples_postgresql.htm" target="_blank">Supported</a></td>
	    <td><a href="https://help.tableau.com/current/pro/desktop/en-us/examples_snowflake.htm" target="_blank">Supported</a></td>
	  </tr>
	  <tr>
	    <td>PowerBI</td>
	    <td><a href="https://docs.microsoft.com/en-us/power-bi/desktop-connect-redshift" target="_blank">Supported</a></td>
	    <td>Via <a href="https://community.powerbi.com/t5/Power-Query/Can-I-connect-to-a-Amazon-S3-bucket-using-Power-Query/td-p/111919" target="_blank">REST API</a> only</td>
	    <td><a href="https://docs.microsoft.com/en-us/power-bi/desktop-connect-bigquery" target="_blank">Supported</a></td>
	    <td><a href="https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-get-started-visualize-with-power-bi" target="_blank">Supported</a></td>
	    <td><a href="https://docs.microsoft.com/en-us/power-bi/desktop-data-sources" target="_blank">Supported</a></td>
	    <td><a href="https://docs.microsoft.com/en-us/power-bi/desktop-connect-snowflake" target="_blank">Supported</a></td>
	  </tr>
	  <tr>
	    <td>Looker</td>
		<td><a href="https://docs.looker.com/setup-and-management/database-config/amazon-redshift" target="_blank">Supported</a></td>
		<td> </td>
		<td><a href="https://docs.looker.com/setup-and-management/database-config/google-bigquery" target="_blank">Supported</a></td>
		<td><a href="https://docs.looker.com/setup-and-management/database-config/ms-azure-sql-dw" target="_blank">Supported</a></td>
		<td><a href="https://docs.looker.com/setup-and-management/database-config/postgresql" target="_blank">Supported</a></td>
		<td><a href="https://docs.looker.com/setup-and-management/database-config/snowflake" target="_blank">Supported</a></td>
	  </tr>
	  <tr>
	  <tr>
	    <td>Amazon <br/>Quicksight</td>
	    <td><a href="https://docs.aws.amazon.com/quicksight/latest/user/supported-data-sources.html">Supported</a></td>
	    <td><a href="https://docs.aws.amazon.com/quicksight/latest/user/supported-data-sources.html">Supported</a></td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td><a href="https://docs.aws.amazon.com/quicksight/latest/user/supported-data-sources.html" target="_blank">Supported</a></td>
	  </tr>
	    <td>Metabase</td>
	    <td><a href="https://www.metabase.com/docs/latest/administration-guide/01-managing-databases.html" target="_blank">Supported</a></td>
	    <td> </td>
	    <td><a href="https://www.metabase.com/docs/latest/administration-guide/databases/bigquery.html" target="_blank">Supported</a></td>
	    <td> </td>
	    <td><a href="https://www.metabase.com/docs/latest/administration-guide/01-managing-databases.html" target="_blank">Supported</a></td>
	    <td><a href="https://www.metabase.com/docs/latest/administration-guide/01-managing-databases.html" target="_blank">Supported</a></td>
	  </tr>
	  <tr>
	    <td>Qlik</td>
	    <td><a href="https://help.qlik.com/en-US/connectors/Subsystems/ODBC_connector_help/Content/Connectors_ODBC/Redshift/Redshift-connector.htm" target="_blank">Supported</a></td>
	    <td> </td>
	    <td><a href="https://help.qlik.com/en-US/connectors/Subsystems/ODBC_connector_help/Content/Connectors_ODBC/GoogleBigQuery/Google-BigQuery-Connector.htm" target="_blank">Supported</a></td>
	    <td> </td>
	    <td> </td>
	    <td><a href="https://help.qlik.com/en-US/connectors/Subsystems/ODBC_connector_help/Content/Connectors_ODBC/Snowflake/Snowflake-connector.htm" target="_blank">Supported</a></td>
	  </tr>
	  <tr>
	    <td>Google Data<br/> Studio</td>
	    <td> </td>
	    <td> </td>
	    <td><a href="https://support.google.com/datastudio/answer/6370296" target="_blank">Supported</a></td>
	    <td> </td>
	    <td><a href="https://support.google.com/datastudio/answer/7288010" target="_blank">Supported</a></td>
	    <td> </td>
	  </tr>
	  <tr>
	    <td>Grafana</td>
	    <td> </td>
	    <td> </td>
	    <td>Via <a href="https://grafana.com/grafana/plugins/doitintl-bigquery-datasource" target="_blank">plugin</a></td>
	    <td> </td>
	    <td><a href="https://grafana.com/docs/grafana/latest/features/datasources/postgres/" target="_blank">Supported</a></td>
	    <td> </td>
	  </tr>
	</tbody>
</table>