
#### Initial replication job

**Source table**

In the source, the initial table looks like this:

| id | name | type  | magic   | updated_at              |
|----+------+-------+---------+-------------------------|
| 1  | Finn | human | false   | 2017-12-22 12:34:23     |
| 2  | Jake | dog   | true    | 2018-07-17 16:28:14     |

<br>
Stitch saves the maximum value from the Replication Key column (`updated_at: 2018-07-17 16:28:14`) to as a 'bookmark', which is where replication will pick up on the next replication job.

**Destination table**

The entire table is replicated in full to the destination:

| id | name | type  | magic   | updated_at              |
|----+------+-------+---------+-------------------------|
| 1  | Finn | human | false   | 2017-12-22 12:34:23     |
| 2  | Jake | dog   | true    | 2018-07-17 16:28:14     |

---

#### Second replication job

**Source table**

Some time later, new rows (`id: 3, 4`) are added to the source table:

| id | name      | type     | magic  | updated_at              |
|----+-----------+----------+--------+-------------------------|
| 1  | Finn      | human    | false  | 2017-12-22 12:34:23     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 3  | Bubblegum | princess | true   | 2018-07-17 18:37:56     |
| 4  | Beamo     | game bot | false  | 2018-07-17 18:34:49     |

<br>
**Destination table**

Stitch replicates all records where `updated_at >= 2018-07-17 16:28:14`, in this case `id: 2, 3, 4`, and appends them to the end of the table in the destination:

| id | name      | type     | magic  | updated_at              |
|----+-----------+----------+--------+-------------------------|
| 1  | Finn      | human    | false  | 2017-12-22 12:34:23     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 3  | Bubblegum | princess | true   | 2018-07-17 18:37:56     |
| 4  | Beamo     | game bot | false  | 2018-07-17 18:34:49     |

<br>
Note that:

- `id: 2` is in the table twice. This is because of the inclusive nature of Replication Keys, where records that are greater than or equal to the last saved maximum value are replicated.
- Rows for records `id: 3, 4` are appended to the end of the table
- The maximum Replication Key value is updated to `updated_at: 2018-07-17 18:37:56`

---

#### Third replication job

**Source table**

What happens when an existing row is updated? In the source, `id: 1` is now `magic: true`, which changes the record's `updated_at` to `2018-07-20 09:18:32`:

| id | name      | type     | magic  | updated_at              |
|----+-----------+----------+--------+-------------------------|
| 1  | Finn      | human    | true   | 2018-07-20 09:18:32     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 3  | Bubblegum | princess | true   | 2018-07-17 18:37:56     |
| 4  | Beamo     | game bot | false  | 2018-07-17 18:34:49     |

<br>
**Destination table**

Stitch replicates all records where `updated_at: 2018-07-17 18:37:56`. In this case, that's records `id: 1, 3`, which will be appended to the end of the table in the destination:

| id | name      | type     | magic  | updated_at              |
|----+-----------+----------+--------+-------------------------|
| 1  | Finn      | human    | false  | 2017-12-22 12:34:23     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 2  | Jake      | dog      | true   | 2018-07-17 16:28:14     |
| 3  | Bubblegum | princess | true   | 2018-07-17 18:37:56     |
| 4  | Beamo     | game bot | false  | 2018-07-17 18:34:49     |
| 1  | Finn      | human    | true   | 2018-07-20 09:18:32     |
| 3  | Bubblegum | princess | true   | 2018-07-17 18:37:56     |

<br>
Because existing rows aren't updated in the destination, records `id: 1, 3` are now in the table twice. For `id: 1`, note that the `magic` values are different.