Our example table contains the following rows to start with: 

{% highlight markdown %}
| Name | Age | Type  | Magic   | updated_at              |{{ system-column.sequence }} |
|------+-----+-------+---------+-------------------------+---------------|
| Finn | 14  | Human | False   | 2017-12-22 12:34:23     | 1473773877524 |
| Jake | 6   | Dog   | True    | 2018-07-17 16:28:23     | 1473773877524 |
{% endhighlight %}

These rows are replicated during the initial sync of the table. Some time later, new rows are added to the (source) table:

{% highlight markdown %}
| Name      | Age | Type     | Magic  | updated_at              |{{ system-column.sequence }} |
|-----------+-----+----------+--------+-------------------------+---------------|
| Finn      | 14  | Human    | False  | 2017-12-22 12:34:23     | 1473773877524 |
| Jake      | 6   | Dog      | True   | 2018-04-09 16:28:23     | 1473773877524 | //current bookmark
| Bubblegum | 16  | Princess | True   | 2018-07-12 18:34:23     | 1473776585195 | // new rows
| Beamo     | 1   | Game Bot | False  | 2018-07-17 18:34:23     | 1473776585195 | // new rows

{% endhighlight %}

During the next replication job, any record where updated_at >= 2018-07-17 16:28:23 is replicated total row count to 5:


{% highlight markdown %}
| Name      | Age | Type     | Magic  | updated_at              |{{ system-column.sequence }} |
|-----------+-----+----------+--------+-------------------------+---------------|
| Finn      | 14  | Human    | False  | 2017-12-22 12:34:23     | 1473773877524 |
| Jake      | 6   | Dog      | True   | 2018-04-09 16:28:23     | 1473773877524 |
| Jake      | 6   | Dog      | True   | 2018-04-09 16:28:23     | 1473773877524 |  // record with previous bookmark value is appended
| Bubblegum | 16  | Princess | True   | 2018-07-12 18:34:23     | 1473776585195 |  // new rows
| Beamo     | 1   | Game Bot | False  | 2018-07-17 18:34:23     | 1473776585195 |  // new rows

{% endhighlight %}

What happens when an existing row is updated? If Finn's age were updated to 15, the <strong>existing</strong> row wouldn't be updated - instead, an entirely new row would be appended to the end of the table:


{% highlight markdown %}
| Name      | Age | Type     | Magic  | updated_at              |{{ system-column.sequence }} |
|-----------+-----+----------+--------+-------------------------+---------------|
| Finn      | 14  | Human    | False  | 2017-12-22 12:34:23     | 1473773877524 |
| Jake      | 6   | Dog      | True   | 2018-04-09 16:28:23     | 1473773877524 |
| Jake      | 6   | Dog      | True   | 2018-04-09 16:28:23     | 1473773877524 |  
| Bubblegum | 16  | Princess | True   | 2018-07-12 18:34:23     | 1473776585195 | 
| Beamo     | 1   | Game Bot | False  | 2018-07-17 18:34:23     | 1473776585195 | 
| Beamo     | 1   | Game Bot | False  | 2018-07-17 18:34:23     | 1473776585195 |  // record with previous bookmark value is appended
| Finn      | 15  | Human    | False  | 2018-07-17 20:34:23     | 1473776585195 |  // updated data appended as new row

{% endhighlight %}
