{% if page.title contains "Mongo" %}
{% capture object %}collection{% endcapture %}
{% capture Object %}Collection{% endcapture %}
{% capture col %}field{% endcapture %}
{% else %}
{% capture object %}table{% endcapture %}
{% capture Object %}Table{% endcapture %}
{% capture col %}column{% endcapture %}
{% endif %}

## Defining Replication Keys

{% if page.title contains "Mongo" %}
After you set a collection to replicate, you'll be prompted to select a Replication Key.
{% else %}
After you set a table to replicate and select [Incremental Replication]({{ link.replication.rep-methods | prepend: site.baseurl | append: "#incremental-replication" }}) as the Replication Method, you'll need to select a column to be used as the Replication Key for the table.
{% endif %}

After you select a {{ col }} from the drop-down, click the **Update Settings** button.

### Changing Existing Replication Keys

Changing an existing Replication Key for a {{ object }} is simple - just open up the {{ Object }} Settings page for the {{ object }} and select the new Replication Key {{ col }} from the drop-down menu.

**When you change a {{ object }}'s Replication Key, Stitch will queue a full re-replication of the {{ object }}'s data**. We do this to ensure that there aren't any gaps because of the Replication Key switch.
