<!-- This file contains a tab for each type of integration,
    and a table listing table/column selection support for each of
    Stitch's integrations. -->

{% include misc/icons.html %}
{% assign integration-types = "database|saas|webhook" | split:"|" %}


<ul id="profileTabs" class="nav nav-tabs">
  {% for integration-type in integration-types %}
    {% if forloop.first == true %}
      <li class="active">
    {% else %}
      <li>
    {% endif %}

      <a href="#{{ integration-type | append: "-integrations-data-selection" }}" data-toggle="tab">{{ integration-type | capitalize }} integrations</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% assign selection-types = "table-selection|column-selection" | split: "|" %}

  {% for integration-type in integration-types %}
    {% case integration-type %}
      {% when 'database' %}
        {% assign integrations = site.database-integrations | where:"input", true | sort:"title" %}

        {% capture tab-copy %}
        The table and column selection support for each of Stitch's database integrations.
        {% endcapture %}

      {% when 'saas' %}
        {% assign all-integrations = site.saas-integrations | where:"input", true | sort:"title" %}
          {% assign integrations = all-integrations | where_exp:"integration","integration.name != 'import-api'" %}

          {% capture tab-copy %}
          The table and column selection support for each of Stitch's SaaS integrations.
          {% endcapture %}

      {% when 'webhook' %}
        {% assign all-integrations = site.webhook-integrations | where:"input", true | sort:"title" %}
          {% assign integrations = all-integrations | where_exp:"integration","integration.name != 'incoming-webhooks'" %}

          {% capture tab-copy %}
          Table and column selection is not available for Stitch's webhook integrations. By default, all data sent to Stitch in a webhook message will be loaded to your destination. Refer to the webhook provider's documentation for info about possible attributes.
          {% endcapture %}
    {% endcase %}

    {% if forloop.first == true %}
      <div role="tabpanel" class="tab-pane active" id="{{ integration-type | append: "-integrations-data-selection" }}">
    {% else %}
      <div role="tabpanel" class="tab-pane" id="{{ integration-type | append: "-integrations-data-selection" }}">
    {% endif %}

      {{ tab-copy }}

        <table class="attribute-list">
          <tr>
            <td width="35%; fixed" align="right">
            </td>
            {% for selection-type in selection-types %}
              <td class="attribute-description">
                <strong>{{ selection-type | capitalize | replace:"-"," " }}</strong>
              </td>
            {% endfor %}
          </tr>

          {% for integration in integrations %}
            <tr>
              <td width="35%; fixed" align="right">
                <a href="{{ integration.url | prepend: site.baseurl }}">{{ integration.title }}</a>
              </td>

              {% for selection-type in selection-types %}

            <!-- The copy for the icon tooltip -->
                {% capture full-tooltip %}[TYPE] [VERB] supported for the [NAME] integration.{% endcapture %}
            <!-- Clean up the tooltip copy and inject the integration's name -->
                  {% assign clean-tooltip = full-tooltip | replace:"[TYPE]",selection-type | replace:"-"," " | capitalize | replace:"[name]",integration.title %}

                <td class="attribute-description">
                  {% case integration[selection-type] %}
                    {% when true %}
                      {{ supported | replace:"TOOLTIP",clean-tooltip  | replace:"[verb]","is" }}
                    {% when false %}
                      {{ not-supported | replace:"TOOLTIP",clean-tooltip | replace:"[verb]","isn't" }}
                    {% endcase %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
  {% endfor %}
</div>