### Replication Key gotchas {#replication-key-gotchas}

Before selecting a Replication Key for a {% if page.title contains "Mongo"%}collection{% else %}table{% endif %}, there are a few things you should keep in mind:

{% if page.title contains "Mongo" %}
1. **Changing a collection's Replication Key requires a full re-replication of the collection**. To change the Replication Key for a MongoDB collection, Stitch must perform a full re-replication of the collection.

2. **Stitch will not capture hard deletes.** 

3. **NULL is a defined BSON data type in MongoDB.** Unlike SQL, `NULLs` can actually compare to other data types and replicate without issue.

4. **MongoDB fields may contain more than one data type. These data types also have a hierarchy.** Fields in MongoDB (even `_id`) can contain more than one data type. In addition, [MongoDB "ranks" data types](https://docs.mongodb.com/manual/reference/bson-types/#bson-types), meaning that some are considered greater than others. **This can lead to problems detecting new data.**

   While Stitch doesn't require single data types for Replication Keys, we strongly recommend it. We've seen a lot of data discrepancies arise from this.

   Here’s an example that demonstrates why this could be a problem in Stitch:

   1. You set a table to replicate, using a field called `_id` as the Replication Key. This field contains both `ObjectId` and `String` data types.
   2. A historical replication job of the table completes.
   3. Because MongoDB considers `ObjectId` data types to be greater than `Strings`, Stitch will record the `MAX` value as the last replicated record containing an `ObjectId` data type in the Replication Key field.
   4. New records are added to the table.
   5. During the next replication job, Stitch uses the last recorded `MAX` value - in this case, an `ObjectId` - to identify new/updated data. **Remember: only records with Replication Key values greater than or equal to this value will be selected for replication**.
   6. Because `ObjectIds > Strings`, all records with `Strings` are considered to be less than the last recorded `MAX` value. This means Stitch won’t be able to detect these records and replicate them.

   Because Stitch may be unable to correctly identify new and updated data due to how data types are sorted, it’s best to keep Replication Key fields to a single data type. See below in the **Checking for multiple data types** section for guidance on verifying a field's data types.

5. **Some data types may not auto-increment.** Before using the field, you should verify the field's data type **and** that it auto-increments. Otherwise, Stitch may have issues detecting new data.

#### Checking for Multiple Data Types

{% include integrations/databases/verify-mongo-data-types.html %}

{% else %}
- **Rows with `NULL` values in the Replication Key column will only be replicated during the first extraction of an integration**. This means subsequent extractions will not capture rows where the Replication Key is `NULL`. Stitch uses the Replication Key column to detect new and updated data - without it, data can't be correctly detected and replicated.

   If the Replication Key field is entirely `NULL`, the entire source table will be extracted during each job until a non-`Null` value is received and stored as a bookmark.

- **Auto-incrementing integers are only suitable Replication Keys for Append-Only tables**. If you want to use an auto-incrementing integer column as the Replication Key for your table, ensure that the table is Append-Only. 

   If an auto-incrementing integer is used and existing records are updated, Stitch won't detect the new data if the values in the Replication Key column don't also change. This can lead to data discrepancies.

- **Replication Keys for MongoDB work a little differently** than they do for other integrations. Check out the [Selecting MongoDB Replication Keys guide]({{ link.replication.mongo-rep-keys | prepend: site.baseurl }}) for more info.
- **Stitch will not capture hard deletes in tables that use Key-based Incremental Replication**.
{% endif %}
