{% capture data-type-table %}
<table class="attribute-list">
	<tr>
		<td width="25%; fixed" align="right"><strong>Data type</strong>
		</td>
		<td>
			<strong>Available for</strong>
		</td>
		<td>
			<strong>Notes</strong>
		</td>
	</tr>
	{% if page.title contains "Mongo" %}
		{% assign all-types = site.data.taps.extraction.replication-methods.key-based-incremental.allowed-data-types %}
			{% assign types-all-integrations = all-types | where:"integration","All" %}
			{% assign types-mongodb-integrations = all-types | where:"integration","MongoDB v1+" %}
		
				{% assign supported-data-types = types-all-integrations | concat: types-mongodb-integrations %}
	{% else %}
		{% assign supported-data-types = site.data.taps.extraction.replication-methods.key-based-incremental.allowed-data-types %}
	{% endif %}

	{% for data-type in supported-data-types %}
		<tr>
			<td align="right">
				<strong>{{ data-type.type | upcase }}</strong>
			</td>
			<td>
				{{ data-type.integration | append: " integrations" }}
			</td>
			<td>
				{{ data-type.notes | flatify | markdownify }}
			</td>
		</tr>
	{% endfor %}
</table>
{% endcapture %}


## Replication Key requirements {#replication-key-requirements}

{% if page.title contains "Mongo" %}
Stitch uses a field you define - called a Replication Key - to identify new and updated data for replication. For MongoDB integrations, Replication Key fields:

{% for requirement in site.data.taps.extraction.replication-methods.key-based-incremental.other-requirements %}
- {{ requirement | remove: "(MongoDB only)" }}
{% endfor %}
- Must be one of the data types in the table below:

{{ data-type-table | flatify }}

{% else %}

To use [Key-based Incremental Replication]({{site.baseurl}}/replication/replication-methods#incremental-replication), a table must contain one of the following column types to be used as the Replication Key:

{{ data-type-table | flatify }}

When Stitch replicates your data, it will store the last recorded maximum value in the Replication Key column and compare it against the data source - **not what's in your destination** - to identify new/updated data. 

Any row with a Replication Key value greater than or equal to the stored value is where Stitch will begin the next replication job.
{% endif %}