<!-- This file is an overview table of support for each
    deletion method + Replication Method combo -->


<!-- Get the replication methods -->
    {% assign replication-methods = site.data.taps.extraction.replication-methods.all-methods %}

<table class="attribute-list">
    <tr>
        <td class="table-hover attribute-name">
            <strong>Replication Method</strong>
        </td>
        <td>
            <strong>Hard deletes</strong>
        </td>
        <td>
            <strong>Soft deletes</strong>
        </td>
    </tr>
        {% for replication-method in replication-methods %}
            <tr>
                <td class="attribute-name">
                    <strong>
                        <a href="#{{ replication-method.name }}">{{ replication-method.display-name }}</a>
                    </strong>
                </td>
                {% for item in replication-method.support-info %}
                    <td>
                    {% case item.supported %}
                        {% when 'supported' %}
                            {{ supported | replace:"TOOLTIP","Supported" }} <strong>{{ item.supported | replace: "-"," " | capitalize }}</strong>
                        {% when 'sometimes-supported' %}
                            {{ sometimes-supported | replace:"TOOLTIP","Sometimes supported" }} <strong>{{ item.supported | replace: "-"," " | capitalize }}</strong>
                        {% when 'not-supported' %}
                            {{ not-supported | replace:"TOOLTIP","Not supported" }} <strong>{{ item.supported | replace: "-"," " | capitalize }}</strong>
                    {% endcase %}
                    <br><br>

                    {{ item.loading | flatify | prepend:"**In the destination:** " | markdownify }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
</table>