---

## Extracted {#extracted-stats}
The **Extracted** section displays details about the extraction part of the replication process.

- **Last Sync Started** - This is the time the last replication job began.
- **Last Sync Completed** - This is the time the last replication job successfully completed.
- **Sync Status** - This is the status of the replication job. **Note** If the integration is Paused or Not Configured, a status of **Not Syncing** will display here.

   Additionally, there may be times where an integration is in an error state (ex: connection trouble) and still display an **In Progress** status. This means that Stitch is attempting to extract data despite the issue causing the error.
- **Next Sync** - This is the estimated time of the next replication job. This estimate is based on the integration’s Replication Frequency and the completion time of the last replication job.

### Extracted Stats for Import API & Webhook Integrations {#extracted-stats-for-iapi-webhook-connections}

For IAPI and webhook connections, the Extracted section will look a little different:

- **For Import API connections**, this section will display the last time data was successfully received by Stitch with a **Last Rows Received** stat.
- **For webhook connections**, Extraction stats aren’t available due to the real-time nature of webhooks. In this case, **Never** will display alongside **Last Rows Received**.

### Extraction Logs {#extraction-logs}

The **Extraction Logs** tab - located next to the **Tables to Replicate** tab after clicking into the integration - provides additional detail about the extraction portion of the replication process for a given integration. For example, the logs include info about:

- Current and updated Replication Key values for tables
- Detail about the tables set to replicate
- Errors that occurred during the extraction

**Note**: Extraction logs are only available for integrations powered by Singer taps. As integrations are converted to the Singer system, extraction logs will be made available.

[Read more about extraction logs here]({{ link.replication.extraction-logs | prepend: site.baseurl }}).

---

## Preparing {#preparing}

The **Preparing** section shows the total number of rows and tables Stitch is currently preparing to load into your data warehouse for the integration you’re viewing.

The **Rows to be Loaded** stat is the total sum of rows across all tables currently in preparation (**Tables to be Loaded**).

---

## Loaded {#loading-stats}

The **Loaded** section shows the total number of rows published (**Rows Loaded Today**) to your data warehouse **since midnight UTC** of the current day.

In addition, the name of the last table Stitch loaded into your data warehouse is listed here. The **Last Table Loaded** stat isn’t limited to the current day the way **Rows Loaded Today** is, however.

For example: if the integration encountered an issue that prevented successful replication for a day or two, the name of the table displayed here may be several days old.
