<!-- This file contains the content on how to set up a GCP IAM Service Account. -->


{% case include.type %}

<!-- DEFINING SERVICE ACCOUNT DETAILS -->
{% when 'define-service-account-details' %}
1. Navigate to the [IAM Service Accounts page](https://console.cloud.google.com/iam-admin/serviceaccounts){:target="new"} in the GCP console.
2. Select the project you want to use by using the project dropdown menu, located near the top left corner of the page:

   ![Highlighted project selection menu in the Google Cloud Platform console]({{ site.baseurl }}/images/destinations/bigquery-gcp-project-menu.png){:style="max-width: 450px;"}
3. Click **+ Create Service Account**.
4. On the **Service account details** page, fill in the field as follows:
   - **Service account name**: Enter a name for the service account. For example: `Stitch`
   - **Serivce account description**: Enter a description for the service account. For example: `Replicate Stitch data`
5. Click **Create**.


<!-- ASSIGNING THE BIGQUERY ADMIN ROLE -->
{% when 'assign-bq-admin' %}
Next, you'll assign the BigQuery Admin role to the service account. {% if page.name == "bigquery" %}This is required to successfully load data into {{ page.display_name }}.{% endif %}

1. On the **Service account permissions** page, click the **Role** field.
2. In the window that displays, type `bigquery` into the filter/search field:
 ![The service account role field with BigQuery Admin selected]({{ site.baseurl }}/images/destinations/bigquery-service-account-role.png){:style="max-width: 450px;"}

3. Select **BigQuery Admin**.
4. Click **Continue**.


<!-- CREATING A JSON PROJECT KEY -->
{% when 'create-json-project-key' %}
![Create project key section, highlighted in the Google Cloud Platform console]({{ site.baseurl }}/images/destinations/bigquery-create-project-key-file.png){:style="max-width: 325px; margin-left: 15px;" align="right"}

The last step is to create and download a JSON project key. The project key file contains information about the project, which Stitch will use to complete the setup.

1. On the **Grant users access to this service account** page, scroll to the **Create key** section.
2. Click **+ Create Key**.
3. When prompted, select the **JSON** option.
4. Click **Create**.
5. Save the JSON project key file to your computer. The file will be downloaded to the location you specify (if prompted), or the default download location defined for the web browser you're currently using.

{% endcase %}