---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT, BETA, AND SINGER NOTICE -->
{% include notifications/support-beta-singer-notice.html %}


<!-- INTEGRATION-SPECIFIC NOTICES -->
{% if integration.notice-copy %}
    {% capture notice-copy %}
        {{ integration.notice-copy | flatify }}
    {% endcapture %}

    {% include important.html first-line=integration.notice-first-line content=notice-copy %}
{% endif %}


<!-- INTEGRATION SNAPSHOT -->
    {% include shared/versioning/integration-supported-features.html type="integration-snapshot" feature-type="databases" %}


<!-- SETUP REQUIREMENTS & INSTRUCTIONS -->
    {% include integrations/shared-setup/setup-requirements-steps.html %}

<!-- REPLICATION DETAILS -->
{% if integration.replication-sections %}
    {% include layout/additional-sections.html section-type="replication" %}
{% endif %}


{{ content }}