---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT, BETA, AND SINGER NOTICE -->
	{% include notifications/status-support/connection-notices.html %}


<!-- INTEGRATION-SPECIFIC NOTICES -->
{% unless this-version.status == "sunset" %}
	{% if integration.notice-copy %}
	    {% capture notice-copy %}
	        {{ integration.notice-copy | flatify }}
	    {% endcapture %}

	    {% include important.html first-line=integration.notice-first-line content=notice-copy %}
	{% endif %}
{% endunless %}


<!-- INTEGRATION SNAPSHOT -->
    {% include shared/versioning/integration-supported-features.html type="integration-snapshot" feature-type="databases" %}


<!-- SETUP REQUIREMENTS & INSTRUCTIONS -->

{% unless this-version.status == "sunset" %}
    {% include integrations/shared-setup/setup-requirements-steps.html %}
{% endunless %}

<!-- REPLICATION DETAILS -->
{% if integration.replication-sections %}
    {% include layout/additional-sections.html section-type="replication" %}
{% endif %}


{{ content }}