---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT, BETA, AND SINGER NOTICE -->
{% include notifications/support-beta-singer-notice.html %}


<!-- INTEGRATION-SPECIFIC NOTICES -->
{% if integration.notice-copy %}
    {% capture notice-copy %}
        {{ integration.notice-copy | flatify }}
    {% endcapture %}

    {% include important.html first-line=integration.notice-first-line content=notice-copy %}
{% endif %}


<!-- INTEGRATION SNAPSHOT -->
    {% include integrations/templates/versioning/integration-supported-features.html type="integration-snapshot" feature-type="databases" %}


<!-- CONNECTION INSTRUCTIONS -->
    {% include integrations/templates/database-connection-instructions.html %}

<hr>

<!-- REPLICATION DETAILS -->
{% capture extraction-queries %}
{% include replication/databases/extraction-queries.html %}
{% endcapture %}

{{ extraction-queries | flatify | markdownify }}

{% if integration.replication-sections %}
    <h2 id="replication">{{ integration.display_name }} Replication</h2>

    {% for section in integration.replication-sections %}
        {% if section.title %}
            <h3 id="{{ section.anchor }}">{{ section.title | flatify }}</h3>
        {% endif %}

        {{ section.content | flatify | markdownify }}
    {% endfor %}

    <hr>
{% endif %}


{{ content }}