<!DOCTYPE html>
<head>
    {% include_cached layout/head.html title=page.title %}
    
  <!-- Initializes tooltips -->
    <script>
      $(function () {
            $('[data-toggle="tooltip"]').tooltip({
              delay: {show: 0, hide: 2000}
            });
        })
    </script>

</head>



<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXBN5GK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include_cached layout/topnav.html %}

<!-- Page Content -->
<div id="main">
    <div class="sidebar-column">
        {% include layout/sidebar.html %}
    </div>
    <div class="content-column">
        
        <div class="article">
          {% unless page.title contains "Welcome" %}
            <div class="breadbox">
                <div class="breadcrumb-container" data-swiftype-index='false'>
                    <div id="breadcrumb-menu" class="menu-left">
                        {% include layout/breadcrumbs.html %}
                    </div>

                    {% if page.this-version %}
                        <div class="version-menu menu-right fouc">
                            {% include integrations/templates/versioning/integration-version-menu.html %}
                        </div>
                    {% endif %}
                </div>
            </div>
          {% endunless %}

          {{content}}
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script type="text/javascript" src="{{ site.baseurl }}/js/docsearch.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Used for creating heading anchors -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="//cdn.statuspage.io/se-v2.js"></script>

<script src="{{ "/js/toc.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/customscripts.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    $(".fouc").removeClass("fouc");
</script>

<!-- Intercom bubble -->
<script>
  window.intercomSettings = {
    app_id: "okjpf68w"
  };
</script>
<script>
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/okjpf68w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>

<!-- Search -->
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','SAg6gNWby6H1xYzjhfzB','2.0.0');
</script>

<div class="st-search-container"></div>

</body>
</html>