---
layout: page
---
{% assign destination = page %}
{% include misc/data-files.html %}

<!-- destination beta notice -->
{% if destination.status contains "Beta" %}
    {% include notifications/destination-beta-notice.html %}
{% endif %}

<!-- introduction -->
{% contentblock intro %}

<p>In this guide, we'll walk you through:</p>
	<ul>
		<li>{{ destination.display_name }}'s pricing model,</li>
		<li>Some high-level limitations (including any incompatible data sources),</li>
		<li>How to spin up a {{ destination.display_name }} data warehouse of your own, and</li> 
		<li>How Stitch loads and organizes data in {{ destination.display_name }}.</li>
	</ul>

<hr>

<!-- destination pricing info -->
<h2 id="pricing">Pricing</h2>
	{% contentblock pricing %}
	<hr>

<!-- destination limitations, ex: max # of allowed columns, 
	incompatible sources, etc -->
<h2 id="limitations">Limitations</h2>
	{% contentblock limitations %}
	<hr>

<!-- destination setup copy -->
<h2 id="setup">Setup</h2>
	{% contentblock setup %}
	<hr>

<!-- stitch schema overview -->
<h2 id="schema">Schema</h2>
	{% contentblock data-modeling %}
	<hr>

<!-- destination replication details - notes anything 
	specific to that destination, such as bigquery's 
	append-only incremental replication -->
<h2 id="replication">Replication</h2>
	{% contentblock replication %}

{{ content }}

<hr>