---
layout: page
---
{% assign destination = page %}
{% include misc/data-files.html %}

<!-- destination beta notice -->
{% if destination.status contains "Beta" %}
    {% include notifications/destination-beta-notice.html %}
{% endif %}

<!-- introduction -->
{{ destination.introduction | flatify | markdownify }}

<p>In this guide, we'll walk you through:</p>
	<ul>
		<li>{{ destination.display_name }}'s pricing model,</li>
		<li>Some high-level limitations (including any incompatible data sources),</li>
		<li>How to spin up a {{ destination.display_name }} data warehouse of your own, and</li> 
		<li>How Stitch loads and organizes data in {{ destination.display_name }}.</li>
	</ul>

<hr>

{% for section in destination.sections %}
	{% case section.title %}
		{% when "pricing" %}
			<h2 id="pricing">Pricing</h2>
		{% when "limitations" %}
			<h2 id="limitations">Limitations</h2>
		{% when "setup" %}
			<h2 id="setup">Setup</h2>
		{% when "replication" %}
			<h2 id="replication">Replication</h2>
		{% when "schema" %}
			<h2 id="schema">Schema</h2>
		{% else %}
			<h2 id="{{ section.anchor }}">{{ section.title | flatify }}</h2>
	{% endcase %}

	{% if section.content %}
		{{ section.content | flatify | markdownify }}
	{% endif %}

{% if section.include %}
{{ section.include | flatify | markdownify }}
{% endif %}

	{% if section.subsections %}
		{% for subsection in section.subsections %}
			<h3 id="{{ subsection.anchor }}">
				{{ subsection.title | flatify }}
			</h3>

			{{ subsection.content | flatify | markdownify }}
		{% endfor %}
	{% endif %}

	<hr>
{% endfor %}


