---
layout: default
---

{% include layout/footer-cta.html %}
<div>
    <p>Already have an account?

    <a href="https://app.stitchdata.com/session/create">
                Sign in
    </a>
    </p>
</div>

<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">
<!-- Controls display of page summary -->
   {% if page.display-summary == "true" %}
        <div class="summary">{{ page.summary }}</div>
   {% endif %}

<!-- Table of Contents -->
    {% unless page.toc == false %}
        {% include layout/toc.html %}
    {% endunless %}

  <!-- If the page has a minimum-plan property,
      display the CTA -->
    {% if page.minimum-plan %}
        {% include minimum-plan-cta.html %}
    {% endif %}

      {{content}}

<!-- GitHub Feedback snippet -->
{% unless page.feedback == false %}
    {% include layout/related-troubleshooting-articles.html %}
    {% include layout/feedback.html %}
{% endunless %}
</div>

{% include layout/footer.html %}