---
layout: default
---

<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">
<!-- Controls display of page summary -->
   {% if page.display-summary == "true" %}
        <div class="summary">{{ page.summary }}</div>
   {% endif %}

<!-- Table of Contents -->
    {% unless page.toc == false %}
        {% include layout/toc.html %}
    {% endunless %}

    {% if page.enterprise == true %}
        {% include enterprise-cta.html %}
    {% endif %}

      {{content}}

<!-- GitHub Feedback snippet -->
{% unless page.feedback == false %}
    {% include layout/related-troubleshooting-articles.html %}
    {% include layout/feedback.html %}
{% endunless %}
</div>

{% include layout/footer-cta.html %}
{% include layout/footer.html %}