---
layout: default
---

<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">
<!-- Controls display of page summary -->
   {% if page.display-summary == "true" %}
        <div class="summary">{{ page.summary }}</div>
   {% endif %}

<!-- Table of Contents -->
    {% unless page.toc == false %}
        {% include layout/toc.html %}
    {% endunless %}

  {{content}}

<!-- GitHub Feedback snippet -->
{% unless page.feedback == false %}
    {% include layout/related-troubleshooting-articles.html %}
    {% include layout/feedback.html %}
{% endunless %}

<!-- Page tags -->
    {% for tag in page.tags %}
    {% assign counter=0 %}
    {% if page.tags contains tag %}
            {% assign counter=counter | plus:1 %}
        {% endif %}
    {% endfor %}

    {% if counter > 0 %}
        <div class="tags">
            <b>Tags: </b>
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.tags %}
                {% if projectTags contains tag %}
                    <a href="{{ "/tag_" | append: tag | prepend: site.baseurl }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{ tag | replace:"_"," " }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>

{% include layout/footer.html %}
