---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT AND SINGER NOTICE-->
    {% include notifications/status-support/connection-notices.html %}


<!-- INTEGRATION-SPECIFIC NOTICES -->
{% if integration.notice %}
    {% capture notice %}
    {{ integration.notice | flatify | markdownify }}
    {% endcapture %}

    {% include important.html content=notice %}
{% endif %}

<!-- INTEGRATION FEATURE SUMMARY -->
{% if integration.feature-summary %}
    <h2 id="feature-summary">{{ integration.display_name }} integration summary</h2>

    {{ integration.feature-summary | flatify | markdownify }}
{% endif %}


<!-- INTEGRATION SNAPSHOT -->
    {% if integration.snapshot-type %}
        {% assign snapshot-type = integration.snapshot-type %}
    {% else %}
        {% assign snapshot-type = "saas" %}
    {% endif %}

    {% include shared/versioning/integration-supported-features.html type="integration-snapshot" feature-type=snapshot-type %}


<!-- CONNECTION INSTRUCTIONS -->
    {% include integrations/templates/connection-instructions.html %}
    <hr>




<!-- REPLICATION DETAILS -->
{% if integration.replication-sections %}
    <h2 id="replication">{{ integration.display_name }} Replication</h2>

    {% for section in integration.replication-sections %}
        {% if section.title == "attribution window" %}
            <h3 id="{{ integration.display_name |  downcase }}-attribution-windows">{{ integration.display_name }} Replication and Attribution Windows</h3>

            {% capture attribution-window %}
            {% include integrations/saas/attribution-windows.html %}
            {% endcapture %}

            {{ attribution-window | markdownify }}

        {% else %}

            {% if section.title %}
                <h3 id="{{ section.anchor }}">{{ section.title | flatify }}</h3>
            {% endif %}

            {{ section.content | flatify | markdownify }}

            {% if section.subsections %}
                {% for subsection in section.subsections %}
                    <h4 id="{{ subsection.anchor }}">{{ subsection.title | flatify }}</h4>

                    {{ subsection.content | flatify | markdownify }}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <hr>
{% endif %}



{% unless integration.no-schema == true %}
<!-- SCHEMA DETAILS START -->
<h2 id="schema">{{ integration.display_name }} table schemas</h2>

<!-- Displays an info box if there are multiple versions of an integration currently available -->

{% if integration.this-version %}
{% assign integration = page %}
{% capture version-notice %}
Schemas and naming conventions can change from version to version, so we recommend verifying your integration's version before continuing.

The schema and info displayed below is for **version {{ integration.this-version }}** of this integration.

{% if integration.this-version == latest-version %}
  This is the latest version of the {{ integration.display_name }} integration.
{% endif %}
{% endcapture %}

{% include note.html first-line="**Schemas and versioning**" content=version-notice %}

<!-- If this isn't the latest version of the integration, re-assign the page variable. -->
{% if integration.this-version != latest-version %}
    {% if integration.schema-sections or integration.old-schema-template %}
        {% assign integration = page %}
    {% else %}
        {% assign integration = site.saas-integrations | where:"name",integration.name | first %}
    {% endif %}
{% endif %}
{% endif %}

<!-- If there are any notes about the schema,
display them. This is info like custom field support,
non-standard handling of certain data types, etc. -->
    {% if integration.schema-sections %}
        {% for section in integration.schema-sections %}
                {% if section.title %}
                    <h3 id="{{ section.anchor }}">{{ section.title | flatify }}</h3>
                {% endif %}
            {{ section.content | flatify | markdownify }}

            {% if section.subsections %}
                {% for subsection in section.subsections %}
                    <h4 id="{{ subsection.anchor }}">{{ subsection.title | flatify }}</h4>

                    {{ subsection.content | flatify | markdownify }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
    {% endif %}

<!-- ACTUAL TABLE SCHEMA DISPLAY -->
{% if integration.old-schema-template %}
    {% if integration.tables %}
        {% include integrations/templates/expand-list.html %}
    {% else %}
    {% endif %}
{% else %}
    {% include integrations/templates/schemas/table-schemas.html %}
{% endif %}
<!-- SCHEMA DETAILS END -->
{% endunless %}

<!-- If there are other misc sections, display them -->
    {% if integration.other-sections %}
        {% for section in integration.other-sections %}
                {% if section.title %}
                    <h2 id="{{ section.anchor }}">{{ section.title | flatify }}</h2>
                {% endif %}
            {{ section.content | flatify | markdownify }}

            {% if section.subsections %}
                {% for subsection in section.subsections %}
                    <h3 id="{{ subsection.anchor }}">{{ subsection.title | flatify }}</h3>

                    {{ subsection.content | flatify | markdownify }}

                    <!-- If this is the last subsection, add a horizontal rule
                    to separate the next section -->

                    {% if forloop.last == true %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
    {% endif %}



<!-- ALL OTHER CONTENT -->
    {{ content }}