---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT AND SINGER NOTICE-->
    {% include notifications/status-support/connection-notices.html %}


<!-- INTEGRATION-SPECIFIC NOTICES -->
{% if integration.notice %}
    {% capture notice %}
    {{ integration.notice | flatify | markdownify }}
    {% endcapture %}

    {% include important.html content=notice %}
{% endif %}

<!-- INTEGRATION FEATURE SUMMARY -->
{% if integration.feature-summary %}
    <h2 id="feature-summary">{{ integration.display_name }} integration summary</h2>

    {{ integration.feature-summary | flatify | markdownify }}

{% endif %}


<!-- INTEGRATION SNAPSHOT -->
    {% if integration.snapshot-type %}
        {% assign snapshot-type = integration.snapshot-type %}
    {% else %}
        {% assign snapshot-type = "saas" %}
    {% endif %}

    {% include shared/versioning/integration-supported-features.html type="integration-snapshot" feature-type=snapshot-type %}


<!-- Don't display instructions for sunset integrations -->
{% unless this-version.status == "sunset" %}
<!-- SETUP REQUIREMENTS & INSTRUCTIONS -->
    {% include integrations/shared-setup/setup-requirements-steps.html %}
    <hr>
{% endunless %}

<!-- REPLICATION DETAILS -->
{% if integration.replication-sections %}
    {% include layout/additional-sections.html section-type="replication" %}
{% endif %}


<!-- SCHEMA AND TABLE SECTIONS -->
    {% include integrations/templates/schemas/saas-table-sections.html %}

<!-- If there are other misc sections, display them -->
    {% if integration.other-sections %}
        {% for section in integration.other-sections %}
                {% if section.title %}
                    <h2 id="{{ section.anchor }}">{{ section.title | flatify }}</h2>
                {% endif %}
            {{ section.content | flatify | markdownify }}

            {% if section.subsections %}
                {% for subsection in section.subsections %}
                    <h3 id="{{ subsection.anchor }}">{{ subsection.title | flatify }}</h3>

                    {{ subsection.content | flatify | markdownify }}

                    <!-- If this is the last subsection, add a horizontal rule
                    to separate the next section -->

                    {% if forloop.last == true %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if forloop.last == true %}
            <hr>
        {% endif %}
    {% endif %}


<!-- ALL OTHER CONTENT -->
    {{ content }}