---
layout: page
---
{% assign integration = page %}
{% include misc/data-files.html %}

<!-- SUPPORT AND SINGER NOTICE-->
    

<!-- integration snapshot -->
{% include shared/versioning/integration-supported-features.html type="integration-snapshot" feature-type="webhook" %}

<!-- intro -->
{% ifhascontent intro %}
    {% contentblock intro %}
    <hr>
{% endifhascontent %}

<!-- connection instructions -->
<h2 id="setup">Connecting {{ integration.display_name }}</h2>
    {% contentblock setup %}
    <hr>

<!-- integration replication details -->
{% ifhascontent replication-notes %}
    <h2 id="replication">Replication</h2>
        {% contentblock replication-notes %}
        <hr>
{% endifhascontent %}

<!--  integration schema details -->
<h2 id="schema">Schema</h2>
    {% ifhascontent schema-notes %}
        {% contentblock schema-notes %}
    {% endifhascontent %}

{% if integration.format.list == "expand" %}
    {% include integrations/templates/expand-list.html %}
{% endif %}
    <hr>

<!-- revoke webhook url instructions -->
<h2 id="webhook-urls-security">Webhook URLs & Security</h2>
    {% contentblock revoke-urls %}
    <hr>

{{ content }}