<!-- This file is table that acts as a changelog
for the integration. Includes notices for version
deprecation and major version releases. -->

<!-- Uses the naming logic in the version logic file to assign the correct
integration_name value so the correct changelog is pulled -->
    {% include shared/versioning/integration-version-logic.html %}

<!-- Get the tap name -->
    {% assign tap-name = site.data.taps.versions[integration_name]tap-name %}

<!-- Get the changelog for the integration -->
    {% assign integration-changelog = site.data.taps.versions[integration_name]changelog-entries %}

<table class="attribute-list">
    {% for entry in integration-changelog %}

    <!-- Version deprecation entries -->
        {% if entry.type == 'version-deprecation' %}
            {% for version in released-versions %}

            <!-- Get the release date for the latest version of the integration -->
                {% if version.number == latest-version %}
                    {% capture latest-version-release-date %}
                        {{ version.date-released }}
                    {% endcapture %}
                {% endif %}

            <!-- For the version in the entry -->
                {% if version.number == entry.version %}

                <!-- Get the version's deprecation date -->
                    {% capture version-deprecation-date %}
                        {{ version.deprecation-date }}
                    {% endcapture %}

                <!-- Get the version's release date -->
                    {% capture version-release-date %}
                        {{ version.date-released }}
                    {% endcapture %}
                {% endif %}
            {% endfor %}
        {% endif %}

    <!-- End the deprecation stuff -->
        <tr>
            <td align="right" width="25%; fixed">
                <strong>Date</strong>
            </td>
            <td align="right" width="15%; fixed">
                <strong>Version</strong>
            </td>
            <td class="attribute-description">
                <strong>Release notes</strong>
            </td>
        </tr>
        <tr>
            <td align="right" width="25%; fixed">
                <strong>{{ entry.date }}</strong>
            </td>
            <td align="right">
                {% if entry.version %}
                    {{ entry.version }}
                {% endif %}
            </td>
            <td class="attribute-description">
                {% case entry.type %}

                <!-- For new major version announcements -->
                    {% when 'new-version' %}
                        <p>
                            <strong>New integration version ({{ entry.version }})</strong>
                        </p>

                        <p>Version {{ entry.version }} of Singer's {{ tap-name }} tap, which backs Stitch's {{ integration.display_name }} integration, has been released.</p>

                <!-- For version deprecation entries -->
                    {% when 'version-deprecation' %}
                        <p>
                            <strong>Version {{ entry.version }} deprecation date</strong>
                        </p>

                        <p>Version {{ entry.version }} of Stitch's {{ integration.display_name }} integration will be deprecated on <strong>{{ version-deprecation-date }}</strong> and no longer be formally supported by the Stitch Support Team.</p>

                        <p><strong>Connections created from {{ version-release-date }} to {{ latest-version-release-date }} use this version.</strong> Upgrade to the <strong>latest version ({{ latest-version }})</strong> to take advantage of the new enhancements.</p>

                <!-- For new data availability entries -->
                    {% when 'new-data' %}
                        <p>
                            <strong>New data available</strong>
                        </p>

                        <p>New data is now available for <strong>version {{ entry.version }}</strong> of Stitch's {{ integration.display_name }} integration.</p>

                    {% else %}
                        <p>
                            <strong>{{ entry.summary }}</strong>
                        </p>
                {% endcase %}

                {{ entry.content | flatify | markdownify }}
            </td>
        </tr>
    {% endfor %}
</table>