
<!-- Logic for displaying versions of destination pages. -->

{% assign page_name = [include.item-name]type %}

{% assign display_name = [include.item-name]display_name %}


<!-- Get the correct versions 

    If the include has a specific version parameter, only get the version being requested-->
{% if include.this-version %}
    {% assign released-versions = site.data.destinations.versions.[page_name].released-versions | where:"number",include.this-version %}

<!-- Otherwise, get the full list of released versions. -->
{% else %}
    {% assign released-versions = site.data.destinations.versions[page_name]released-versions %}
{% endif %}

<!-- Pulls the latest version number for the destination -->
    {% assign latest-version = site.data.destinations.versions.[page_name].latest-version %}


<!-- Last, pulls all docs that that match the given key  -->

    {% assign all-versioned-docs = site.documents | where:"key",[include.item-name]key %}