
<!-- Logic for displaying versions of integration pages. -->

<!-- If the include has a specific type, do this: -->
{% if include.type == "include" %}
    {% assign integration_name = include.integration_name %}
    {% assign display_name = include.display_name %}
    {% assign doc_name = include.integration_name %}

<!-- Otherwise, do this: -->
{% else %}

<!-- Get the ID of the backing integration - used to pull version info -->
	{% if [include.item-name]db-type %}
<!-- For databases, a single type can back several integrations.
Ex: MySQL backs Magento, MariaDB, etc. -->
	    {% assign page_name = [include.item-name]db-type %}
	{% else %}
	    {% assign page_name = [include.item-name]name %}
	{% endif %}


<!-- Get the integration's display name -->
	{% assign display_name = [include.item-name]display_name %}

{% endif %}


<!-- Get the correct versions 
If the include has a specific version parameter, only get the version being requested-->
{% if include.version %}
    {% assign released-versions = site.data.taps.versions.[page_name].released-versions | where:"number",include.this-version %}


<!-- Otherwise, get the full list of released versions. -->
{% else %}
    {% assign released-versions = site.data.taps.versions[page_name]released-versions %}
{% endif %}


<!-- Get details about this specific version of the integration -->
	{% assign this-version = released-versions | where:"number",[include.item-name].this-version | first %}


<!-- Pulls the latest version number for the integration -->
    {% assign latest-version = site.data.taps.versions[page_name]latest-version %}


<!-- Last, pulls all docs that that match the given key  -->
	{% assign all-versioned-docs = site.documents | where:"key",[include.item-name]key %}
<!-- Get the doc that is the latest version based on the given key. -->
		{% assign latest-version-doc = all-versioned-docs | where:"this-version",latest-version | first %}