<!-- This file contains logic for getting the correct status
    for a given integration. This is because some branded integrations 
    can have different release statuses
    than the integration they're backed by. -->

{% assign doc = all-versioned-docs | find:"this-version",version.number %}

{% assign version-statuses = site.data.stitch.version-statuses %}

<!-- If the doc has an override-version-status property, do this: -->
{% if doc.override-version-status %}
    {% assign version-status = version-statuses[doc.override-version-status] %}

    {% if version-status.id == "released" or version-status.id == "in-testing" %}
        {% assign is-latest = true %}
    {% else %}
        {% assign is-latest = false %}
    {% endif %}

<!-- Otherwise, just run this for the current version -->
{% else %}
    {% assign doc-version = released-versions | find:"number",doc.this-version %}
        {% assign version-status = version-statuses[doc-version.status] %}

        {% if doc.this-version == latest-version %}
            {% assign is-latest = true %}
        {% else %}
            {% assign is-latest = false %}
        {% endif %}
{% endif %}