
<!-- The logic for pulling version info is in this include -->

{% case include.connection-type %}
    {% when 'destination' %}
        {% include shared/versioning/destination-version-logic.html %}

    {% when 'integration' %}
        {% include shared/versioning/integration-version-logic.html %}
{% endcase %}

{% assign total-versions = released-versions | size %}

{% assign version-statuses = site.data.stitch.version-statuses %}


<!-- List items on category pages require a specific class,
    so based on the menu-type we get it here -->
{% if include.menu-type == "category-page" %}
    {% capture li-class %}class="category-version-toggle"{% endcapture %}
{% else %}
    {% capture li-class %}{% endcapture %}
{% endif %}


<!-- VERSION SELECTION MENU -->

{% if total-versions > 1 %}
    <div class="version-toggle">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                {% if include.menu-type == "category-page" %}
                    SELECT VERSION 
                {% else %}
                    {{ [include.item-name]this-version | prepend: "version " | upcase }}
                {% endif %}
                <span class="caret"></span>
            </button>

            <ol class="dropdown-menu">
            <!-- If this is a category page, get the integration's overview page
                and create a list item for it. Currently only applies to databases. -->
                {% if include.menu-type == "category-page" %}
                    {% assign overview = all-versioned-docs | find:"content-type","database-category" %}

                    {% if overview != null %}
                        <li {{ li-class }}>
                            <a href="{{ overview.url | prepend: site.baseurl }}"><strong>Compare versions</strong></a>
                        </li>
                    {% endif %}
                {% endif %}

                {% for version in released-versions %}
                    {% assign doc = all-versioned-docs | find:"this-version",version.number %}

                <!-- If there's a matching doc for the current version, run the code below -->
                    {% if doc != null %}

                    <!-- But don't do it if it's a category page -->
                        {% unless doc.content-type contains "category" %}
                            {% include shared/versioning/integration-version-status-logic.html %}

                            {% if is-latest == true %}
                                {% assign status-display = "latest" %}
                            {% else %}
                                {% assign status-display = version-status.display-name %}
                            {% endif %}

                            {% if doc.url == page.url %}
                                <li class="active">
                                    version {{ doc.this-version }} ({{ status-display }})

                                    <i class="fa fa-check fa-1" aria-hidden="true"></i>
                            {% else %}
                                <li {{ li-class }}>
                                    <a href="{{ doc.url | prepend: site.baseurl }}">
                                        version {{ doc.this-version }} ({{ status-display }})
                                    </a>
                            {% endif %}
                            </li>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}