<!-- This file is an overview table of an connection's version
release and deprecation dates -->

<!-- Used to generate the "Unsupported" icons -->
{% include misc/icons.html %}
{% include misc/data-files.html %}

<!-- The logic for pulling version info is in this include -->
{% case page.connection-type %}
    {% when 'destination' %}
        {% include shared/versioning/destination-version-logic.html connection-type="destination" item-name="destination"  %}

    {% when 'integration' %}
        {% include shared/versioning/integration-version-logic.html connection-type="integration" item-name="integration" %}

{% endcase %}

<p>
    All versions for Stitch's {{ page.display_name }} {{ page.connection-type }}, including release and deprecation dates.
</p>

<table class="attribute-list">
    <tr>
        <td class="attribute-name">
            <strong>Version</strong>
        </td>
        <td>
            <strong>Release date</strong>
        </td>
        <td>
            <strong>Deprecation date</strong>
        </td>
        <td>
            <strong>End of life (Sunset)</strong>
        </td>
    </tr>
    {% for version in released-versions %}
        {% for doc in all-versioned-docs %}
            {% if version.number == doc.this-version %}
                <tr>
                    <td class="attribute-name">
                        <strong>
                            <a href="{{ doc.url | prepend: site.baseurl }}">version {{ version.number }}</a>
                        </strong>
                        {% if version.number == latest-version %} (latest){% endif %}
                    </td>

                    <td class="attribute-description">
                        {{ version.date-released }}
                    </td>

                    <td class="attribute-description">
                        {{ version.deprecation-date }}
                    </td>
                    <td>
                        {{ version.sunset-date }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>