<!-- This file is an overview table of an connection's version
release and deprecation dates -->

<!-- Used to generate the "Unsupported" icons -->
{% include misc/icons.html %}
{% include misc/data-files.html %}

<!-- The logic for pulling version info is in this include -->
{% case page.connection-type %}
    {% when 'destination' %}
        {% assign page-key = page.type | append: "-version-category" %}

        {% include shared/versioning/destination-version-logic.html connection-type="destination" item-name="destination" page-key=page-key %}
        

    {% when 'integration' %}
        {% assign page-key = page.key %}

        {% include shared/versioning/integration-version-logic.html connection-type="integration" item-name="integration" page-key=page-key %}

{% endcase %}

<p>
    All versions for Stitch's {{ page.display_name }} {{ page.connection-type }}, including release and deprecation dates.
</p>

<table class="attribute-list">
    <tr>
        <td width="20%; fixed" align="right">
            <strong>Version</strong>
        </td>
        <td width="20%; fixed">
            <strong>Status</strong>
        </td>
        <td>
            <strong>Release</strong>
        </td>
        <td>
            <strong>Deprecation</strong>
        </td>
        <td>
            <strong>End of life (Sunset)</strong>
        </td>
    </tr>
    {% for version in released-versions %}

    <!-- Get the category page specific to the version  -->
        {% assign doc = all-versioned-docs | find:"this-version",version.number %}

    <!-- Only display a row if there's a page that matches the current version -
        that is, that the page-version variable isn't nil -->
        {% if doc != null %}
            {% include shared/versioning/version-status-logic.html %}

            <tr>
                <td align="right">
                    <strong>
                        <a href="{{ doc.url | prepend: site.baseurl }}">version {{ version.number }}</a>
                    </strong>
                    {% if is-latest == true %} (latest){% endif %}
                </td>

                <td>
                    {% if version.status %}
                        {{ version-status.display-name }}
                    {% else %}
                        {% if is-latest == true %}
                            {% assign status = site.data.stitch.version-statuses.released.display-name %}
                        {% else %}
                            {% assign status = site.data.stitch.version-statuses.deprecated.display-name %}
                        {% endif %}
                        {{ status }}
                    {% endif %}

                    
                    
                </td>

                <td>
                    {{ version.date-released }}
                </td>

                <td>
                    {% if doc.override-version-status %}
                    {% elsif version.deprecation-date %}
                        {{ version.deprecation-date }}
                    {% elsif status == "Deprecated" %}
                        {% assign next-version = version.number | plus: 1 | append: "" %}
                        {% for v in released-versions %}
                            {% if v.number == next-version %}
                                {% if v.date-released %}
                                    {{ v.date-released }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if doc.override-version-status %}
                    {% else %}
                        {{ version.sunset-date }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>