If you exceed your monthly row allotment, an overage fee will be automatically added to that month's invoice. There are two exceptions to this, as automatic overage charges don't apply to Free and Enterprise plans:

- **Free Plans**: Once the row limit is reached, integrations will be paused. Replication will resume either when you upgrade to a paid plan or when your billing cycle resets.
- **Enterprise Plans**: Row limits for Enterprise plans is a custom setting. Please refer to your Stitch agreement for details.

The amount of the overage fee varies by plan. Details on overage fees can be found on [Stitch's pricing page]({{ site.pricing }}){:target="new"}.