{% assign integration = page %}

<!-- Some integrations don't have a branded UI. Ex: Magento is MySQL, but doesn't
currently have its own UI. Capture the name that's in the UI and display it
in the instructions. -->
{% if integration.setup-name %}
    {% assign integration-name = integration.setup-name %}
{% else %}
    {% assign integration-name = integration.display_name %}
{% endif %}


<!-- Assign values to the default fields -->
  {% assign defaults = site.data.ui.database-integration-settings.default-fields %}

<!-- Assign the database-settings based on the database type and the integration -->
  {% assign database-settings = site.data.ui.database-integration-settings.[integration.db-type].[integration.name] %}


{% case include.type %}

{% when 'general' %}
<!-- GENERAL INSTRUCTIONS -->

1. [Sign into your Stitch account]({{ site.sign-in }}){:target="_blank"}, if you haven't already.
2. {{ app.menu-paths.add-integration | flatify }}
3. Click the **{{ integration-name }}** icon.
4. Fill in the fields as follows:
   {% for field in database-settings %}
   - **{{ field.name | flatify }}**: {{ field.copy | flatify }}
   {% endfor %}


<!-- FOR SSH -->

{% when 'ssh' %}

  {% if integration.singer == true %}
    {% assign ssh-fields = defaults.ssh-singer %}
  {% else %}
    {% assign ssh-fields = defaults.ssh %}
  {% endif %}

{% include note.html type="single-line" content="**Note**: Skip this step if you're not using SSH to connect to Stitch." %}

If you're using an SSH tunnel to connect your {{ integration.display_name }} database to Stitch, you'll also need to complete the following:

{% if integration.singer == true %}
1. Click the **SSH Tunnel** checkbox.
{% else %}
1. Click the **Encryption Type** menu.
2. Select **SSH Tunnel** to display the SSH fields.
{% endif %}
3. Fill in the fields as follows:
   {% for field in ssh-fields %}
   - **{{ field.name }}**: {{ field.copy | flatify }}
   {% endfor %}


<!-- FOR SSL FIELDS -->
{% when 'ssl' %}

{% include note.html type="single-line" content="**Note**: Skip this step if you're not using SSL to connect to Stitch." %}

<!-- FOR HEROKU ONLY -->
{% if integration.name == "heroku" %}
**Note:** Because Heroku enforces SSL by default, you don't need to take any further action to encrypt your data.
{% else %}


<!-- IF THE INTEGRATION HAS SPECIFIC SSL FIELDS, SHOW THEM -->
{% if include.ssl-fields == "true" %}
  {% assign ssl-fields = site.data.ui.database-integration-settings.[integration.db-type].ssl %}

1. Check the **{{ defaults.field-names.ssl }}** checkbox. {{ defaults.field-copy.ssl }}
2. Fill in the fields as follows:
   {% for field in ssl-fields %}
   - **{{ field.name }}**: {{ field.copy | flatify }}
   {% endfor %}

{% else %}

<!-- OTHERWISE, ONLY SHOW THE COPY FOR THE SSL CHECKBOX -->
In addition, click the **{{ defaults.field-names.ssl }}** checkbox if you're using an SSL connection. {{ defaults.field-copy.ssl }}
{% endif %}

{% endif %}

{% endcase %}