{% if integration.name == "mongodb" %}
    {% assign object = "collection" %}
    {% assign col = "field" %}
    {% assign rep-key = link.replication.mongo-rep-keys %}

{% else %}
    {% assign object = "table" %}
    {% assign col = "column" %}
    {% assign rep-key = link.replication.rep-keys %}
{% endif %}



The last step is to select [select the {{ object }}s {% unless integration.column-selection == false %}and {{ col }}s{% endunless %} you want to replicate]({{ link.replication.syncing | prepend: site.baseurl }}).

{% case integration.define-replication-methods %}
{% when true %}

{% if integration.set-default-replication-method == true %}
{% capture object-selection-action %}
Stitch will use the default Replication Method selected in the [**{{ app.page-names.int-settings }}** page](#define-default-replication-method). You can choose a different Replication Method for individual {{ object }}s during this process.
{% endcapture %}

{% else %}
{% capture object-selection-action %}
you'll also need to define its [Replication Method]({{ link.replication.rep-methods | prepend: site.baseurl }}) {% if integration.key-based-incremental-replication == true %}and, if using Key-based Incremental Replication, its [Replication Key]({{ rep-key | prepend: site.baseurl }}){% endif %}.
{% endcapture %}
{% endif %}

{% else %}
<!-- For Mongo! -->

{% capture object-selection-action %}
you'll also need to define its [Replication Key]({{ rep-key | prepend: site.baseurl }}). {% if integration.name == "mongodb" %}**Note**: Any table set to replicate will use [Key-based Incremental Replication]({{ link.replication.key-based-incremental | prepend: site.baseurl }}). Stitch doesn't currently support other Replication Methods for this version (v{{ integration.this-version }}) of the {{ integration.display_name }} integration.{% endif %}
{% endcapture %}
{% endcase %}

When you track a {{ object }}, {{ object-selection-action | strip }}


{% if integration.db-type == "mysql" %}
{% capture myisam-tables %}
Because MyISAM tables implement table-level locking when queries are executed, any time Stitch queries a MyISAM table during a replication job, the entire table will be locked.

For this reason, we recommend connecting only read replicas to Stitch to prevent locking tables in your production database. Additionally, consider converting tables to the InnoDB format (which only uses row-level locking) where possible.
{% endcapture %}

{% include note.html first-line="**Replicating MyISAM tables**" content=myisam-tables %}
{% endif %}



You can select {{ object }}s {% unless integration.column-selection == false %}and {{ col }}s{% endunless %} by:

1. In the {{ app.page-names.int-details }} page, click the {{ app.buttons.tables }} tab.
2. Locate a {{ object }} you want to replicate.
3. {{ app.menu-paths.sync }}
4. If there are child objects, they'll automatically display and you'll be prompted to select some.
5. After you set a {{ object }} to replicate, the {{ Object }} Settings page will display. **Note**: When you track a table, by default **all** {{ col }}s will also be tracked{% if integration.name == "mongodb" and integration.column-selection == false %}; additionally, tracking individual fields isn't currently supported at this time{% endif %}.
{% if integration.name == "mongodb" and integration.define-replication-methods == false %}
6. In the {{ Object }} Settings page, define the {{ object }}'s **Replication Key**.
{% else %}
{% if integration.key-based-incremental-replication == false %}
6. In the {{ Object }} Settings page, define the {{ object }}'s **Replication Method**{% if integration.set-default-replication-method == true %} or skip this step if you want to use the integration's default method{% endif %}.
{% else %}
6. In the {{ Object }} Settings page, define the {{ object }}'s **Replication Method** and, if using Key-based Incremental Replication, its **Replication Key**.
{% endif %}
{% endif %}

   {% if integration.name == "mongodb" %}
   {% capture mongo-rep-key-notice %}
   **Missing Replication Key Fields**<br>
   Verify that the field is both indexed and in the root of the document if it's missing from the Replication Key dropdown. Refer to the [MongoDB Replication Keys guide]({{ rep-key | prepend: site.baseurl }}) for more info.
   {% endcapture %}

   {% include tip.html content=mongo-rep-key-notice %}
   {% endif %}
7. Repeat this process for every {{ object }} you want to replicate.
{% if integration.singer == true %}
8. {{ app.menu-paths.finalize-selections | flatify }}
{% endif %}