{% case integration.name %}
  {% when "google-adwords" %}
    {% assign replication-key = "day" %}

    {% assign account-id = system-column.customer-id %}

    {% assign account-id-data = "1585293495" %}

    {% assign device = "device" %}

    {% assign core-object-replication = "These tables are replicated using **Full Table Replication**." %}

  {% when "bing-ads" %}
    {% assign replication-key = "gregorianDate" %}

    {% assign account-id = "accountId"%}

    {% assign account-id-data = "71086605" %}

    {% assign device = "deviceType" %}

    {% assign core-object-replication = "With the exception of the `accounts` table, these tables are replicated using **Full Table Replication**." %}
  {% endcase %}


{% if include.type == "table-types" %}
There are two types of tables in Stitch's {{ integration.display_name }} integration: Core Object and Report.

- **Core Object** tables contain foundational data that's useful for analysis. These are the [`accounts`](#accounts), [`ad_groups`](#ad_groups), [`ads`](#ads), and [`campaigns`](#campaigns) tables. {{ core-object-replication }}

- **Report** tables are the various {{ integration.display_name }} reports. The replication process for these tables is a bit unlike that of other tables:
  - **Extraction**: Data is extracted using a conversion window. A conversion window is a period of time after a customer clicks an ad that a conversion (ex: a purchase) is recorded in {{ integration.display_name }}. Stitch currently uses a conversion window of **{{ integration.attribution-window }}**.

     This means that data from the past {{ integration.attribution-window }} will be replicated during every replication job.
  - **Loading**: Data is loaded into your data warehouse using Append-Only Replication.

For **Report** tables, this means that:

1. **Due to the conversion window, a high Replication Frequency may not be necessary.** Because Stitch will replicate data from the past {{ integration.attribution-window }} during every replication job, recent data will be re-replicated and count towards your row quota.

   To help prevent overages or unnecessary re-replication, consider setting the integration to sync less frequently. For example: every 12 or 24 hours.

2. **Querying for the latest data in Report tables will require a different strategy than you might usually use**. Stitch will add a column named `{{ system-column.report-date-time }}` to Report tables to help you identify the most recent records in a table. [See the Query for the Latest Data section for more info and a sample query](#query-for-the-latest-data).

Each part of the replication process for **Report** tables is explained below.
{% endif %}




{% if include.type == "report-tables" %}
Every time Stitch runs a replication job for {{ integration.display_name }}, the last {{ integration.attribution-window }}' worth of data will be replicated for all [**Report** tables](#schema) currently being tracked. 

Stitch replicates data in this way to account for updates made during the conversion window.

#### Historical & Full Re-replications {#data-extraction-conversion-window--historical}

For historical and full re-replications of **Report** tables, Stitch will query for and extract data newer than or equal to the date defined in the **Start Date** field in the Integration Settings page.

The [**Start Date**](#define-historical-sync) defines the minimum date Stitch should query for when extracting historical data.

##### Example {#historical-sync-example}

During the initial set up, the **Start Date** field is set to `07/03/2017`, or `2017-07-03 00:00:00`. In this example, Stitch will query for data that is newer than or equal to `2017-07-03 00:00:00`.

If you were to write a SQL query using this date for the `ad_performance_report` table, it might look like this:

```sql
SELECT *
FROM ad_performance_report
WHERE {{ replication-key }} >= '2017-07-03 00:00:00'       /* Replication Key column */
ORDER BY {{ replication-key }}
```

#### Ongoing Jobs {#data-extraction-conversion-window--ongoing}

For ongoing syncs of **Report** tables, Stitch will query for and extract data using the last saved maximum value in the table's Replication Key column and the conversion window of {{ integration.attribution-window }}.

**Note:** This applies to every replication job that takes place after the historical job.

##### Example {#ongoing-sync-example}

The last maximum saved Replication Key value for the `ad_performance_report` table is `2017-10-01 00:00:00`.

Subtracting the conversion window of {{ integration.attribution-window }} would equal `2017-09-01 00:00:00`.

In this example, Stitch will query for and extract data that is newer than or equal to `2017-09-01 00:00:00` and older than or equal to 2017-10-01 00:00:00.

If this were a SQL query, it might look like this:

```sql
SELECT *
FROM ad_performance_report
WHERE {{ replication-key }} <= '2017-10-01 00:00:00'       
                        /* max Replication Key value from previous job */
AND {{ replication-key }} >= '2017-09-01 00:00:00'
                        /* max Replication Key value - 30 day conversion window */
ORDER BY {{ replication-key }}
```
{% endif %}




{% if include.type == "data-loading" %}
When Stitch loads the extracted data for Report tables into your destination, it will do so using Append-Only Replication. This is a type of Incremental Replication where existing rows aren't updated, but appended to the end of the table. 

Additionally, the number of rows loaded into the table during each replication job is dependent on the combination of unique values in the dimension columns you track. See the [Column Selection and Statistic Aggregation section](##column-selection-statistic-aggregation) for more info and examples.

##### Example {#append-only-example}

Let's say these columns are tracking in the `ad_performance_report` table:

- `campaignId` (dimension) - This is the ID associated with a campaign. In this example, there are two campaigns: `929007494` and `929599581`
- `{{ device }}` (dimension) - The device type. There are two values for this example: `Computer` and `Tablet`
- `impressions` (metric) - The total number of impressions.

Every time Stitch replicates and loads data, a row for each unique combination of the dimension columns will be appended to the end of the table:

| {{ system-column.report-date-time }} | {{ replication-key }} | {{ account-id }} | campaignId | {{ device }} | impressions |
|---------------------------------|--------------------------------------|------------|-----|--------|-------------|
| 2017-10-01 17:48:26.791 | 2017-09-10 00:00:00 | {{ account-id-data }} | 929007494 | Computer                  | 61 |
| 2017-10-01 17:48:26.791 | 2017-09-10 00:00:00 | {{ account-id-data }} | 929007494 | Tablet                    | 15 |
| 2017-10-01 17:48:26.791 | 2017-09-10 00:00:00 | {{ account-id-data }} | 929599581 | Computer                  | 37 |
| 2017-10-01 17:48:26.791 | 2017-09-10 00:00:00 | {{ account-id-data }} | 929599581 | Tablet                    | 9  |
{% endif %}



{% if include.type == "append-only-query" %}
If you want only the most recently replicated data for any {{ integration.display_name }} Report table, you can use the sample query below to account for the Append-Only Replication Stitch uses.

This query uses two columns - which are automatically included for every Report table - to return the latest data:

- `{{ replication-key }}` - The day that the record pertains to.
- `{{ system-column.report-date-time }}` - The starting time of the Stitch job that extracted the record.

```sql
SELECT *
FROM (
       SELECT *,
              RANK() OVER (PARTITION BY {{ replication-key }}
                           ORDER BY {{ system-column.report-date-time }} DESC)
       FROM ad_performance_report
       ORDER BY {{ replication-key }} ASC
      ) AS latest
WHERE latest.rank = 1
```

In this query:

1. [A subquery first uses a window function](https://chartio.com/resources/tutorials/using-window-functions/) to create a 'window' of data for each `{{ replication-key }}`,
2. The values of the `{{ system-column.report-date-time }}` column are ranked within each window partition, and
4. Then, in the outer query, only the rows with `{{ system-column.report-date-time }}` values ranked as `1` - which is equal to the maximum timestamp - are returned. 

**Note**: You may need to adjust the above query to account for differences in SQL syntax and usage depending on what type of data warehouse you're using.
{% endif %}