
{% comment %}
The section below loops through integration.tables and 
captures the total count of tables in the integration 
as a variable.

total-table-count is the total count cast as an integer.
{% endcomment %}

{% if integration.layout == "singer" %}
    {% assign schema = site.integration-schemas | where:"tap",integration.name %}
{% else %}
    {% assign schema = integration.tables %}
{% endif %}

{% assign count1 = 0 %}
{% for table in schema %}
{% capture total-tables %}
{{ count1 | plus: "1" }}
{% endcapture %}
{% assign count1 = total-tables %}
{% endfor %}

{% assign total-table-count = total-tables | plus: 0 %}



{% comment %}
The section below loops through integration.tables and
captures the number of tables where attribution-window
is set to true.

total-attribute-count is the total number of tables with 
attribute-window == true cast as an integer.
{% endcomment %}

{% assign count = 0 %}
{% assign attribution-tables = schema | where:"attribution-window","true" %}
{% for table in attribution-tables %}
{% capture attribution-count %}
{{ count | plus: "1" }}
{% endcapture %}
{% assign count = attribution-count %}
{% endfor %}

{% assign total-attribution-count = attribution-count | plus: 0 %}



{% comment %}
The section below compares the total number of tables
with attribute windows to the total number of tables 
in the integration and then uses the appropriate formatting.
{% endcomment %}

{% if total-attribution-count == total-table-count %}
Every time Stitch runs a replication job for {{ integration.display_name }}, the last {{ integration.attribution-window }}' worth of data will be replicated.

This is applicable to all tables in the integration.
{% else %}

{% if total-attribution-count == 1 %}
{% for table in attribution-tables %}
Every time Stitch runs a replication job for {{ integration.display_name }}, the last {{ integration.attribution-window }}' worth of data will be replicated for the `{{ table.name }}` **table**.
{% endfor %}

{% elsif total-attribution-count >= 2 %}
Every time Stitch runs a replication job for {{ integration.display_name }}, the last {{ integration.attribution-window }}' worth of data will be replicated for these tables:
{% for table in attribution-tables %}
- `{{ table.name }}`
{% endfor %}
{% endif %}
{% endif %}

Stitch replicates data in this way to account for updates made to existing records within the default attribution window of {{ integration.attribution-window }}, thus ensuring you won't make decisions based on stale (or false) data. **As a result, you may see a higher number of replicated rows than what's being generated in {{ integration.display_name }}**.

Setting the Replication Frequency to a higher frequency - like 30 minutes - can result in re-replicating recent data and contribute to high row counts. {% if integration.whitelist.tables == true %}Replicating fewer tables or selecting{% else %}Selecting{% endif %} a lower frequency can help prevent overages.