Next, you'll create a dedicated {{ integration.display_name }} user for Stitch and assign the Stitch role to it.

1. Using the global search, type `page: new employee` and click the **Page: New Employees** result.
2. In the Employee page, fill in the **Name**, **Email**, and any other required fields.
3. Click the **Access** tab, located in the bottom half of the page.
4. In the **Access** tab:
   1. Check the **Give Access** box.
   2. Check the **Manually assign or change password** box to create a password for the Stitch user.
   3. Enter a password in the **Password** field, then again in the **Confirm Password** field.
   4. In the **Roles** section, search the dropdown menu to locate the Stitch role you created in [Step {{ include.step-number }}](#{{ include.step-anchor }}).
   5. Click **Add** once you've located the role.
5. When finished, click **Save** to create the user.