{% assign integration-tables = site.integration-schemas | where:"tap",integration.name %}  

{% assign schema = integration-tables | where:"version",integration.this-version | sort:"name" %}


{% include misc/icons.html %}

{% capture full-access-note %}
Depending on which products are enabled in your {{ integration.display_name }} account, you might not see some of these permissions. **If you don't see a permission in your {{ integration.display_name }} account, skip it.**

For more info about these permissions and how they work within {{ integration.display_name }}, refer to {{ integration.display_name }}'s [Permissions Documentation](https://system.netsuite.com/app/help/helpcenter.nl?fid=section_N326485.html){:target="new"} spreadsheet, [which can be downloaded here from their help center](https://system.netsuite.com/core/media/media.nl?id=104726101&c=NLCORP&h=280cab9399b431b9b2ba&_xt=.xls){:target="new"}. You may need to log into {{ integration.display_name }} to access their documentation.
{% endcapture %}

{% include note.html first-line="**About NetSuite permissions**" content=full-access-note %}



<ul id="profileTabs" class="nav nav-tabs">
    <li class="active">
        <a href="#adding-permissions" data-toggle="tab">Adding permissions</a>
    </li>
    <li>
        <a href="#required-permissions" data-toggle="tab">Required permissions</a>
    </li>
    <li>
        <a href="#object-permissions" data-toggle="tab">Object permissions</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="adding-permissions">
{% capture add-permissions-instructions %}
**Refer to the other tabs in this section of the guide for the permissions you need to add**. 

To add a permission to the role:

1. In the **Permissions** tab, click a subtab. For example: **Transactions**
2. Using the **Permission** dropdown, search for the permission you want to add. Refer to the other tabs in this section for the permissions you need to add.
3. Using the **Level** dropdown, set the permission level to the corresponding level outlined in this guide:

   ![The Transactions subsection in the Permissions section of the NetSuite Create Role page]({{ site.baseurl }}/images/integrations/netsuite-role-permissions-tab.png)
4. Click **Add**.
5. Repeat these steps until all permissions in the **Required permissions** tab and the desired permissions in the **Object permissions** tab have been added.

**Note**: If you don't see a permission in {{ integration.display_name }} that is listed here, skip it. Some permissions are dependent on specific features being enabled in your {{ integration.display_name }} account.
{% endcapture %}

        {{ add-permissions-instructions | flatify | markdownify }}
    </div>

    <div role="tabpanel" class="tab-pane" id="required-permissions">
        {% assign required-permissions = site.data.taps.extraction.netsuite.netsuite-permissions.required | sort:"name" %}
        <p>
            These permissions are the minimum required to successfully connect Stitch to your {{ integration.display_name }} integration. While Stitch may be able to replicate some data using only these permissions, it is unlikely that Stitch will be able to replicate all possible {{ integration.display_name }} objects. Refer to the <strong>Object permissions</strong> tab to grant permissions for specific objects (tables).
        </p>

        <table class="attribute-list">
            <tr>
                
                <td width="40%; fixed">
                    <strong>Permission</strong>
                </td>
                <td width="20%; fixed">
                    <strong>Tab</strong>
                </td>
                <td>
                    <strong>Level</strong>
                </td>
            </tr>

            {% for permission in required-permissions %}
                {% if permission.version == "all" or permission.version == integration.this-version %}
                    <tr>
                        <td>
                            {{ permission.name }}
                        </td>
                        <td width="20%; fixed">
                            {{ permission.tab }}
                        </td>
                        <td>
                            {{ permission.level | default: "View" }}
                            {% if permission.level == "Full" %}
                            {{ question-icon | replace:"TOOLTIP","NetSuite only allows Full as the level for this permission, but this only grants read-only access." }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="object-permissions">
        <p>In the table below are object-specific permissions and the tables they correspond to. The permissions for a given table must be granted to the Stitch role in order to access and replicate data for the table.</p>
        <p>The columns in the table are as follows:</p>
        <ul>
            <li>{{ notice-icon | replace:"TOOLTIP","" }} - If present, the table corresponds to a feature or features that must be enabled in {{ integration.display_name }}. If the feature or features aren't enabled in your account, no data will be replicated for the table and the permission listed will not be available.</li>
            <li><strong>Table name</strong> - The name of the Stitch table.</li>
            <li><strong>Tab</strong> - The tab in the <strong>Create Role</strong> page that contains the permission.</li>
            <li><strong>Permission</strong> - The permission required to access and replicate data for the table.</li>
            <li><strong>Level</strong> - The level of permission required to access and replicate data for the table. This will usually be <strong>View</strong>.</li>
        </ul>

        <table class="attribute-list">
            <tr>
                <td>
                </td>

                <td>
                    <strong>Table name</strong>
                </td>

                <td>
                    <strong>Permission</strong>
                </td>

                <td width="20%; fixed">
                    <strong>Tab</strong>
                </td>

                <td>
                    <strong>Level</strong>
                </td>
            </tr>
            

            {% for table in schema %}
                <tr>
                    <td>
                    <!-- Use the table's key to get the permissions and required features (if any) -->
                        {% assign object = site.data.taps.extraction.netsuite.netsuite-permissions[table.key] %}

                        {% if object.feature-requirements %}
                            {% capture required-features-tooltip %}
                            Required {{ integration.display_name }} features:

                            <ul>
                            {% for feature in object.feature-requirements %}
                            <li>{% if feature.tab %}{{ feature.tab | flatify }} > {% endif %}{{ feature.name | flatify }}</li>
                            {% endfor %}
                            </ul>
                            {% endcapture %}
                            {{ notice-icon | replace:"TOOLTIP",required-features-tooltip }}
                        {% else %}
                        {% endif %}
                    </td>

                    <td>
                        <a href="#{{ table.name | slugify }}">{{ table.name }}</a>
                    </td>

                    <td>
                        {{ object.permission.name }}
                    </td>

                    <td>
                        {{ object.permission.tab }}
                    </td>

                    <td>
                        {{ object.permission.level | default: "View" }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>