name: Get new changelog entries
on:
  schedule:
    - cron: '0 5 * * 1'

jobs:
  generate-changelog:
    runs-on: [self-hosted, docker-in-docker]
    steps:
      - name: Get current date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Generate new branch name
        run: echo "branch=changelog-${{ env.date }}" >> $GITHUB_ENV

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Create new branch
        if: github.event.inputs.branch-option == 'Publish on a new branch'
        run: |
          git config --global user.email "lmilan@talend.com"
          git fetch
          git checkout master
          git branch ${{ env.branch }}
      
      - name: Checkout branch
        run: |
          git config --global user.email "lmilan@talend.com"
          git checkout ${{ env.branch }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.1'
          
      - name: Install Python modules
        uses: BSFishy/pip-action@v1
        with:
          packages: |
            snowflake.connector, requests, re, base64, json, datetime, os, pandas

      - name: Generate draft changelog files
        run: python changelog.py ${{ secrets.GH_TOKEN }} ${{ secrets.SNOWFLAKE_USER }} ${{ secrets.SNOWFLAKE_PASSWORD }}
        working-directory: ./scripts
      
      - name: Commit changes
        run: |
          git config --global user.email "lmilan@talend.com"
          git commit --allow-empty -am "Create changelog files"
      
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ env.branch }}

      - name: Create pull request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ${{ env.branch }}
          destination_branch: "master"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_label: "integration-changelog"
          pr_title: Changelog ${{ env.date }}
          pr_draft: true